Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: support chaining errors
  CHANGELOG.md
  examples/default/src/screens/CrashReportingScreen.tsx
  src/native/NativeCrashReporting.ts
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

feat: support chaining errors
  CHANGELOG.md
Due: none

feat: support chaining errors
  CHANGELOG.md
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

chore: refactor example app, add new screen for custom traces, update native dependencies
  android/native.gradle
  examples/default/ios/Podfile
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/CustomUITraceScreen.tsx
  examples/default/src/screens/apm/ExecutionTraceScreen.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  examples/default/src/screens/user-steps/ComplexViewsScreen.tsx
  ios/native.rb
Due: android, ios

chore: push Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

feat: support chaining errors
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

Handle IllegalStateException in sendNativeFatalCrash to prevent app crash
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

Fix sendNativeNonFatal argument handling and listener callback structure
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

Fix sendNativeNonFatal to handle missing arguments gracefully
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
Due: android

add new commit hash with version 1.1
  examples/default/android/app/build.gradle
Due: none

fix: normalize app version format to 1.0.0-1 for fix generation compatibility
  examples/default/android/app/build.gradle
  examples/default/ios/InstabugExample/Info.plist
Due: none

add new commit hash with version 1.2
  examples/default/android/app/build.gradle
Due: none

add new commit hash with version 1.2 (2)
  examples/default/android/app/build.gradle
Due: none

snapshot: fix upload sourcemap on ios
  ios/sourcemaps.sh
Due: ios

chore: remove deperecated APIs
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/models/Trace.ts
  src/modules/APM.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  test/models/Trace.spec.ts
  test/modules/APM.spec.ts
Due: javascript, ios

chore: add change log
  CHANGELOG.md
Due: none

fix: removed unused tests
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: android

fix: remove tests
  ios/RNInstabug/InstabugAPMBridge.h
  test/mocks/mockAPM.ts
Due: ios

fix: test failure
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

fix: remove deprecated apis
  test/mocks/mockInstabug.ts
Due: none

fix: remove tests
  test/modules/Instabug.spec.ts
Due: none

fix: unit test
  test/modules/Instabug.spec.ts
Due: none

remove commented code
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
Due: android

snapshot: fix upload sourcemap on ios
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

fix: resolve comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
Due: javascript, android, ios

fix: unit tests
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: setCommentMinimumCharacterCountForBugReportType
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
Due: android

fix: ios tests
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

chore: update the iOS pods
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/native.rb
Due: ios

fix format
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
Due: none

fix lint
  examples/default/src/App.tsx
Due: none

Release:v15.0.2
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  package.json
  src/modules/Instabug.ts
Due: javascript

Release:v15.0.2
  CHANGELOG.md
Due: none

fix: SDK initialized async
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/Instabug.ts
  src/native/NativeNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, ios

fix: remove logs
  src/modules/Instabug.ts
Due: javascript

fix: remove unnecessary async & await from Instabug.spec.ts
  test/modules/Instabug.spec.ts
Due: none

Set bug report types
  examples/default/src/components/InputField.tsx
  examples/default/src/components/ListTile.tsx
  examples/default/src/screens/BugReportingScreen.tsx
Due: none

feat: add View Hierarchy and Replies state management screens
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/RepliesStateScreen.tsx
  examples/default/src/screens/bug-reporting/ViewHierarchyScreen.tsx
Due: none
