Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

chore(example): resolve review comments
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

feat(example): add repro-steps button samples
  examples/default/src/App.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

fix(android): adjust multi label button string
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): format code docs
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): resolve review comments
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

test(ios): test native set network diagnostics callback
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: align the name of native method
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript, android

test: test network diagnostics callback in JS
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: none

fix(ios): add network diagnostics to supported events in module
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

snapshot/d11
  android/src/main/AndroidManifest.xml
  examples/default/android/build.gradle
  examples/default/ios/Podfile.lock
Due: android

feat: add support switching to native network interception
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
Due: javascript, android, ios

test(ios): add tests for enabling native network interception
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: none

test: add tests for enabling native network interception in JS
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
Due: none

fix(ios): verify correct method call in native tests
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix(android): resolve private views through UI manager directly
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

ci set d11 cluster url
  .circleci/config.yml
Due: none

feat: support `IdentifyUserWithId`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore(ios): resolve review comments
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(ios): resolve review comments
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

test: remove redundant `identifyUserWithId` mock
  test/mocks/mockInstabug.ts
Due: none

chore: resolve review comments
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript

test: re-arrange identifyUser arguments
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

chore(android): resolve review comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

refactor(ios): update identifyUser id param
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

feat: support identify user by id (#1115)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

ci: replace d11 cluster url in UploadSourcemaps (#1122)
  .circleci/config.yml
Due: none

fix(android): resolve private views through UI manager directly (#1121)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Revert "chore(android): Add maven for snapshots"
  android/native.gradle
Due: android

refactor(example): improve four tier button
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

chore(android): update snapshot with android sanity
  android/native.gradle
Due: android

feat: support switching to native network interception (#1120)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat(example): Add more sdk crashes buttons
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/src/components/PlatformListTie.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/native/NativeCrashReporting.ts
Due: javascript, android, ios

fix tests
  examples/default/ios/Podfile.lock
  src/native/NativePackage.ts
  test/mocks/mockNativeModules.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Surveys.spec.ts
Due: javascript
