Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: modify partial id generator test cases
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix: export number partial id
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: modify partial id generator function
  src/utils/InstabugUtils.ts
Due: javascript

feat(example): add network request generators buttons
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

ci: fix lint
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

ci(example): add missing import
  examples/default/package.json
  examples/default/yarn.lock
Due: none

feat(android): map apm network logs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat(android): add W3C native modules & tests
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
Due: android

feat: map w3c android native modules and test
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript

feat: register w3c feature change listener
  src/modules/Instabug.ts
Due: javascript

feat: add feature flags
  src/utils/FeatureFlags.ts
Due: javascript

feat: call updated feature flags
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: generated header injection
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: update object assigning
  src/utils/FeatureFlags.ts
Due: javascript

fix: modify test cases naming
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
Due: android

fix: remove comment
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix: fix variable neames
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugReactBridge.m
  test/utils/XhrNetworkInterceptor.spec.ts
Due: android, ios

fix: update test cases
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix(android): caught header null string
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix: update network log interface
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
  src/utils/Types.ts
Due: javascript

fix (example): remove redundant button
  examples/default/src/screens/HomeScreen.tsx
Due: none

feat (example): add Enable/Disable APM buttons
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

fix: add w3c Attributes to network logs tests
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: none

fix: fix imports
  src/native/NativeAPM.ts
Due: javascript

feat(android) : add w3c attributes to APM network Logs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

chore: remove flipper
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: adjust spacing
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

feat/support-capture-client-error-in-xhr-requests
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: update test case
  test/modules/APM.spec.ts
Due: none

feat: migrate-Feature-Flag-APM-method-to-Core
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
Due: javascript, android

fix: js testcases
  src/modules/Instabug.ts
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: js testcases
  examples/default/ios/Podfile.lock
Due: none

feat: add migrate APM into core in ios section
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

feat: add migrate APM into core in ios section
  examples/default/ios/Podfile.lock
Due: none

fix: Pr comments
  CHANGELOG.md
Due: none

fix: Pr comments
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
Due: javascript
