Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: dream11 manifest issue (#1105)
  scripts/dream-11-delete-unused-features.sh
Due: none

fix d11 package name in CI
  .circleci/config.yml
Due: none

feat add netWorkDiagnotiscsCallBack
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix hybrid mode code push version init
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(android): Add maven for snapshots
  android/native.gradle
Due: android

chore(android): integrate touched views extractor rn snapshot
  android/native.gradle
Due: android

chore(android): ignore jetbrains ide run configurations
  .gitignore
Due: none

feat_add_setNetworkDiagnositcsCall on android side
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/build.gradle
  examples/default/ios/Podfile.lock
Due: android

feat(example): Add nested complex views
  .gitignore
  examples/default/src/components/InputField.tsx
  examples/default/src/components/NestedView.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/ComplexViewsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat(android): support repro-steps for button
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

feat(example): add repro-steps button samples
  examples/default/src/App.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

chore: allow snapshot generation failing pipeline
  .circleci/config.yml
Due: none

refactor: rename Complex Components screen
  examples/default/src/navigation/HomeStack.tsx
Due: none

feat: Support masking in example components
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

fix: resolve nexted view id error
  examples/default/src/components/NestedView.tsx
Due: none

refactor: remove redundant PropsWithChildren
  examples/default/src/components/InputField.tsx
  examples/default/src/components/NestedView.tsx
Due: none

refactor: support passing ref to InputField
  examples/default/src/components/InputField.tsx
Due: none

feat(example): add nested complex views (#1111)
  .gitignore
  examples/default/src/components/InputField.tsx
  examples/default/src/components/NestedView.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/ComplexViewsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

chore(android): deprecate identifyUser
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

ci: migrate macos machines to m1
  .circleci/config.yml
Due: none

chore: change Podfile.lock cocoapods version to 1.12.0
  examples/default/ios/Podfile.lock
Due: none

chore(example): resolve review comments
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

chore(android): resolve review comments
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

add ios test cases
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/Instabug+CP.h
  ios/native.rb
  scripts/dream-11-delete-unused-features.sh
  src/modules/Instabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, ios

clean up
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  scripts/dream-11-delete-unused-features.sh
Due: android

clean up
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
Due: android, ios

clean up
  src/modules/Instabug.ts
Due: javascript

fix hybrid mode code push version init (#1108)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

add non fatal method d11
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: android, ios

snapshot d11
  .circleci/config.yml
  android/build.gradle
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/UploadSourcemaps.ts
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  examples/default/android/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/native.rb
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockSurveys.ts
Due: javascript, android, ios

add non fatal native methods
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios
