Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Revert "feat(example): add google maps screen (#1146)"
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/res/values/strings.xml
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/GoogleMapsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/yarn.lock
Due: none

fix: PR comment
  examples/default/android/app/src/main/cpp/crasher.c
  examples/default/android/app/src/main/cpp/crasher_2.c
  examples/default/android/app/src/main/cpp/crasher_2.h
  examples/default/android/app/src/main/cpp/crasher_3.c
  examples/default/android/app/src/main/cpp/crasher_3.h
  examples/default/android/app/src/main/cpp/crasher_4.cpp
  examples/default/android/app/src/main/cpp/crasher_4.h
Due: none

fix: Pod issue
  examples/default/ios/Podfile.lock
Due: none

feat: add runtime code push version API (#1143)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix: Pod issue
  examples/default/package.json
Due: none

feat: add new NDK crash scenarios to example app (#1139)
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/cpp/CMakeLists.txt
  examples/default/android/app/src/main/cpp/crasher.c
  examples/default/android/app/src/main/cpp/crasher_2.c
  examples/default/android/app/src/main/cpp/crasher_2.h
  examples/default/android/app/src/main/cpp/crasher_3.c
  examples/default/android/app/src/main/cpp/crasher_3.h
  examples/default/android/app/src/main/cpp/crasher_4.cpp
  examples/default/android/app/src/main/cpp/crasher_4.h
  examples/default/android/app/src/main/cpp/native-lib.cpp
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeLibs/CppNativeLib.java
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/yarn.lock
Due: none

fix complex-view merge issue
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
Due: none

fix: PR conflict
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: android

fix: PR issues
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

feat: add get session replay link API (#1142)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/SessionReplayScreen.tsx
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  src/modules/SessionReplay.ts
  src/native/NativeSessionReplay.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript, android, ios

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(android): bump sdk to v12.8.0
  android/native.gradle
Due: android

chore(android): bump sdk to v12.8.0 (#1149)
  CHANGELOG.md
  android/native.gradle
Due: android

release: v12.8.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v12.8.0 (#1150)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

feat: add network diagnostics callback
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/Instabug+CP.h
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat(example): add set user identification and attribute
  examples/default/src/components/VerticalListTile.tsx
  examples/default/src/screens/SettingsScreen.tsx
Due: none

feat(example): add set user identification and attribute
  examples/default/src/screens/SettingsScreen.tsx
Due: none

feat(example): add set user identification and attribute
  examples/default/src/navigation/RootTab.tsx
  examples/default/src/screens/SettingsScreen.tsx
Due: none

feat(example): customize chat settings
  examples/default/src/screens/RepliesScreen.tsx
Due: none

feat(example): add survey with token action
  examples/default/src/components/VerticalListTile.tsx
  examples/default/src/screens/SurveysScreen.tsx
Due: none

fix: dev merge issue
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/complex-views/ComplexViewsScreen.tsx
  examples/default/src/screens/user-steps/PrivateViewScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

fix(example): fix fatal hangs and ANR crash buttons
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

chore(example): optimize imports
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

feat(example): add large image list example (#1145)
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/LargeImageListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat: read api key from env file
  examples/default/.env
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/res/values/strings.xml
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: none

fix: pod-file version
  examples/default/ios/Podfile.lock
Due: none

refactor: export onPress functions to methods
  examples/default/src/screens/SurveysScreen.tsx
Due: none

fix: pr comments
  examples/default/src/screens/RepliesScreen.tsx
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
