Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

[MOB-10136] Collect Coverage Reports from iOS (#805)
  .circleci/config.yml
  codecov.yml
  example/ios/InstabugSample.xcodeproj/xcshareddata/xcschemes/InstabugSample.xcscheme
Due: none

Fix format issue
  .circleci/config.yml
Due: none

Fix format issue (#813)
  .circleci/config.yml
Due: none

Blacklist Instabug's API from Detox's network sync
  example/e2e/reportBug.e2e.js
Due: none

Wait for floating button to appear before pressing it
  example/e2e/reportBug.e2e.js
Due: none

[MOB-10387] Fix `e2e_ios` CI Flakiness (#814)
  example/e2e/reportBug.e2e.js
Due: none

Remove quotes around buildToolsVersion value
  android/gradle.properties
Due: android

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[MOB-10423] Fix `Invalid revision` error (#812)
  CHANGELOG.md
  android/gradle.properties
Due: android

Add Instabug to Other Linker Flags
  RNInstabug.podspec
Due: none

Enable minification when using Hermes on RN<0.65
  android/upload_sourcemap.sh
Due: android

[MOB-10538] Bump Dependencies (#821)
  package.json
  yarn.lock
Due: none

Fix example app Android build
  example/android/build.gradle
Due: none

Fix example app Android build (#827)
  example/android/build.gradle
Due: none

Add iOS mic and photo lib permissions to sample
  example/ios/InstabugSample/Info.plist
Due: none

Add iOS mic and photo lib permissions to sample (#829)
  example/ios/InstabugSample/Info.plist
Due: none

Add `Instabug.setEnabled` API
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
Due: javascript, android, ios

Add `Instabug.setEnabled` unit test
  tests/mocks/mockInstabug.js
  tests/modules/Instabug.spec.js
Due: none

Deprecate `Instabug.enable` and `Instabug.disable`
  src/modules/Instabug.ts
Due: javascript

Add `setDisclaimerText` API
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/modules/BugReporting.ts
Due: javascript, android, ios

Add `setDisclaimerText` unit test
  tests/mocks/mockBugReporting.js
  tests/modules/BugReporting.spec.js
Due: none

Add `setCommentMinimumCharacterCount` API
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/modules/BugReporting.ts
Due: javascript, android, ios

Add `setCommentMinimumCharacterCount` unit test
  tests/mocks/mockBugReporting.js
  tests/modules/BugReporting.spec.js
Due: none

Add `setDisclaimerText` native tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  example/ios/InstabugSampleTests/InstabugBugReportingTests.m
Due: android

Add `setEnabled` native tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  example/ios/InstabugSampleTests/InstabugSampleTests.m
Due: android

Add `setCommentMinimumCharacterCount` native tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  example/ios/InstabugSampleTests/InstabugBugReportingTests.m
Due: android

[MOB-10611] Add new APIs (#830)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  example/ios/InstabugSampleTests/InstabugBugReportingTests.m
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  tests/mocks/mockBugReporting.js
  tests/mocks/mockInstabug.js
  tests/modules/BugReporting.spec.js
  tests/modules/Instabug.spec.js
Due: javascript, android, ios

Bump Android SDK to `v11.6.0`
  CHANGELOG.md
  android/build.gradle
Due: android

Bump Android SDK to `v11.6.0` (#832)
  CHANGELOG.md
  android/build.gradle
Due: android

Bump iOS SDK to `v11.5.0`
  CHANGELOG.md
  RNInstabug.podspec
Due: none

Bump iOS SDK to `v11.5.0` (#833)
  CHANGELOG.md
  RNInstabug.podspec
Due: none

Enable minification when using Hermes on RN<0.65
  android/upload_sourcemap.sh
  ios/upload_sourcemap.sh
Due: android, ios

Sync `project.pbxproj`
  example/ios/InstabugSample.xcodeproj/project.pbxproj
Due: none

[MOB-10540] Fix Hermes Source Map Upload Scripts for RN < 0.65.0 (#834)
  CHANGELOG.md
  android/upload_sourcemap.sh
  example/ios/InstabugSample.xcodeproj/project.pbxproj
  ios/upload_sourcemap.sh
Due: android, ios

Add Romanian Locale
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/ArgsRegistry.ts
Due: javascript, android, ios

Add Romanian Locale (#835)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/ArgsRegistry.ts
Due: javascript, android, ios

Release 11.5.0
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

Release 11.5.0 (#836)
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android
