Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: increase coverage
  test/utils/FeatureFlags.spec.ts
Due: none

fix: increase unit test
  test/modules/Instabug.spec.ts
  test/utils/FeatureFlags.spec.ts
  test/utils/logger.spec.ts
Due: none

fix: use automasking snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: lint
  test/utils/FeatureFlags.spec.ts
Due: none

fix: update pod
  examples/default/ios/Podfile.lock
Due: none

fix: remove unused tests
  test/utils/FeatureFlags.spec.ts
Due: none

fix: pod files
  examples/default/ios/Podfile.lock
Due: none

fix: revert
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: rever
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore: Revert network spans
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModuleTest.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/InstabugNetworkLoggerTests.m
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/native/NativeNetworkLogger.ts
  src/native/NativePackage.ts
  src/utils/AppStatesHandler.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/AppStatesHandler.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

fix: use ios 14.3.0
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: sync pod file
  examples/default/ios/Podfile.lock
Due: none

Revert "Merge pull request #1353 from Instabug/feat/Auto-masking-screenshots-in-RN"
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
Due: javascript, android, ios

fix: fix linting
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix: revert android
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/InstabugReactBridge.h
  test/mocks/mockInstabug.ts
Due: android, ios

chore: (Android) bump sdk to v14.3.0
  CHANGELOG.md
  android/native.gradle
Due: android

fix: reformate change log
  CHANGELOG.md
Due: none

fix: lint
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

release: 14.3.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: add different request types to APM -> NetworkScreen.tsx
  .lh/examples/default/src/screens/apm/NetworkScreen.tsx.json
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

chore: add request filtering & obfuscation react-native logic
  .lh/src/native/NativeAPM.ts.json
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
Due: javascript, android, ios

chore: add iOS feature flag changes
  examples/default/ios/Podfile.lock
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
Due: javascript, ios

chore: remove APMNetworkEnabled flag from android
  .lh/src/modules/Instabug.ts.json
Due: none

chore: fix NetworkLogger.spec.ts failed tests
  .lh/src/modules/Instabug.ts.json
Due: none

chore: add unit tests and extract log messages
  .lh/src/modules/Instabug.ts.json
Due: none

refactor(example): upgrade to react native 0.75.4
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

feat: add w3c traceparent header injection (#1288)
  src/native/NativeAPM.ts
Due: javascript

fix: web-view screen crash in sample app
  examples/default/package.json
  examples/default/yarn.lock
Due: none

rebase: network-spans branch with dev branch
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  test/modules/Instabug.spec.ts
Due: none

chore: add ComplexViews to APM screen
  examples/default/src/components/CustomGap.tsx
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

chore: apply pr review comments
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
Due: javascript, ios

chore: fix APM screen layout on android platform
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

chore: apply pr review comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  src/modules/APM.ts
Due: javascript, android

fix: CI Podfile.lock conflict
  examples/default/ios/Podfile.lock
Due: none

chore: update CHANGELOG.md and Podfile.lock
  CHANGELOG.md
Due: none

chore: enhance inline code documentation for APM module.
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
Due: javascript, android, ios

chore(ios): bump sdk to v14.3.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios
