Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix(android): catch OOM & exceptions in network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

test: resolve issues in test due to changes
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
Due: none

chore: convert constants from enum to object
  src/utils/InstabugConstants.ts
Due: javascript

fix: correctly get request content type
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

test: remove remaining platform specific tests in network logger
  test/modules/NetworkLogger.spec.ts
Due: none

test: add tests for reportNetworkLog
  test/utils/InstabugUtils.spec.ts
Due: none

feat: omit request/response bodies exceeding 10 kbs
  src/modules/NetworkLogger.ts
  src/utils/InstabugConstants.ts
Due: javascript

chore: update changelog
  CHANGELOG.md
Due: none

feat: return upload result and allow disabling logs
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
Due: none

test: add unit tests for content type and max size limits
  test/mocks/mockInstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
Due: none

fix(android): add W3C External Trace Attributes placeholder
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

chore: add CHANGLOG
  CHANGELOG.md
Due: none

fix(android): resolve an OOM in network logs (#1244)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

fix(example): fix crash on reporting non fetal crash
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

fix(android): APM network logging(#1253)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix: use correct diff link for v13.0.0, v12.9.0 releases (#1198)
  CHANGELOG.md
Due: none

feat(ios): read env vars from .xcode.env in sourcemaps script (#1200)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

chore/update-podfile.lock
  examples/default/ios/Podfile.lock
Due: none

feat: add w3c header generator
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

ci:fix ios tests
  examples/default/ios/Podfile.lock
Due: none

ci:fix lint
  src/utils/InstabugUtils.ts
Due: javascript

feat:update header format test case title
  test/utils/InstabugUtils.spec.ts
Due: none

feat:update header format
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

ci:fix lint
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

feat:Inject the W3C Header to Network Requests
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

feat:remove tracestate
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

ci: fix ios test
  examples/default/ios/Podfile.lock
Due: none

feat: get feature flags from IOS
  RNInstabug.podspec
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  src/modules/APM.ts
  src/native/NativeAPM.ts
  src/utils/InstabugConstants.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, ios

fix: update native test cases naming
  examples/default/ios/InstabugTests/InstabugAPMTests.m
Due: none

fix: update APM test cases
  test/modules/APM.spec.ts
Due: none

fix: modify function naming
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
Due: javascript, ios

feat(ios): w3c logs mapping
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios
