Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: upload command
  CHANGELOG.md
Due: none

fix: upload command
  plugin/src/withInstabug.ts
  plugin/src/withInstabugIOS.ts
Due: none

fix(ios): service type mismatch
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Set bug report types
  examples/default/src/components/InputField.tsx
  examples/default/src/components/ListTile.tsx
  examples/default/src/screens/BugReportingScreen.tsx
Due: none

feat: enhance bug reporting functionality
  examples/default/src/components/ListTile.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingStateScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingTypesScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/ExtendedBugReportStateScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationEventsScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationOptionsScreen.tsx
  examples/default/src/screens/bug-reporting/SessionProfilerScreen.tsx
Due: none

fix: update crash reporting method for non-fatal native crashes
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

feat: add View Hierarchy and Replies state management screens
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/RepliesStateScreen.tsx
  examples/default/src/screens/bug-reporting/ViewHierarchyScreen.tsx
Due: none

feat: add bug reporting state management screen
  examples/default/ios/Podfile.lock
  examples/default/src/components/ListTile.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingStateScreen.tsx
Due: none

feat: add crash reporting screens and enhance navigation
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/components/Select.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/crash-reporting/CrashReportingStateScreen.tsx
  examples/default/src/screens/crash-reporting/FatalCrashesScreen.tsx
  examples/default/src/screens/crash-reporting/NDKCrashesStateScreen.tsx
  examples/default/src/screens/crash-reporting/NonFatalCrashesScreen.tsx
Due: none

feat: add User Consent screen and update navigation
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/UserConsentScreen.tsx
Due: none

fix(ios): fix test SetOverAirVersion
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: none

chore(android): bump android sdk to v15.0.1
  android/build.gradle
  android/native.gradle
Due: android

chore: bump android sdk to v15.0.1
  package.json
Due: none

chore(ios): bump SDK to v15.1.1
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: add changelog item
  CHANGELOG.md
Due: none

chore: fix sync_generated_files CI job
  examples/default/ios/Podfile.lock
Due: none

fix : mask private views in new architecture
  .circleci/config.yml
  android/sourcemaps.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix/dynamically update changelog on dashboard
  .circleci/config.yml
Due: none

feat: add-feature-flags-test-cases
  test/utils/FeatureFlags.spec.ts
Due: none

feat: add-feature-flags-test-cases
  test/utils/logger.spec.ts
Due: none

fix: increase unit test
  test/utils/InstabugUtils.spec.ts
Due: none

fix: increase coverage
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

add changelog
  CHANGELOG.md
Due: none

feat(ios): add getNetworkBodyMaxSize API
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore: add change log
  CHANGELOG.md
Due: none

Revert duplicate "feat(ios): add getNetworkBodyMaxSize API"
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore: edit a change log
  CHANGELOG.md
Due: none

chore: update test cases titles
  test/modules/Instabug.spec.ts
Due: none

chore: fix plugin version
  examples/default/android/build.gradle
Due: none

feat: respect be network body limit (#1397)
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugConstants.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, android, ios

feat: respect be network body limit (#1397)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugConstants.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, android, ios

chore: fix CI job
  examples/default/ios/Podfile.lock
Due: none

feat: add support for app variant
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: add support for app variant
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

feat: add support for app variant
  examples/default/ios/Podfile.lock
Due: none

Release/v15.0.1 (#1402)
  CHANGELOG.md
  RNInstabug.podspec
  android/build.gradle
  android/native.gradle
  examples/default/android/build.gradle
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: android, ios

feat: Support Advanced UI customization
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/react-native.config.js
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/models/ThemeConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript, android, ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
