Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix(ios): instabug import
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
Due: ios

fix(ios): remove duplicate API
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore(CI):revert old Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: update podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: fix CI
  examples/default/ios/Podfile.lock
Due: none

chore(android): add dependency
  examples/default/android/build.gradle
Due: none

Revert "chore: [revert] network spans (#1394)
  CHANGELOG.md
  RNInstabug.podspec
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModuleTest.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/InstabugNetworkLoggerTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/native/NativeNetworkLogger.ts
  src/native/NativePackage.ts
  src/utils/AppStatesHandler.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/AppStatesHandler.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

release (d11): v14.0.5
  CHANGELOG.md
  android/native.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release (d11): v14.0.5
  android/native.gradle
  examples/default/src/screens/HomeScreen.tsx
Due: android

feat: add manifest permissions
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
Due: none

feat: add manifest permissions
  plugin/src/withInstabug.ts
Due: none

feat: add manifest permissions
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
Due: none

chore(CI): fix sync_generated_files task
  examples/default/ios/Podfile.lock
Due: none

chore(android): update snapshot
  android/native.gradle
  examples/default/android/build.gradle
Due: android

chore(CI): fix ios sync
  examples/default/ios/Podfile.lock
Due: none

chore(ios): add respect BE network body limit custom build
  RNInstabug.podspec
  examples/default/ios/Podfile
Due: none

feat(ios): add getNetworkBodyMaxSize API
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

feat:add getNetworkBodyMaxSize API
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugConstants.ts
  test/mocks/mockInstabug.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript

chore(android): add respect network body limit snapshot
  android/native.gradle
  examples/default/android/build.gradle
Due: android

chore(ios): sync pdfile.lock
  examples/default/ios/Podfile.lock
Due: none

Revert "Merge pull request #1388 from Instabug/refactor/replace-reflection"
  android/native.gradle
  android/src/main/java/com/instabug/apm/networking/ApmNetworkLoggerHelper.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

Revert "Merge pull request #1388 from Instabug/refactor/replace-reflection" (#1396)
  android/native.gradle
  android/src/main/java/com/instabug/apm/networking/ApmNetworkLoggerHelper.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat(android): add getNetworkBodyMaxSize API
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

feat:add feature flag change listener for android
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: pod file.lock
  examples/default/ios/Podfile.lock
Due: none

chore: fix sync_generated_files CI job
  examples/default/ios/Podfile.lock
Due: none

chore: fix CI sync_generated_files job
  examples/default/ios/Podfile.lock
Due: none

hore: fix CI sync_generated_files job
  examples/default/ios/Podfile.lock
Due: none

fix: upload command
  .circleci/config.yml
  cli/commands/UploadEasUpdatesSourcemaps.ts
  cli/upload/uploadEasUpdatesSourcemaps.ts
Due: none

fix: upload command
  examples/default/yarn.lock
  src/utils/XhrNetworkInterceptor.ts
  tsconfig.json
Due: javascript

fix: upload command
  yarn.lock
Due: none

chore(ios): update custom build
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: upload command
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: upload command
  README.md
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
Due: none

fix: upload command
  README.md
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
