Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix podFile.lock
  examples/default/ios/Podfile.lock
Due: none

fix: prevent not sending the unSent xhrRequest
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

feat: fix find token script
  scripts/find-token.sh
Due: none

chore(ios): bump sdk to v14.3.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: add change log
  CHANGELOG.md
Due: none

fix: change log
  CHANGELOG.md
Due: none

chore: prepare snapshot for injazat
  README.md
  android/native.gradle
  android/sourcemaps.gradle
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  ios/sourcemaps.sh
  package.json
  yarn.lock
Due: android, ios

fix: add change log
  CHANGELOG.md
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

feat: enable auto masking screenshots in RN
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
Due: javascript, android, ios

fix: add unreleased in changelog
  CHANGELOG.md
Due: none

fix: linting
  .lh/CHANGELOG.md.json
  .lh/RNInstabug.podspec.json
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
Due: none

fix: linting
  .lh/examples/default/ios/Podfile.json
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: android

fix: update pod lock
  .lh/examples/default/ios/Podfile.lock.json
Due: none

run automask in main thread
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix:crash on non fatal
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

chore: add ios custom build
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: linting
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

fix: update pod lock
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

chore(android): bump sdk to v14.3.0
  android/native.gradle
Due: android

feat: stop capturing network body
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, android, ios

fix: add change log
  CHANGELOG.md
Due: none

feat: enhance android api
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

fix: linting
  CHANGELOG.md
Due: none

fix: remove unused files
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
Due: none

fix: pod file
  examples/default/ios/Podfile.lock
Due: none

cocoa pods version
  examples/default/ios/Podfile.lock
Due: none

fix: tests
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: android tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: crash on non fatal
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

fix: fetal crash
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

chore: use iOS sanity podspec
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore: resolve dev branch conflicts.
  examples/default/ios/Podfile
Due: none

chore: using network spans podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: pod version
  examples/default/ios/Podfile.lock
Due: none

fix: pods
  examples/default/ios/Podfile.lock
Due: none

fix: increase unit tests
  test/modules/Instabug.spec.ts
Due: none
