Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

release(d11):v13.0.3
  .circleci/config.yml
Due: none

ci: fix d11 pipeline
  .circleci/config.yml
Due: none

ci: fix d11 pipeline
  examples/default/ios/Podfile.lock
  package.json
Due: none

fix pr comments
  CHANGELOG.md
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
Due: android

fix pr comments
  android/src/main/AndroidManifest.xml
Due: android

fix pr comments
  CHANGELOG.md
Due: none

fix: use correct diff link for v13.0.0 release
  CHANGELOG.md
Due: none

fix: use correct diff link for v12.9.0 release
  CHANGELOG.md
Due: none

fix: use correct diff link for v13.0.0, v12.9.0 releases (#1198)
  CHANGELOG.md
Due: none

remove apm
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.m
Due: ios

fix: PR comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/src/screens/CrashReportingScreen.tsx
  src/models/InstabugConfig.ts
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  src/utils/Enums.ts
  src/utils/InstabugUtils.ts
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/UnhandledRejectionTracking.spec.ts
Due: javascript, android

fix: PR comments
  test/modules/CrashReporting.spec.ts
Due: none

fix: PR comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/src/screens/CrashReportingScreen.tsx
  src/models/InstabugConfig.ts
  src/models/NonFatalOptions.ts
  src/modules/CrashReporting.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
  test/modules/CrashReporting.spec.ts
Due: javascript, android

chore: integrate android snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore: integrate ios snapshot
  RNInstabug.podspec
Due: none

fix: use ios snapshit in example
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore: revert cocoapods version change
  examples/default/ios/Podfile.lock
Due: none

feat(ios): read env vars from .xcode.env in sourcemaps script
  ios/sourcemaps.sh
Due: ios

chore: update xcode project
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

snapshot: add extra logs for Instabug FAB issue
  android/build.gradle
  android/native.gradle
Due: android

snapshot: add extra logs for Instabug FAB issue
  .circleci/config.yml
Due: none

chore: bump npm version to v13.0.3
  examples/default/ios/Podfile.lock
  package.json
Due: none

chore(android): bump sdk to v13.0.1
  android/native.gradle
Due: android

fix ci
  .circleci/config.yml
Due: none

ci: lock android machine to tag 2024.01.1
  .circleci/config.yml
Due: none

ci: restrict enterprise release jobs branches
  .circleci/config.yml
Due: none

ci: lock android machine to tag 2024.01.1 (#1204)
  .circleci/config.yml
Due: none

snapshot:
  android/native.gradle
Due: android

snapshot:
  .circleci/config.yml
Due: none

ci: restrict enterprise release jobs branches (#1205)
  .circleci/config.yml
Due: none

feat(ios): read env vars from .xcode.env in sourcemaps script (#1200)
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

chore(android): bump sdk to v13.0.3
  android/native.gradle
Due: android

chore(android): bump sdk to v13.0.3 (#1206)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v13.0.3
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
