Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

docs: update changelog.md
  CHANGELOG.md
Due: none

chore: update outdated jest config format (#1042)
  jest.config.js
Due: none

test: pass android `setNDKCrashesEnabled` test
  test/modules/CrashReporting.spec.ts
Due: none

test: test `setNDKCrashesEnabled` for ios
  test/modules/CrashReporting.spec.ts
Due: none

fix: fix and enhance AGP namespace support (#1044)
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
Due: android

fix: disable namespace support for AGP 7.3.0
  android/build.gradle
Due: android

chore: integrate android snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore(android): bump sdk to v12.2.0
  android/native.gradle
Due: android

chore: use promises in fatal crash reporting and add logs
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

chore: TEMPORARILY disable tests before snapshot generation
  .circleci/config.yml
Due: none

chore: TEMPORARILY enable debug crash reporting
  src/utils/InstabugUtils.ts
Due: javascript

fix(ios): sync javascript crashes with promises
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

chore: update changelog
  CHANGELOG.md
Due: none

chore(ios): add setCurrentPlatform to Instabug category
  ios/RNInstabug/Util/Instabug+CP.h
Due: ios

feat(ios): add RNInstabug for native-side initialization
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
Due: ios

refactor(ios): utilize RNInstabug inside the bridge
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix(ios): remove duplicate InstabugReactLogFunction
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore(ios): set debug log level before starting sdk
  ios/RNInstabug/RNInstabug.m
Due: ios

chore(ios): sync JavaScript fatal crashes through promises (#1054)
  CHANGELOG.md
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

chore(android): bump sdk v12.2.0 (#1052)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v12.2.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

test(ios): add tests for RNInstabug init
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/RNInstabug.m
Due: ios

test(ios): change Instabug bridge test to use RNInstabug
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

chore(ios): bump sdk v12.2.0 (#1053)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

fix: enable iOS screenshot capture for SR and CR
  src/modules/Instabug.ts
Due: javascript

fix(ios): enable screenshots for crashes & sessions (#1055)
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

chore: add instabug plugin for http interception
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
Due: none

fix(android): sync javascript crashes with promises
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  src/utils/InstabugUtils.ts
Due: javascript, android

feat(ios): add native-side init API for startup crashes (#1056)
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  ios/RNInstabug/Util/Instabug+CP.h
Due: ios

chore: bump instabug-reactnative version to v12.2.0
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android
