Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

map: custom app rating api
  APM-19535 SDK CP-RN App Flows.patch
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  credentials_app_flows.patch
  examples/default/android/key.properties
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix: lint issue
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

fix: Unexpected token (??) on old version
  CHANGELOG.md
Due: none

fix: Unexpected token (??) on old version
  src/modules/Instabug.ts
Due: javascript

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: lint issue
  CHANGELOG.md
Due: none

fix: lint issue
  src/modules/Instabug.ts
Due: javascript

fix: use correct string type in network diagnostics handler (#1160)
  src/modules/Instabug.ts
Due: javascript

ci: fix android image deprecation
  .circleci/config.yml
Due: none

snapshot: d11
  src/utils/InstabugUtils.ts
Due: javascript

insanity for injazat
  android/native.gradle
  cli/UploadSourcemaps.ts
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  package.json
Due: android

d11
  src/utils/InstabugUtils.ts
Due: javascript

d11
  ios/native.rb
Due: ios

WIP: test-native-interception-for-dream11
  .eslintrc.js
  android/build.gradle
  android/native.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/screens/APMScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  package.json
  src/modules/APM.ts
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/utils/XhrNetworkInterceptor.ts
  yarn.lock
Due: javascript, android

remove danger
  package.json
  src/utils/InstabugUtils.ts
Due: javascript

ci: upgrade android orb from 2.0 to 2.5.0 (latest). upgrade node orbe from 5.1.0 to 5.2.0 (latest). upgrade the deprecated android image 2022.04.1 to 2024.01.1-ndk
  .circleci/config.yml
Due: none

ci: set node version to default
  .circleci/config.yml
Due: none

ci: set node version to '20.11.1'
  .circleci/config.yml
Due: none

fix(android) : OOM error in network log (#1162)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

Release:12.9.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

ci: remove [node/install-yarn] from .circleci config.yml
  .circleci/config.yml
Due: none

ci: apply yarn format:fix
  .circleci/config.yml
Due: none

ci: upgrade android orb, node orb and android image (#1176)
  .circleci/config.yml
Due: none

Release: 12.9.0 (#1181)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

WIP: test-native-interception-for-dream11
  .eslintrc.js
  android/build.gradle
  android/native.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  package.json
  src/modules/APM.ts
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/utils/XhrNetworkInterceptor.ts
  yarn.lock
Due: javascript, android

Update src/modules/APM.ts
  src/modules/APM.ts
Due: javascript

Update native.gradle
  android/native.gradle
Due: android

chore: add android logs snapshot
  .circleci/config.yml
  android/native.gradle
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
Due: android

chore: update ios snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: add android non fatal snapshot
  .circleci/config.yml
  android/native.gradle
Due: android

Update src/modules/APM.ts
  src/modules/APM.ts
  src/native/NativeAPM.ts
Due: javascript

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
