Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

snapshot: extra logs for network grouping issue
  android/build.gradle
  android/native.gradle
Due: android

chore: run yarn bootstrap
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
Due: none

fix: update podfile
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

revert cocoapods version
  examples/default/ios/Podfile.lock
Due: none

fix: Pr comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: resolve issues with tests
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.m
Due: ios

fix: remove unused file in ios
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
Due: ios

fix: remove unused file in ios
  .circleci/config.yml
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
Due: none

fix: remove unused file in ios
  ios/RNInstabug/InstabugReactBridge.h
Due: ios

ci: generalize enterprise releases (#1275)
  .circleci/config.yml
Due: none

ci: run test jobs before dream11 release
  .circleci/config.yml
Due: none

ci(android): add dream11 maven repo
  examples/default/android/build.gradle
Due: none

chore: fixate instabug api endpoints
  examples/default/android/app/src/main/res/raw/instabug_config.json
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/Instabug.plist
  scripts/customize-ios-endpoints.sh
Due: none

chore: support pattern replace in replace script
  scripts/replace.js
Due: none

chore: remove unused imports
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

ci: make dream11 script platform-agnostic
  scripts/dream-11-delete-unused-features.sh
Due: none

ci: collect coverage in main tests only
  .circleci/config.yml
Due: none

style: format
  examples/default/android/build.gradle
Due: none

ci: run tests before enterprise releases (#1271)
  .circleci/config.yml
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/android/app/src/main/res/raw/instabug_config.json
  examples/default/android/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/Instabug.plist
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  scripts/customize-ios-endpoints.sh
  scripts/dream-11-delete-unused-features.sh
  scripts/replace.js
Due: ios

ci: publish snapshots to npm
  .circleci/config.yml
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
  scripts/snapshot-version.sh
Due: none

chore: use CIRCLE_PULL_REQUEST to get PR number
  scripts/snapshot-version.sh
Due: none

ci: publish snapshots to npm (#1274)
  .circleci/config.yml
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
  scripts/snapshot-version.sh
Due: none

Fix: omitted non-error objects when logging errors
  CHANGELOG.md
  src/modules/CrashReporting.ts
Due: javascript

Fix: omitted non-error objects when logging errors
  src/modules/CrashReporting.ts
Due: javascript

Adding buttons to ReactNative
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

Code Refactor
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
Due: none

Code Refactoring
  examples/default/src/screens/apm/HttpScreen.tsx
Due: none

Fix prettier issues
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

Code Refactor Latest
  examples/default/src/screens/apm/HttpScreen.tsx
Due: none

feat(android): add SRSyncCallback
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
Due: android

feat: implement and test syncCallback CP side
  src/modules/SessionReplay.ts
  src/native/NativeSessionReplay.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript

feat(example): use SRSyncCallback in example app
  examples/default/src/App.tsx
Due: none

ci: fix tests
  examples/default/src/App.tsx
  src/modules/SessionReplay.ts
Due: javascript

feat: apply iOS changes Network
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/android/build.gradle
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  package.json
  src/models/NetworkSnapshot.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugConstants.ts
Due: javascript, android, ios

Add Objective C Implementation
  examples/default/yarn.lock
  ios/RNInstabug.xcodeproj/project.pbxproj
  ios/RNInstabug/CPNetworkLoggingObserverDelegateImp.h
  ios/RNInstabug/CPNetworkLoggingObserverDelegateImp.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.m
  package.json
  yarn.lock
Due: ios

fix: export session data type
  src/index.ts
  src/modules/SessionReplay.ts
Due: javascript

fix(example): use session data type
  examples/default/src/App.tsx
Due: none

fix(android):remove data modifier
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix(android): add property modifiers
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
