Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix(ios): disable auto capturing of native network logs (#1018)
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

chore(ios): bump sdk to 11.14.0 (#1020)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-12609] Unify Discard Alert Buttons Strings (#1001)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript, android, ios

chore: bump up react-native dependencies (#1007)
  .circleci/config.yml
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/settings.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  package.json
  src/native/NativeCrashReporting.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  yarn.lock
Due: javascript

fix: update PR link format in changelog (#1017)
  CHANGELOG.md
Due: none

feat: support unhandled promise rejection crashes (#1014)
  CHANGELOG.md
  examples/default/metro.config.js
  examples/default/src/screens/CrashReportingScreen.tsx
  src/modules/Instabug.ts
  src/promise.d.ts
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockHermesInternal.ts
  test/mocks/mockPromiseRejectionTracking.ts
  test/setup.ts
  test/utils/UnhandledRejectionTracking.spec.ts
  tsconfig.test.json
Due: javascript

refactor: use anonymous class instead of lambda (#1016)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(android): bump sdk to 11.14.0 (#1019)
  CHANGELOG.md
  android/native.gradle
  test/modules/Instabug.spec.ts
Due: android

[MOB-12515] Support React Native 0.73 (#1004)
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
Due: android

feat: report startup crashes on android (#1012)
  CHANGELOG.md
  android/build.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

refactor: extract shared crash reporting logic (#1010)
  .gitignore
  src/modules/CrashReporting.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

chore: update sdk version to v11.14.0 (#1028)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

[MOB-12640] Unify Repro Steps List Item Title String (#1002)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: add new repro steps api (#1024)
  CHANGELOG.md
  README.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: deprecate old bug content string keys (#1026)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/Enums.ts
Due: javascript, android, ios

[MOB-12702] Remove danger ruby package (#1008)
  Gemfile
  Gemfile.lock
Due: none

ci: allow access to env vars in github message
  .circleci/config.yml
Due: none

ci: add snapshot generation job
  .circleci/config.yml
Due: none

fix: ci notify github json message
  .circleci/config.yml
Due: none

ci: setup git to commit
  .circleci/config.yml
Due: none

ci: post a comment on github
  .circleci/config.yml
Due: none

ci: force push snapshot branch
  .circleci/config.yml
Due: none

fix: escape special ` character
  .circleci/config.yml
Due: none

chore: format CircleCI config
  .circleci/config.yml
Due: none

fix: backslash escaping in github json message
  .circleci/config.yml
Due: none

fix: escape special \n character
  .circleci/config.yml
Due: none

ci: use template for snapshot comment
  .circleci/config.yml
  scripts/snapshot-comment.md
Due: none

ci: temporarily disable requirements for hold snapshot
  .circleci/config.yml
Due: none

ci: fix typo in branch env var
  .circleci/config.yml
Due: none

ci: use snapshot branch name convention
  .circleci/config.yml
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
Due: none

chore: add shebang
  scripts/snapshot-branch.sh
Due: none

ci: extract notify github into shell script
  .circleci/config.yml
  scripts/notify-github.sh
Due: none

ci: run notify github directly
  .circleci/config.yml
Due: none

ci: allow customizing snapshot branch
  scripts/snapshot-branch.sh
Due: none

chore: update snapshot branch shebang
  scripts/snapshot-branch.sh
Due: none

fix: multiline variable strings in shell scripts
  scripts/notify-github.sh
  scripts/snapshot-branch.sh
Due: none

ci: wrap in quotes when exporting to bash env
  .circleci/config.yml
Due: none

fix: remove newline added by `xargs`
  .circleci/config.yml
  scripts/snapshot-branch.sh
Due: none

ci: remove \r in snapshot name
  scripts/snapshot-branch.sh
Due: none
