Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: add expo sourcemap support
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

feat: add expo sourcemap support
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

feat: add expo sourcemap support
  .circleci/config.yml
  android/sourcemaps.gradle
Due: android

feat: add expo sourcemap support
  android/sourcemaps.gradle
Due: android

feat: add netinfo check in network screen
  CHANGELOG.md
  examples/default/package.json
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
Due: none

chore(example): revert old example app
  examples/default/src/screens/HomeScreen.tsx
Due: none

chore (example): fix lint
  examples/default/src/screens/HomeScreen.tsx
Due: none

feat: update sourcemaps.gradle
  android/sourcemaps.gradle
  scripts/find-token.js
  scripts/find-token.sh
Due: android

chore(android): integrate with expo updates android snapshot
  android/native.gradle
Due: android

feat(android): add setOverAirVersion API
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

feat: update sourcemaps.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

feat: update sourcemaps.gradle
  plugin/src/withInstabug.ts
Due: none

feat: update sourcemaps.gradle
  plugin/src/withInstabug.ts
  plugin/src/withInstabugIOS.ts
Due: none

chore: add changelog item
  CHANGELOG.md
Due: none

chore(android): remove log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(iOS): fix failing CI
  examples/default/ios/Podfile.lock
Due: none

chore(ios): workaround failing CI
  examples/default/ios/Podfile.lock
Due: none

feat: support bug reporting user consents (#1383)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/BugReporting.ts
  src/native/NativeBugReporting.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
  test/mocks/mockBugReporting.ts
Due: javascript, android, ios

feat: update sourcemaps.gradle
  android/sourcemaps.gradle
  hooks/src/index.ts
  hooks/tsconfig.json
  post-publish.js
  rollup.config.js
Due: android

feat: add change log
  CHANGELOG.md
Due: none

chore: edit changelog
  CHANGELOG.md
Due: none

feat/xcode-16-support (#1384)
  CHANGELOG.md
  RNInstabug.podspec
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/InstabugTests/Util/IBGCrashReporting+CP.h
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/ios/native/CrashReportingExampleModule.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  ios/RNInstabug/Util/IBGCrashReporting+CP.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/RNInstabug/Util/Instabug+CP.h
  ios/native.rb
  scripts/customize-ios-endpoints.sh
Due: android, ios

add js unit test
  test/modules/Instabug.spec.ts
Due: none

feat: add change log
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
Due: none

ci: fix ci running
  examples/default/ios/Podfile.lock
Due: none

ci: fix ci running
  android/native.gradle
Due: android

Revert "chore: [revert] network spans and screenshot auto masking (#1374)"
  RNInstabug.podspec
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModuleTest.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/InstabugNetworkLoggerTests.m
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/native/NativeNetworkLogger.ts
  src/native/NativePackage.ts
  src/utils/AppStatesHandler.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/AppStatesHandler.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

feat: Added more search capabilities to the find-token.sh
  CHANGELOG.md
  scripts/find-token.sh
Due: none

feat: Added more search capabilities to the find-token.sh (#1366)
  CHANGELOG.md
  scripts/find-token.sh
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: fix lint for CHANGELOG.md
  CHANGELOG.md
Due: none

fix: prevent not sending the unSent xhrRequest (#1365)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

feat: enable/disable auto masking screenshots in rn (#1389)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: add permissions
  cli/commands/UploadEasUpdatesSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadEasUpdatesSourcemaps.ts
  hooks/src/index.ts
  hooks/tsconfig.json
  plugin/src/withInstabug.ts
  plugin/src/withInstabugIOS.ts
  post-publish.js
  rollup.config.js
  yarn.lock
Due: none

feat support sourcemap expo
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
Due: none

feat support sourcemap expo
  rollup.config.js
Due: none

chore: update ios pods
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios
