Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix(ios): fix selector typo
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix: format files
  CHANGELOG.md
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/src/screens/HomeScreen.tsx
  ios/native.rb
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript, android, ios

fix: format files
  examples/default/src/screens/HomeScreen.tsx
  ios/RNInstabug/InstabugReactBridge.m
  src/models/FeatureFlag.ts
  src/models/IBGFeatureRequest.ts
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, ios

fix: format files
  src/modules/Instabug.ts
Due: javascript

feat: export upload utils
  .gitignore
  cli/commands/UploadSoFiles.ts
  cli/commands/UploadSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  examples/default/scripts/upload.ts
  rollup.config.js
  tsconfig.upload.json
  upload/package.json
Due: none

feat: support app flows
  CHANGELOG.md
  examples/default/ios/Podfile
Due: none

feat(example): Add delayed button
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
Due: none

build(example): add backgroundTimer package
  examples/default/package.json
  examples/default/yarn.lock
Due: none

feat(example): add apm screen
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

docs: update changelog.md
  CHANGELOG.md
Due: none

style(example): format files
  examples/default/src/components/InputField.tsx
Due: none

chore: remove ios snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix(android): catch OOM & exceptions in network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

refactor(ios): pass network log data as parameters & remove reflection
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

chore: omit request/response body with an unsupported content type in network logs
  src/modules/NetworkLogger.ts
Due: javascript

refactor(android): pass network log data as parameters
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update native modules method signatures
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript

chore(android): check for network error in APM network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

test: resolve issues in test due to changes
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
Due: none

test: add tests for reportNetworkLog
  test/utils/InstabugUtils.spec.ts
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

test: remove remaining platform specific tests in network logger
  test/modules/NetworkLogger.spec.ts
Due: none

chore: remove unused upload.ts script
  examples/default/scripts/upload.ts
Due: none

fix: format files
  CHANGELOG.md
Due: none

fix: format files
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

fix: correctly get request content type
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

feat: omit request/response bodies exceeding 10 kbs
  src/modules/NetworkLogger.ts
  src/utils/InstabugConstants.ts
Due: javascript

fix: update APMNetworkLogger.log reflection signature
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

chore: convert constants from enum to object
  src/utils/InstabugConstants.ts
Due: javascript

feat(example): add apm screen (#1141)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
