Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

refactor(example): make refresh control a hook
  examples/default/src/components/DelayedRefreshControl.tsx
  examples/default/src/screens/FlatListScreen.tsx
  examples/default/src/screens/ScrollViewScreen.tsx
  examples/default/src/screens/SectionListScreen.tsx
  examples/default/src/utils/useDelayedRefresh.ts
Due: none

refactor(example): separate basic components user steps screen
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/BasicComponentsScreen.tsx
  examples/default/src/screens/UserStepsScreen.tsx
Due: none

chore(example): add empty user steps screen
  examples/default/ios/Podfile.lock
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/UserStepsScreen.tsx
Due: none

feat(example): add refresh control in scrollables
  examples/default/src/components/DelayedRefreshControl.tsx
  examples/default/src/screens/FlatListScreen.tsx
  examples/default/src/screens/ScrollViewScreen.tsx
Due: none

feat(example): add basic components to user steps screen
  examples/default/src/components/Section.tsx
  examples/default/src/images/logo.png
  examples/default/src/screens/UserStepsScreen.tsx
Due: none

feat(example): add section list
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/SectionListScreen.tsx
  examples/default/src/screens/UserStepsScreen.tsx
Due: none

feat(example): add slider to basic components
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/screens/BasicComponentsScreen.tsx
  examples/default/yarn.lock
Due: none

chore(example): setup reanimated and gesture handler
  examples/default/babel.config.js
  examples/default/index.js
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/GesturesScreen.tsx
  examples/default/src/screens/UserStepsScreen.tsx
  examples/default/yarn.lock
Due: none

feat(example): add swipe example
  examples/default/src/screens/GesturesScreen.tsx
Due: none

chore: revert cocoapods lock version change
  examples/default/ios/Podfile.lock
Due: none

feat(example): add tap, double tap, swipe and pinch gestures
  examples/default/src/screens/GesturesScreen.tsx
Due: none

chore(android): bump sdk to v12.4.1
  android/native.gradle
Due: android

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(android): bump sdk to v12.4.1 (#1076)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v12.4.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(ios): bump sdk to v12.4.0 (#1074)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: bump instabug-reactnative version to v12.4.0
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v12.4.0 (#1077)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

fix(android): get application through react context (#1069)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(android): sync JS fatal crashes via promises (#1071)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  src/utils/InstabugUtils.ts
Due: javascript, android

chore: move user steps screens to a directory
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/FlatListScreen.tsx
  examples/default/src/screens/user-steps/GesturesScreen.tsx
  examples/default/src/screens/user-steps/ScrollViewScreen.tsx
  examples/default/src/screens/user-steps/SectionListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

fix: update image path in basic components
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

feat(example): add user steps demos (#1047)
  examples/default/babel.config.js
  examples/default/index.js
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/Screen.tsx
  examples/default/src/components/Section.tsx
  examples/default/src/images/logo.png
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/FlatListScreen.tsx
  examples/default/src/screens/user-steps/GesturesScreen.tsx
  examples/default/src/screens/user-steps/ScrollViewScreen.tsx
  examples/default/src/screens/user-steps/SectionListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/src/utils/createList.ts
  examples/default/src/utils/useDelayedRefresh.ts
  examples/default/yarn.lock
Due: none

feat(ios): support code push
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
Due: ios

feat(android): support code push
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

chore(android): integrate packages conflict snapshot
  android/build.gradle
  android/native.gradle
Due: android

fix: disable namespace support for AGP 7.3.0
  android/build.gradle
Due: android

chore(android): integrate early crashes snapshot
  android/native.gradle
Due: android

chore(ios): integrate crashes attachment snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

feat: support code push
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

Revert "chore(android): integrate current view discrepancy fix snapshot"
  android/native.gradle
Due: android

chore(android): integrate revert ANR in report screen change snapshot
  android/native.gradle
Due: android

chore(android): integrate ANR snapshot
  android/native.gradle
Due: android

chore(android): integrate crashes attachment logs snapshot
  android/native.gradle
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
