Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: escape dependency
  .circleci/config.yml
Due: none

feat: expo-sourcemap-support (#1392)
  CHANGELOG.md
  README.md
  android/sourcemaps.gradle
  app.plugin.js
  cli/commands/UploadEasUpdatesSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadEasUpdatesSourcemaps.ts
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  expo.d.ts
  expo.js
  ios/sourcemaps.sh
  package.json
  plugin/src/index.ts
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
  plugin/tsconfig.json
  rollup.config.js
  scripts/find-token.js
  scripts/find-token.sh
Due: android, ios

feat: remove deprecated APis
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.m
Due: ios

fix: CHANGELOG.md
  CHANGELOG.md
Due: none

feat: support expo updates (#1391)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/HomeScreen.tsx
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/models/OverAirUpdate.ts
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: bump ios SDK to v16.0.2
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

fix: sample app
  examples/default/android/build.gradle
  examples/default/ios/native/CrashReportingExampleModule.m
  examples/default/src/screens/SettingsScreen.tsx
  package.json
  plugin/src/pluginProps.ts
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
  yarn.lock
Due: none

fix: expo-plugin (#1438)
  .circleci/config.yml
  package.json
  src/models/OverAirUpdate.ts
  yarn.lock
Due: javascript

fix CHANGELOG.md
  CHANGELOG.md
Due: none

ci: fix custom release package (#1445)
  .circleci/config.yml
Due: none

Snapshot:v14.1.0
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/InstabugTests/Util/IBGCrashReporting+CP.h
  examples/default/ios/Podfile.lock
  examples/default/ios/native/CrashReportingExampleModule.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  ios/RNInstabug/Util/IBGCrashReporting+CP.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/RNInstabug/Util/Instabug+CP.h
  ios/native.rb
  scripts/dream-11-delete-unused-features.sh
Due: ios

Snapshot:v14.1.0
  .circleci/config.yml
Due: none

Snapshot:v14.1.0
  examples/default/ios/Podfile.lock
Due: none

Snapshot:v14.1.0
  scripts/customize-ios-endpoints.sh
Due: none

Release:v16.0.1
  CHANGELOG.md
  android/sourcemaps.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Release:v16.0.2
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: ios

Update settings screen to include user data, events, tags
  examples/default/src/components/VerticalListTile.tsx
  examples/default/src/screens/settings/SettingsScreen.tsx
Due: none

fix: failing upload sourcemaps on android
  android/sourcemaps.gradle
Due: android

update sample app logging
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/settings/SettingsScreen.tsx
Due: none

Refactor callback screen
  examples/default/src/screens/CallbackHandlersScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
Due: none

Update callback handler to be inside settings, bug reporting
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/settings/SettingsScreen.tsx
Due: none

Release:v16.0.4
  CHANGELOG.md
  android/sourcemaps.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Release:v16.0.3
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  package.json
Due: none

Release:v16.0.3
  examples/default/ios/Podfile.lock
Due: none

Release:v16.0.3
  android/sourcemaps.gradle
Due: android

Release:v16.0.3 (#1455)
  android/sourcemaps.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Release:v16.0.4
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  package.json
Due: none

Release:v16.0.4
  examples/default/ios/Podfile.lock
Due: none

Replace jcenter with mavenCentral in build.gradle
  android/build.gradle
Due: android

CI: ignore Android e2e
  .circleci/config.yml
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
