Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

chore(ios): bump sdk to v13.4.2
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: update changelog
  CHANGELOG.md
Due: none

chore: add request filtering & obfuscation react-native logic
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
Due: javascript, android, ios

chore: add NetworkLogger module
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/yarn.lock
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeNetworkLogger.ts
  src/native/NativePackage.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockNetworkLogger.ts
Due: javascript, android, ios

Revert "fix(ios): update network log signature" This reverts commit 8d9036e2020be91147670eb20a4cd98e4bda0a02.
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

chore(ios): update snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: ios network logging test after reverting
  test/utils/InstabugUtils.spec.ts
Due: none

chore: update release date in changelog
  CHANGELOG.md
Due: none

release: v13.4.0 (#1285)
  CHANGELOG.md
  android/build.gradle
  android/native.gradle
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  package.json
Due: android, ios

fix: convert sendEvent arg from writable to readable map
  android/src/main/java/com/instabug/reactlibrary/utils/EventEmitterModule.java
Due: android

chore(android): update snapshot
  android/native.gradle
Due: android

fix(android): refactor getSessionMetadataMap to tolerate null values
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix(ios): update fulfill exception wait time in test
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

Fix formatting issues
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
Due: none

chore: add iOS feature flag changes
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/modules/Instabug.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

fix(android): convert session metadat map to readable map
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

chore: update docs
  src/models/SessionMetadata.ts
  src/utils/Enums.ts
Due: javascript

chore: add iOS obfuscation & request filtering
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/native/NativeNetworkLogger.ts
Due: javascript, android, ios

Support Obfuscation & Filtering
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

Resolving comments
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/utils/showNotification.ts
Due: none

Resolving last comment
  examples/default/src/screens/apm/HttpScreen.tsx
Due: none

Removing Redundant Comment
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

chore: add ndk package
  core/LICENSE
  dangerfile.ts
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  ndk/.circleci/config.yml
  ndk/.editorconfig
  ndk/.eslintrc.js
  ndk/.gitattributes
  ndk/.gitignore
  ndk/.npmignore
  ndk/.nvmrc
  ndk/.watchmanconfig
  ndk/LICENSE
  ndk/android/build.gradle
  ndk/android/gradle.properties
  ndk/android/native.gradle
  ndk/android/src/main/AndroidManifest.xml
  ndk/android/src/main/AndroidManifestNew.xml
  ndk/android/src/main/java/com/instabugreactnativendk/InstabugReactnativeNdkModule.java
  ndk/android/src/main/java/com/instabugreactnativendk/InstabugReactnativeNdkPackage.java
  ndk/babel.config.js
  ndk/instabug-reactnative-ndk.podspec
  ndk/ios/InstabugReactnativeNdk.h
  ndk/ios/InstabugReactnativeNdk.mm
  ndk/package.json
  ndk/src/index.tsx
  ndk/tsconfig.build.json
  ndk/tsconfig.json
Due: none

chore: add global scripts & deps
  core/package.json
  core/yarn.lock
  examples/default/ios/Podfile.lock
  ndk/package.json
  ndk/yarn.lock
  package.json
  yarn.lock
Due: none

refactor(android): grab android sdk's ndk version from core sdk
  ndk/android/build.gradle
  ndk/android/native.gradle
Due: none

chore: share git config
  .gitattributes
  ndk/.gitignore
Due: none

fix: remove hot launch type
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android, ios

fix: increase timeout expectation in test case
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

ci: resolve some issues with file locations
  .circleci/config.yml
  core/scripts/dream-11-delete-unused-features.sh
  ndk/package.json
  scripts/customize-ios-endpoints.sh
  scripts/notify-github.sh
  scripts/prepare-dream11-sdk.sh
  scripts/replace.js
  scripts/snapshot-comment.md
  scripts/snapshot-version.sh
Due: none

Revert "fix: increase timeout expectation in test case"
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

Resolving latest 2 comments
  examples/default/src/screens/LegacyModeScreen.tsx
Due: none

ci: resolve some path issues
  .circleci/config.yml
  core/package.json
  examples/default/ios/Podfile.lock
  examples/default/tsconfig.json
Due: none

chore: use correct end of line on windows
  examples/default/android/gradlew.bat
Due: none

ci: correct some paths in custom builds
  .circleci/config.yml
Due: none

TEMPORARILY enable release jobs on private package
  .circleci/config.yml
Due: none

ci: fix config
  .circleci/config.yml
Due: none

chore: add iOS obfuscation & request filtering RN handlers
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeNetworkLogger.ts
  src/utils/XhrNetworkInterceptor.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, ios

chore: fix wrong id passed from iOS to RN
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeNetworkLogger.ts
Due: javascript, ios

chore: fix request filtering handler in iOS
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/NetworkLogger.ts
Due: javascript, ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
