Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix tests
  android/src/main/AndroidManifest.xml
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
Due: android

fix tests
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: none

chore(example): Remove feature requests screen
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
Due: none

snapshot/d11
  android/src/main/AndroidManifest.xml
  examples/default/android/build.gradle
  examples/default/ios/Podfile.lock
Due: android

snapshot d11
  android/build.gradle
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/UploadSourcemaps.ts
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  examples/default/android/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/native.rb
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockSurveys.ts
Due: javascript, android, ios

chore(example): Remove surveys screen
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/SurveysScreen.tsx
Due: none

cleanup
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  scripts/dream-11-delete-unused-features.sh
Due: none

chore(android): integrate android sanity snapshot
  android/native.gradle
Due: android

chore(android): integrate sanity snapshot
  android/native.gradle
Due: android

chore(ios): integrate sanity snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

set Android and IOS snapshots
  android/native.gradle
  examples/default/ios/Podfile
  ios/native.rb
Due: android, ios

chore(ios): bump sdk to v12.7.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v12.7.0 (#1125)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.7.0
  android/native.gradle
Due: android

chore(android): bump sdk to v12.7.0 (#1126)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(example): resolve review comments
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

fix(android): handle private view label extraction
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

feat: Support masking in example components
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

fix(android): adjust multi label button string
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

refactor(example): improve four tier button
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

feat(example): add repro-steps button samples
  examples/default/src/App.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

feat(android): support repro-steps for button
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): resolve review comments
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): format code docs
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): Remove redundant NoLabels Extraction
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

feat: support react native buttons label extraction in user steps (#1109)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
  examples/default/src/App.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: android

chore: bump instabug-reactnative to v12.7.0
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v12.7.0 (#1127)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

feat: add network diagnostics callback
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/Instabug+CP.h
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: adjust changelog entry for supporting user steps
  CHANGELOG.md
Due: none

ci: replace d11 cluster url in UploadSourcemaps (#1122)
  .circleci/config.yml
Due: none

fix(android): resolve private views through UI manager directly (#1121)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android
