Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: ios header injection
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix(android): fix null string in network logs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix(android): change parameters used in inner class to final (#1239)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

refactor(ios): pass network log data as parameters & remove reflection
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

refactor(android): pass network log data as parameters
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update native modules method signatures
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript

chore(android): check for network error in APM network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix(android): catch OOM & exceptions in network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: renaming w3c logs
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: pass logs as parameters
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
Due: javascript

fix: update tests to reflect logs renaming
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix: test passing parameters to loggers
  test/modules/NetworkLogger.spec.ts
Due: none

fix(ios): pass params to native network logger ios bridge
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix: update network types
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix(android): pass w3c logs as parameters to android APM Logger
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix: handle empty strings for headers
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugReactBridge.m
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/XhrNetworkInterceptor.ts
Due: javascript, android, ios

fix: update network interceptor test case
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

signed commit
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix:resolve PR naming and formatting convention
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/XhrNetworkInterceptor.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript, ios

fix: enhance formatting
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

chore(android): bump sdk to v13.2.0
  android/native.gradle
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v13.2.0
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.2.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore(android): bump sdk to v13.2.0 (#1245)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v13.2.0 (#1246)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.2.0 (#1247)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: resolve issues in changelog
  CHANGELOG.md
Due: none

chore: resolve issues in changelog (#1249)
  CHANGELOG.md
Due: none

chore(android): integrate snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore(ios): integrate snapshot in example
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix: update formatting and naming convention
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix: resolve w3c defects (#1243)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/XhrNetworkInterceptor.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript, android, ios

fix(ios): fix network log selector typo
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
