Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

chore: remove duplicate execution traces deprecation in changelog (#1265)
  CHANGELOG.md
Due: none

chore: remove duplicate app flows entries in changelog (#1264)
  CHANGELOG.md
Due: none

feat: navigation tracking support with expo router (#1270)
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

chore: enhance expo router tracking support (#1272)
  CHANGELOG.md
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

ci: generalize enterprise releases (#1275)
  .circleci/config.yml
Due: none

fix: drop non-error objects when reporting errors (#1279)
  CHANGELOG.md
  src/modules/CrashReporting.ts
Due: javascript

ci: run tests before enterprise releases (#1271)
  .circleci/config.yml
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix(ios): network log empty response body (#1273)
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

ci: publish snapshots to npm (#1274)
  .circleci/config.yml
Due: none

feat: capture client error in the network interceptor (#1257)
  CHANGELOG.md
  examples/default/package.json
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix: merge issues
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugReactBridge.h
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
Due: javascript, android, ios

fix: networkLogIOS test case
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: merge issues
  RNInstabug.podspec
Due: none

fix: merge issues
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  src/modules/Instabug.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

fix: merge issues
  test/utils/InstabugUtils.spec.ts
Due: none

fix: merge issues
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: merge issues
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: remove logs
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: refactore networkLogAndroid arguments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  src/native/NativeAPM.ts
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android

fix: merge issues
  examples/default/e2e/reportBug.e2e.ts
Due: none

fix: merge issues
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
Due: none

fix: move W3cExternalTraceAttributes to models
  src/models/W3cExternalTraceAttributes.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/Types.ts
Due: javascript

add: network spans rollback scenario
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/android/app/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/yarn.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  package-lock.json
  src/models/NetworkSnapshot.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  yarn.lock
Due: javascript, android, ios

fix: return expected value type from bridge
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: refactor method call
  src/modules/Instabug.ts
Due: javascript

fix: refactor method name
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: setSyncCallback should sync in case of exception
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix: move SessionMetadata to models
  src/models/SessionMetadata.ts
  src/modules/SessionReplay.ts
Due: javascript

fix: update SessionMetadata type import
  src/index.ts
Due: javascript

fix: report bug e2e test
  examples/default/e2e/reportBug.e2e.ts
Due: none

fix: return expected value types of w3c flags
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: refactor constant names
  src/utils/InstabugUtils.ts
Due: javascript

chore (ios): update snapshot
  examples/default/ios/Podfile
Due: none

chore (ios): refactor callback
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

feat(android): add session sync callback (#1281)
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/e2e/reportBug.e2e.ts
  examples/default/src/App.tsx
  src/index.ts
  src/models/SessionMetadata.ts
  src/modules/SessionReplay.ts
  src/native/NativeConstants.ts
  src/native/NativeSessionReplay.ts
  src/utils/Enums.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript, android

fix: return network logs
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

chore: update podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: fix formatting
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

feat: add w3c header (#1255)
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/e2e/reportBug.e2e.ts
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/models/W3cExternalTraceAttributes.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript, android, ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
