Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

cleanup
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: android, ios

cleanup
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  scripts/dream-11-delete-unused-features.sh
Due: none

fix android tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
Due: android

fix tests
  examples/default/ios/Podfile.lock
  src/native/NativePackage.ts
  test/mocks/mockNativeModules.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Surveys.spec.ts
Due: javascript

snapshot d11
  .circleci/config.yml
  android/build.gradle
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/UploadSourcemaps.ts
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  examples/default/android/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/native.rb
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockSurveys.ts
Due: javascript, android, ios

feat_add_setNetworkDiagnositcsCall on android side
  android/native.gradle
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/build.gradle
  examples/default/ios/Podfile.lock
Due: android

add ios test cases
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
Due: javascript, ios

clean up
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
Due: ios

clean up
  android/native.gradle
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: android

fix tests
  scripts/dream-11-delete-unused-features.sh
Due: none

fix tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
Due: android

fix tests
  android/src/main/AndroidManifest.xml
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
Due: android

fix tests
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: none

fix tests
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: remove unused parameter of `sendNativeNonFatal`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
Due: android

chore(android): update snapshot
  android/native.gradle
Due: android

dream11-test-network-requests
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/APMScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/yarn.lock
  src/modules/Instabug.ts
Due: javascript

ci: migrate macos machines to m1 (#1114)
  .circleci/config.yml
  examples/default/ios/Podfile.lock
Due: none

snapshot d11
  .circleci/config.yml
  android/build.gradle
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/UploadSourcemaps.ts
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/native.rb
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockSurveys.ts
Due: javascript, android, ios

chore(android): add native set network diagnostics callback
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(ios): add native set network diagnostics callback
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/Instabug+CP.h
Due: ios

feat: add on network diagnostics handler
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript

test(android): test native set network diagnostics callback
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

fix(android): resolve failures with old mocks by using `MockReflected`
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

fix(android): handle private view label extraction
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

fix(android): adjust multi label button string
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

chore(android): format code docs
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

feat(android): support repro-steps for button
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/RNTouchedViewExtractor.java
Due: android

feat: Support masking in example components
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
