Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

Remove Danger coverage plugin
  package.json
  yarn.lock
Due: none

Use Android snapshot
  android/native.gradle
Due: android

Use iOS snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

Use Android snapshot
  android/native.gradle
  examples/default/android/build.gradle
Due: android

Add new locales
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android, ios

Update CHANGELOG
  CHANGELOG.md
Due: none

Revert CocoaPods version change in `Podfile.lock`
  examples/default/ios/Podfile.lock
Due: none

Fix iOS snapshot installation
  RNInstabug.podspec
  examples/default/ios/Podfile.lock
Due: none

Maintain locales alphabetical order
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/Enums.ts
Due: javascript, android, ios

Update iOS snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/ArgsRegistry.m
Due: ios

Fix unhandled JS crash capturing on Android
  src/utils/InstabugUtils.ts
Due: javascript

Update Changelog
  CHANGELOG.md
Due: none

[INSD-9579] Fix Unhandled JavaScript Crashes on Android (#980)
  CHANGELOG.md
  src/utils/InstabugUtils.ts
Due: javascript

Fix CocoaPods version in `Podfile.lock`
  examples/default/ios/Podfile.lock
Due: none

Add locales to deprecated `ArgsRegistry` as well
  src/utils/ArgsRegistry.ts
Due: javascript

Remove `danger-coverage-plugin`
  package.json
  yarn.lock
Due: none

Deprecate gradle property in favor of env var
  android/sourcemaps.gradle
Due: android

Use env var in `test_android` job
  .circleci/config.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update readme
  README.md
Due: none

Use env var in `e2e_android` job
  .circleci/config.yml
  examples/default/.detoxrc.json
Due: none

Extract logic in `isUploadSourcemapsEnabled` fn
  android/sourcemaps.gradle
Due: android

[MOB-12414] Disable Android Sourcemaps Upload with Env Var (#983)
  .circleci/config.yml
  CHANGELOG.md
  README.md
  android/sourcemaps.gradle
  examples/default/.detoxrc.json
Due: android

Keep the recent `XMLHttpRequest` methods on disable
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

Add unit tests
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

Change unit test title
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

Fix Detox Android emulator
  examples/default/.detoxrc.js
Due: none

Change CocoaPods version
  examples/default/ios/Podfile.lock
Due: none

Upgrade example app to latest
  examples/default/.detoxrc.js
  examples/default/.detoxrc.json
  examples/default/.watchmanconfig
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/AndroidManifest.xml
  examples/default/android/app/src/debug/java/com/instabug/react/example/ReactNativeFlipper.java
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/res/drawable/rn_edit_text_material.xml
  examples/default/android/app/src/main/res/values/styles.xml
  examples/default/android/app/src/release/java/com/instabugexample/ReactNativeFlipper.java
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.jar
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/gradlew
  examples/default/android/gradlew.bat
  examples/default/android/settings.gradle
  examples/default/e2e/config.json
  examples/default/e2e/environment.js
  examples/default/ios/.xcode.env
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/AppDelegate.h
  examples/default/ios/InstabugExample/AppDelegate.m
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/InstabugExample/LaunchScreen.storyboard
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: none

Fix formatting issues
  examples/default/.watchmanconfig
Due: none

Change Detox Android emulator
  examples/default/.detoxrc.js
Due: none

Remove deprected sourcemaps Gradle property
  examples/default/.detoxrc.js
Due: none

Support multiple bundle release tasks
  android/sourcemaps.gradle
Due: android

Fix flavor path
  android/sourcemaps.gradle
Due: android

Change `variant` to `flavor`
  android/sourcemaps.gradle
Due: android

Generate a sourcemaps upload task for each variant
  android/sourcemaps.gradle
Due: android

[MOB-12425] Properly Disable Network Interception with Patched XHR (#984)
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript
