Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix(android): update test case
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
Due: android

feat: apply iOS changes Network
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
Due: javascript, android, ios

fix: iOS syntax errors
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
  ios/RNInstabug/InstabugReactBridge.m
Due: android, ios

Remove unnecessary completion call
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Add tempId for testing
  ios/RNInstabug/InstabugReactBridge.m
  src/models/NetworkSnapshot.ts
  src/modules/Instabug.ts
  src/utils/XhrNetworkInterceptor.ts
Due: javascript, ios

fix: enhance test case
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
Due: android

fix(ios): update network log signature
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

chore(ios): integrate dynamic sampling snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

fix:update IOS network log unit test
  test/utils/InstabugUtils.spec.ts
Due: none

fix: update session metadata
  src/modules/SessionReplay.ts
Due: javascript

feat(ios): add setSyncCallback
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

fix: pod.lock file
  examples/default/ios/Podfile.lock
Due: none

fix: update session data type
  src/modules/SessionReplay.ts
Due: javascript

chore(ios): bump sdk to v13.4.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: update changelog
  CHANGELOG.md
Due: none

chore(android): bump sdk to v13.4.0
  CHANGELOG.md
  android/native.gradle
Due: android

release: v13.4.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: update pr numbers
  CHANGELOG.md
Due: none

fix: add more session metadata to setSyncCallback
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix: update syncCallback test
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
Due: android

fix: use warn instead of logs
  src/modules/CrashReporting.ts
Due: javascript

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add launchType to session metadata for setSyncCallback
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  examples/default/src/App.tsx
  src/modules/SessionReplay.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android

fix: added changelog item
  android/native.gradle
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: android, ios

fix: feature flag listener
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: feature flag listener
  test/modules/Instabug.spec.ts
Due: none

fix: import type
  src/modules/SessionReplay.ts
Due: javascript

feat(ios): add launchType metadata to session syncCallback
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
Due: ios

feat: exclude dev server
  src/modules/NetworkLogger.ts
Due: javascript

Fix: omitted non-error objects when logging errors
  CHANGELOG.md
  src/modules/CrashReporting.ts
Due: javascript

Fix: omitted non-error objects when logging errors
  src/modules/CrashReporting.ts
Due: javascript

ci: publish snapshots to npm (#1274)
  .circleci/config.yml
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
  scripts/snapshot-version.sh
Due: none

ci: generalize enterprise releases (#1275)
  .circleci/config.yml
Due: none
