Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: add feature flags
  src/utils/FeatureFlags.ts
Due: javascript

feat: control sending screenshot with each crash type
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/src/App.tsx
Due: none

feat: call updated feature flags
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: update object assigning
  src/utils/FeatureFlags.ts
Due: javascript

fix: remove comment
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

UIManagerModule Fix for Android
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

feat: control sending screenshot with each crash type
  src/modules/Instabug.ts
Due: javascript

feat: control sending screenshot with each crash type
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript, android, ios

feat: control sending screenshot with each crash type
  examples/default/android/build.gradle
  examples/default/src/App.tsx
  src/modules/Instabug.ts
Due: javascript

feat: control sending screenshot with each crash type
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: control sending screenshot with each crash type
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

feat: control sending screenshot with each crash type
  src/models/ReproConfig.ts
Due: javascript

feat: control sending screenshot with each crash type
  android/native.gradle
  src/models/ReproConfig.ts
Due: javascript, android

feat: control sending screenshot with each crash type
  CHANGELOG.md
  android/native.gradle
Due: android

feat: control sending screenshot with each crash type
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: android

feat: control sending screenshot with each crash type
  CHANGELOG.md
Due: none

feat: control sending screenshot with each crash type
  package.json
Due: none

feat: control sending screenshot with each crash type
  android/native.gradle
  package.json
Due: android

feat: control sending screenshot with each crash type
  .circleci/config.yml
Due: none

feat: control sending screenshot with each crash type
  .circleci/config.yml
  examples/default/ios/Podfile.lock
Due: none

feat: control sending screenshot with each crash type
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

feat: control sending screenshot with each crash type
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
Due: none

feat: control sending screenshot with each crash type
  CHANGELOG.md
  examples/default/src/App.tsx
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
Due: javascript

feat(d11):control sending screenshots with each crash type (#1234)
  .circleci/config.yml
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/yarn.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/native.rb
  package.json
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix(android): change parameters used in inner class to final
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

fix: modify test cases naming
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
Due: android

feat: get w3c feature flags android (#1235)
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/src/screens/ApmScreen.tsx
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/utils/FeatureFlags.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, android

chore(android): bump sdk to 13.0.7
  android/native.gradle
Due: android

chore: bump version to 13.0.7
  package.json
Due: none

release(dream11): v13.0.7 (#1241)
  android/native.gradle
  package.json
Due: android

chore: sync podfile lock
  examples/default/ios/Podfile.lock
Due: none

chore: sync podfile lock (#1242)
  examples/default/ios/Podfile.lock
Due: none

chore(android): add final to crash reporting parameters
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
Due: android
