Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

[MOB-12244] Run the CLI script with `node` instead of `npx` (#962)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

[MOB-12052] Use Shallow Checkout in CI (#943)
  .circleci/config.yml
Due: none

[MOB-9962] Migrate to `NativeEventEmitter` (#924)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/EventEmitterModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/InstabugUtil.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeBugReporting.ts
  src/native/NativeInstabug.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  src/utils/IBGEventEmitter.ts
  src/utils/InstabugConstants.ts
  test/modules/BugReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/setup.ts
Due: javascript, android, ios

[MOB-12219] Bump `advanced-checkout` orb to `v1.1.0` (#956)
  .circleci/config.yml
Due: none

[MOB-11998] Use CLI in Sourcemaps Gradle Task (#938)
  .circleci/config.yml
  CHANGELOG.md
  android/build.gradle
  android/sourcemaps.gradle
  android/upload_sourcemap.sh
  scripts/find-token.sh
Due: android

[MOB-12043] Remove Android Module Dead Code (#884)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

[MOB-12212] Remove Unused GitHub Apps (#953)
  .github/auto-assign-issues.yml
  .github/lock.yml
Due: none

[MOB-12050] Cache CI Pods (#945)
  .circleci/config.yml
Due: none

[MOB-11999] Use RN Internal Sourcemap Script (#942)
  .circleci/config.yml
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
  ios/upload_sourcemap.sh
  react-native.config.js
Due: ios

[MOB-12215] Fix Codepush CLI Version Logs (#955)
  cli/UploadSourcemaps.ts
Due: none

Run probot-stale only on issues (#941)
  .github/stale.yml
Due: none

[MOB-12243] Fix iOS Sourcemaps Script in Debug (#961)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

[MOB-12241] Bump iOS SDK to `v11.10.1` (#964)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-12204] Upgrade macOS Resource Class to Gen2
  .circleci/config.yml
Due: none

[MOB-10486] Change APIs with Callbacks to Promises (#948)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockDevMode.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

[MOB-12143] Use `circleci/ruby` Image for Danger (#944)
  .circleci/config.yml
  Gemfile
  Gemfile.lock
Due: none

[MOB-12053] Use `node` CI Orb (#946)
  .circleci/config.yml
Due: none

[MOB-12245] Fix Changelog Typos (#967)
  CHANGELOG.md
Due: none

[MOB-11085] Integrate Danger Coverage Plugin (#958)
  .circleci/config.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: none

[MOB-12180] Remove Redundant CI Steps (#947)
  .circleci/config.yml
Due: none

[MOB-12207] Fix CLI Typos (#952)
  cli/UploadSourcemaps.ts
  cli/index.ts
Due: none

[MOB-12070] Disable Sorucemaps Scripts on CI (#940)
  .circleci/config.yml
  android/build.gradle
  example/.detoxrc.json
Due: android

Fix sourcemaps script with old Gradle
  android/sourcemaps.gradle
Due: android

Update CHANGELOG
  CHANGELOG.md
Due: none

[MOB-12247] Fix Sourcemaps Script with Old Gradle (#970)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

Fix sourcemaps upload script with Android flavors
  android/sourcemaps.gradle
Due: android

Update Changelog
  CHANGELOG.md
Due: none

Match Gradle task suffix only
  android/sourcemaps.gradle
Due: android

Remove strict iOS dependency for snapshot
  RNInstabug.podspec
Due: none

Remove danger-plugin-coverage dev dependency
  package.json
  yarn.lock
Due: none

[MOB-12305] Fix Sourcemaps Upload Script with Android Product Flavors (#975)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

Update sourcemaps.gradle to fix #976
  android/sourcemaps.gradle
Due: android

Support multiple bundle release tasks
  android/sourcemaps.gradle
Due: android

Generate a sourcemaps upload task for each variant
  android/sourcemaps.gradle
Due: android

Change `variant` to `flavor`
  android/sourcemaps.gradle
Due: android

Fix flavor path
  android/sourcemaps.gradle
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
