Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

Update Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

release: 15.0.2
  examples/default/ios/Podfile.lock
Due: none

chore: update android dependency
  android/native.gradle
Due: android

Release:v15.0.2 (#1429)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  package.json
Due: none

Handle IllegalStateException in sendNativeFatalCrash to prevent unhandled fatal crash
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

Handle IllegalStateException in sendNativeFatalCrash to prevent unintentional app crashes during testing.
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

fix: change log
  CHANGELOG.md
Due: none

fix: change log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

sanity: v16.0.0
  android/native.gradle
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: android, ios

[GER-7366] Support App variant (#1409)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

snapshot: fix upload sourcemap on ios (#1423)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

fix: private views
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: change log
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

fix: masking private views
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

fix: masking private views
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: private views
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

fix: private views
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

bump ios SDK to 16.0.1
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

feat: Support Advanced UI customization (#1411)
  CHANGELOG.md
  FONTS_SETUP_GUIDE.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  examples/default/react-native.config.js
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  src/index.ts
  src/models/ThemeConfig.ts
  src/models/Trace.ts
  src/modules/APM.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/models/Trace.spec.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

bump ios SDK to 16.0.1
  CHANGELOG.md
Due: none

bump ios SDK to 16.0.1
  examples/default/ios/Podfile.lock
Due: none

feat: remove deprecated APis
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.m
Due: ios

feat: remove deprecated APis
  ios/RNInstabug/InstabugAPMBridge.m
Due: ios

feat: remove deprecated APis
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

chore: update SR public api name
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  src/modules/APM.ts
  test/modules/APM.spec.ts
Due: javascript

add new scenarios
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/contexts/callbackContext.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/navigation/RootTab.tsx
  examples/default/src/screens/BugReportingScreen.tsx
  examples/default/src/screens/CallbackHandlersScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/SessionReplayScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/network/NetworkScreen.tsx
  examples/default/src/screens/apm/network/NetworkStateScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/settings/SettingsScreen.tsx
  examples/default/src/screens/settings/UserStepsStateScreen.tsx
  examples/default/yarn.lock
Due: none

chore: update CHANGELOG.md, rename setScreenRenderingEnabled api on native SDKs for consistency
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, android, ios

chore: fix SR api name in native unit tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile.lock
Due: android

chore: fix SR api name in native unit tests
  examples/default/ios/InstabugTests/InstabugAPMTests.m
Due: none

fix: migration issue
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  test/modules/Instabug.spec.ts
Due: android

fix: migration issue
  examples/default/ios/Podfile
Due: none

fix: podfile issue
  examples/default/ios/Podfile.lock
Due: none

feat: support expo updates (#1391)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/HomeScreen.tsx
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/models/OverAirUpdate.ts
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix: CHANGELOG.md
  CHANGELOG.md
Due: none

fix: CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Due: none

fix: CHANGELOG.md
  package.json
  yarn.lock
Due: none

feat: expo-sourcemap-support (#1392)
  CHANGELOG.md
  README.md
  android/sourcemaps.gradle
  app.plugin.js
  cli/commands/UploadEasUpdatesSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadEasUpdatesSourcemaps.ts
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  expo.d.ts
  expo.js
  ios/sourcemaps.sh
  package.json
  plugin/src/index.ts
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
  plugin/tsconfig.json
  rollup.config.js
  scripts/find-token.js
  scripts/find-token.sh
Due: android, ios

fix: expo plugin
  .circleci/config.yml
  package.json
  yarn.lock
Due: none

fix: expo plugin
  package.json
  yarn.lock
Due: none

fix: expo plugin
  package.json
Due: none
