Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

rebase: network-spans branch with dev branch
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: none

fix: web-view screen crash in sample app
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: none

chore: enhance inline code documentation for APM module.
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
Due: javascript, android, ios

fix: CI Podfile.lock conflict
  examples/default/ios/Podfile.lock
Due: none

chore: apply pr review comments
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
Due: javascript, ios

chore: apply pr review comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  src/modules/APM.ts
Due: javascript, android

feat: add ios snapshot
  android/build.gradle
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: android

chore: add ComplexViews to APM screen
  examples/default/src/components/CustomGap.tsx
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

chore: fix APM screen layout on android platform
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

chore: increase network logs size limit
  src/utils/InstabugConstants.ts
Due: javascript

release(dream11): 14.0.3
  CHANGELOG.md
  android/native.gradle
Due: android

release(dream11): 14.0.3
  examples/default/ios/Podfile.lock
  package.json
Due: none

release(dream11):14.0.3 (#1354)
  CHANGELOG.md
  android/native.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release(dream11): 14.0.3
  scripts/dream-11-delete-unused-features.sh
Due: none

release(dream11): 14.0.3 (#1355)
  scripts/dream-11-delete-unused-features.sh
Due: none

ci: add slack job to workflow for sending automatic release notes messages to slack
  .circleci/config.yml
  scripts/releases/changelog_to_slack_formatter.sh
  scripts/releases/get_job_approver.sh
  scripts/releases/get_release_notes.sh
  scripts/releases/get_sdk_version.sh
  scripts/releases/get_slack_id_from_username.sh
Due: none

fix: version code to use package.json
  .circleci/config.yml
  scripts/releases/get_sdk_version.sh
Due: none

fix: workflow job misplacement
  .circleci/config.yml
Due: none

fix: correct mention for support team
  .circleci/config.yml
Due: none

fix: remove extra space between 'v' and sdk version number
  scripts/releases/get_sdk_version.sh
Due: none

ci: change channel id to planning_releases, send message on sucessful releases now
  .circleci/config.yml
Due: none

chore: remove debug flag from slack job
  .circleci/config.yml
Due: none

- add proactive bug reporting
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  examples/default/ios/InstabugExample.xcodeproj/xcshareddata/xcschemes/InstabugExample.xcscheme
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/index.ts
  src/models/ProactiveReportingConfigs.ts
  src/modules/BugReporting.ts
  src/native/NativeBugReporting.ts
  test/mocks/mockBugReporting.ts
  test/modules/BugReporting.spec.ts
Due: javascript, android, ios

- add proactive bug reporting
  CHANGELOG.md
Due: none

- add proactive bug reporting
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
Due: none

- add proactive bug reporting
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
  yarn.lock
Due: none

add proactive bug reporting
  examples/default/ios/Podfile.lock
Due: none

chore: remove commented code from shell scripts
  scripts/releases/get_job_approver.sh
Due: none

add proactive bug reporting
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
Due: none

chore: run yarn format:fix
  .circleci/config.yml
Due: none

chore: update CHANGELOG.md and Podfile.lock
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

feat: test
  examples/default/src/App.tsx
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix:crash on non fatal
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

chore: add ios custom build
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

add proactive bug reporting
  examples/default/src/App.tsx
  src/index.ts
  src/models/ProactiveReportingConfigs.ts
  src/modules/BugReporting.ts
  src/utils/InstabugConstants.ts
  test/modules/BugReporting.spec.ts
Due: javascript

chore: apply pr comments
  android/src/test/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModuleTest.java
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
Due: javascript, android

fix podFile.lock
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios
