Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: add packagename in manifest file
  android/src/main/AndroidManifest.xml
Due: android

Update AndroidManifest.xml
  android/src/main/AndroidManifest.xml
Due: android

fix: add packagename in manifest file
  android/build.gradle
Due: android

test
  ios/sourcemaps.sh
Due: ios

test
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

feat: add screen tracker on screen change listener and tests
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

feat (example): add screen change listener
  examples/default/src/App.tsx
Due: none

feat: navigation tracking support with expo router (#1270)
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: navigation listener subscription
  examples/default/src/App.tsx
  src/modules/Instabug.ts
Due: javascript

ci: add prepare steps to test jobs
  .circleci/config.yml
Due: none

ci: fix upload script files paths
  .circleci/config.yml
Due: none

ci: add working directory to prepare commands
  .circleci/config.yml
Due: none

fix: update listener test case
  test/modules/Instabug.spec.ts
Due: none

fix: update formatting
  test/modules/Instabug.spec.ts
Due: none

style: format dream11 script
  scripts/dream-11-delete-unused-features.sh
Due: none

fix: fix typo
  test/modules/Instabug.spec.ts
Due: none

chore: support pattern find & replace in replace.js
  scripts/replace.js
Due: none

chore: make dream11 script macos-compatible
  scripts/dream-11-delete-unused-features.sh
Due: none

chore: add changelog
  CHANGELOG.md
Due: none

ci: fix js tests after dream11 script
  scripts/dream-11-delete-unused-features.sh
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: enhance expo router tracking support (#1272)
  CHANGELOG.md
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix(ios): network log empty response body
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix(ios): network log empty response body
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

ci: generalize release custom package
  .circleci/config.yml
Due: none

ci: install node modules in prepare_dream11
  .circleci/config.yml
Due: none

ci: run test jobs before dream11 release
  .circleci/config.yml
Due: none

chore: fixate instabug api endpoints
  examples/default/android/app/src/main/res/raw/instabug_config.json
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/Instabug.plist
  scripts/customize-ios-endpoints.sh
Due: none

ci(android): add dream11 maven repo
  examples/default/android/build.gradle
Due: none

chore: remove unused imports
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore: support pattern replace in replace script
  scripts/replace.js
Due: none

ci: make dream11 script platform-agnostic
  scripts/dream-11-delete-unused-features.sh
Due: none

style: format
  examples/default/android/build.gradle
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
