Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix(ci): fix working directory issue
  .circleci/config.yml
Due: none

fix(ci): fix adding yarn command
  .circleci/config.yml
Due: none

fix(ci): fix installing node modules
  .circleci/config.yml
Due: none

fix(ci): remove the installing pod step
  .circleci/config.yml
Due: none

fix(ci): fix installing node modules directory
  .circleci/config.yml
Due: none

fix(ci): fix the auth issue with npm
  .circleci/config.yml
Due: none

chore: use ios 11.13.3 release as a snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
Due: none

refactor(ios): use new disableAutomaticCapturingOfNetworkLogs API
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

fix(ci): fix github link to use ssh instead of https
  scripts/create-nn-release-branch.sh
Due: none

style: fix prettier format issues
  examples/default/ios/Podfile.lock
  src/native/NativeCrashReporting.ts
  yarn.lock
Due: javascript

fix: update PR link format in changelog (#1017)
  CHANGELOG.md
Due: none

refactor: use anonymous class instead of lambda (#1016)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update yarn.lock
  yarn.lock
Due: none

chore: remove danger plugin
  package.json
Due: none

docs: update changelog.md
  CHANGELOG.md
Due: none

style: fix prettier format issues
  dist/native/NativeCrashReporting.d.ts
Due: none

fix(ci): remove creating branch step
  .circleci/config.yml
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): update the version temporarily
  package.json
Due: none

fix(ci): update the pods temporarily
  examples/default/ios/Podfile.lock
Due: none

fix(ci): update the pods temporarily
  examples/default/ios/Podfile.lock
  package.json
Due: none

chore(android): bump android sdk
  android/native.gradle
Due: android

chore: fix prettier formatting issues
  test/modules/Instabug.spec.ts
Due: none

docs: fix typo in `#Changed` section
  CHANGELOG.md
Due: none

fix(ci): revert last pod installation
  .circleci/config.yml
  examples/default/ios/Podfile.lock
  package.json
Due: none

fix(ci): fix podfile cocopods version
  examples/default/ios/Podfile.lock
Due: none

docs: re-order changelog.md sections
  CHANGELOG.md
Due: none

chore: ignore non-error promise rejections
  src/utils/InstabugUtils.ts
  src/utils/UnhandledRejectionTracking.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/UnhandledRejectionTracking.spec.ts
Due: javascript

feat(cpSDKVersion): add passing SDK version to the native sdk support
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  ios/RNInstabug/InstabugReactBridge.m
Due: android, ios

fix(sdkVersions): fix ci issues
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  ios/RNInstabug/InstabugReactBridge.m
Due: android, ios

fix(sdkVersions): fix iOS testing issues
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix(cpVersions): fix iOS failing tests
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
