Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: add session replay mode argument to reprosteps api
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: update docs and tests to include session replay
  src/models/ReproConfig.ts
  test/modules/Instabug.spec.ts
Due: javascript

feat: add new session replay argument for repro steps api (#1033)
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

docs: update changelog.md
  CHANGELOG.md
Due: none

feat: support new session replay apis
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  src/index.ts
  src/modules/SessionReplay.ts
  src/native/NativePackage.ts
  src/native/NativeSessionReplay.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript, android, ios

chore: reset podfile lock cocoapods version
  examples/default/ios/Podfile.lock
Due: none

docs: improve session replay jsdoc comments
  src/modules/SessionReplay.ts
Due: javascript

chore: change api name in test file
  test/modules/SessionReplay.spec.ts
Due: none

chore: format objective-c files
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

fix(ios): resolve ios test errors
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

feat: add new session replay apis (#1034)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  src/index.ts
  src/modules/SessionReplay.ts
  src/native/NativePackage.ts
  src/native/NativeSessionReplay.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript, android, ios

release: v12.1.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: revert cocoapods version change
  examples/default/ios/Podfile.lock
Due: none

release: v12.1.0 (#1036)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: bump android sdk v12.1.0 (#1032)
  CHANGELOG.md
  android/native.gradle
Due: android

docs: resolve typos in changelog.md for 11.14.0 (#1030)
  CHANGELOG.md
Due: none

chore: bump ios sdk 12.1.0 (#1031)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

ci: automate snapshot generation (#1021)
  .circleci/config.yml
  scripts/notify-github.sh
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
Due: none

chore: extend default metro config
  examples/default/metro.config.js
  examples/default/package.json
  examples/default/yarn.lock
Due: none

chore: extend default metro config (#1039)
  examples/default/metro.config.js
  examples/default/package.json
  examples/default/yarn.lock
Due: none

chore: integrate android snapshot
  android/build.gradle
  android/native.gradle
  examples/default/ios/Podfile.lock
Due: android

chore: add more logs in network logger
  src/modules/NetworkLogger.ts
Due: javascript

fix: add prettier import orders to plugins
  .prettierrc.js
Due: none

chore: reformat files to re-order imports
  src/index.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/native/NativePackage.ts
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockNativeModules.ts
  test/setup.ts
  test/utils/UnhandledRejectionTracking.spec.ts
Due: javascript

chore: update outdated jest config format
  jest.config.js
Due: none

chore(example): add c++ native android module
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/cpp/CMakeLists.txt
  examples/default/android/app/src/main/cpp/native-lib.cpp
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeLibs/CppNativeLib.java
Due: none

chore: update outdated jest config format (#1042)
  jest.config.js
Due: none

fix: check for manifest updates before updating
  android/build.gradle
Due: android

refactor: enhance AGP namespace support
  android/build.gradle
Due: android

fix: resolve groovy compile issues
  android/build.gradle
Due: android

chore(android): keep package in initial manifest
  android/src/main/AndroidManifest.xml
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

feat(android): support ndk crashes
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/android/app/build.gradle
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  test/mocks/mockCrashReporting.ts
  test/modules/CrashReporting.spec.ts
Due: javascript, android

feat(example): add button to report ndk c++ exception
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

chore(example): add instabug example native module
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeModule/InstabugExampleModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeModule/InstabugExamplePackage.java
  examples/default/src/native/index.ts
Due: none
