Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix(android): remove current view update delay (#1080)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

fix(android): resolve `JsonException` handling error (#1089)
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
Due: android

chore_add_removing_native_code_in_d11_customization_script
  scripts/dream-11-delete-unused-features
Due: none

chore_add_dream-11-delete-unused-features
  scripts/dream-11-delete-unused-features
Due: none

Merge remote-tracking branch 'origin/chore/create-d11-Customization-Script' into chore/create-d11-Customization-Script
  examples/default/ios/Podfile.lock
Due: none

chore: create d11 customization script (#1090)
  scripts/dream-11-delete-unused-features
Due: none

chore_add_d11_release_pipeline_to_circle_ci
  .circleci/config.yml
Due: none

chore_add_d11_release_pipeline(test)
  .circleci/config.yml
  examples/default/ios/Podfile.lock
Due: none

chore/Update Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore_add_d11_release_pipeline(test)
  .circleci/config.yml
Due: none

chore_remove_all_locales_except_english_locale
  .circleci/config.yml
  scripts/dream-11-delete-unused-features
Due: none

chore_remove_all_locales_except_english_locale
  .circleci/config.yml
Due: none

chore_remove_all_locales_except_english_locale
  scripts/dream-11-delete-unused-features
Due: none

chore_remove_all_locales_except_english_locale
  .circleci/config.yml
  scripts/dream-11-delete-unused-features.sh
Due: none

chore_remove_all_locales_except_english_locale
  scripts/dream-11-delete-unused-features.sh
Due: none

chore(android): add Instabug API domains to network security config
  examples/default/android/app/src/main/res/xml/network_security_config.xml
Due: none

chore(android): add Instabug API domains to network security config (#1094)
  examples/default/android/app/src/main/res/xml/network_security_config.xml
Due: none

chore(ios): bump sdk to v12.6.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v12.6.0 (#1095)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.6.0
  android/native.gradle
Due: android

chore(android): bump sdk to v12.6.0 (#1096)
  CHANGELOG.md
  android/native.gradle
Due: android

feat(android): support code push
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

feat: support code push
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

feat(ios): support code push
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
Due: ios

refactor(ios): remove re-initialization guard
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/RNInstabug.m
Due: ios

feat: support code push (#1079)
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: bump instabug-reactnative to v12.6.0
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v12.6.0 (#1097)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
