Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

[MOB-11698] Bump Android SDK to `v11.8.0` (#913)
  CHANGELOG.md
  android/build.gradle
Due: android

[MOB-11609] Deprecate `Instabug.isRunningLive` API (#892)
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

[SEC-3364] Remove Dependabot (#883)
  .github/dependabot.yml
Due: none

[MOB-11925] Support Monorepos in Source Maps Scripts (#915)
  CHANGELOG.md
  android/upload_sourcemap.sh
  example/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/upload_sourcemap.sh
Due: android, ios

[MOB-11942] Fix `setDidSelectPromptOptionHandler` (#920)
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

[MOB-11585] Migrate Example to TypeScript (#893)
  example/package.json
  example/src/App.tsx
  example/src/components/Button.tsx
  example/src/components/ColorButton.tsx
  example/src/components/Screen.tsx
  example/src/components/Section.tsx
  example/src/components/TabBarIcon.js
  example/src/components/TabBarIcon.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/SettingsScreen.tsx
  example/tsconfig.json
  example/yarn.lock
Due: none

[MOB-11616] Migrate E2E Tests to TypeScript (#898)
  example/e2e/config.json
  example/e2e/reportBug.e2e.ts
  example/e2e/utils/elements.ts
  example/e2e/utils/mockData.ts
  example/package.json
  example/tsconfig.json
  example/yarn.lock
Due: none

[MOB-11949] Release v11.9.0 (#928)
  CHANGELOG.md
  android/build.gradle
  example/ios/Podfile.lock
  package.json
Due: android

[MOB-9960] Create CLI for Source Maps Upload (#879)
  .circleci/config.yml
  .gitignore
  cli/UploadSourcemaps.ts
  cli/index.ts
  package.json
  rollup.config.js
  tsconfig.cli.json
  tsconfig.json
  yarn.lock
Due: none

[MOB-11900] Remove Unneeded Crash Reporting Events (#916)
  src/modules/CrashReporting.ts
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

[MOB-11948] Bump iOS SDK to `v11.9.0` (#927)
  CHANGELOG.md
  example/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-11553] Update Ignores (#874)
  .gitignore
  .npmignore
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  example/ios/Podfile.lock
  ios/RNInstabug.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/RNInstabug.xcodeproj/project.xcworkspace/xcuserdata/yousefhamza.xcuserdatad/UserInterfaceState.xcuserstate
  ios/RNInstabug.xcodeproj/xcuserdata/yousefhamza.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  ios/RNInstabug.xcodeproj/xcuserdata/yousefhamza.xcuserdatad/xcschemes/RNInstabug.xcscheme
  ios/RNInstabug.xcodeproj/xcuserdata/yousefhamza.xcuserdatad/xcschemes/xcschememanagement.plist
Due: android, ios

[MOB-11697] Bump iOS SDK to `v11.7.0` (#908)
  CHANGELOG.md
  RNInstabug.podspec
  example/ios/Podfile.lock
Due: none

[MOB-11440] Add `debugLogsLevel` to `InstabugConfig` (#873)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  tests/modules/Instabug.spec.js
Due: javascript, android, ios

[MOB-11439] Add `init` API (#867)
  CHANGELOG.md
  README.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/upload_sourcemap.sh
  example/ios/InstabugSample.xcodeproj/project.pbxproj
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  example/src/App.js
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/upload_sourcemap.sh
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  tests/mocks/mockInstabug.js
  tests/modules/Instabug.spec.js
  tests/utils/InstabugUtils.spec.js
Due: javascript, android, ios

[MOB-11617] Configure probot-stale (#895)
  .github/no-response.yml
  .github/stale.yml
Due: none

[MOB-11562] Fix Original Error Handler Not Called (#886)
  CHANGELOG.md
  src/utils/InstabugUtils.ts
Due: javascript

[MOB-11946] Delegate Native SDKs (#919)
  CHANGELOG.md
  RNInstabug.podspec
  android/build.gradle
  android/native.gradle
  ios/native.rb
Due: android, ios

Fix InstabugUtils tests
  test/mocks/mockParseErrorStackLib.ts
  test/utils/InstabugUtils.spec.ts
Due: none

Fix event emitter tests temporarily
  src/utils/IBGEventEmitter.ts
Due: javascript

Update React Native dev dependency to 0.66
  package.json
  test/setup.ts
  yarn.lock
Due: none

Create `native` directory
  src/native/index.ts
Due: javascript

Add CrashReporting types
  src/modules/CrashReporting.ts
  src/native/CrashReportingNativeModule.ts
  src/native/index.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockCrashReporting.ts
Due: javascript

Add APM types
  src/native/ApmNativeModule.ts
  src/native/index.ts
  test/mocks/mockAPM.ts
Due: javascript

Add BugReporting types
  src/native/BugReportingNativeModule.ts
  src/native/index.ts
  src/utils/IBGEventEmitter.ts
  test/mocks/mockBugReporting.ts
Due: javascript

Fix failing CrashReporting tests
  src/modules/CrashReporting.ts
  src/native/CrashReportingNativeModule.ts
  src/utils/InstabugUtils.ts
Due: javascript

Add Instabug types
  src/modules/Instabug.ts
  src/native/InstabugNativeModule.ts
  src/native/index.ts
  src/utils/ArgsRegistry.ts
  test/mocks/mockInstabug.ts
Due: javascript

Fix failing APM tests
  test/modules/APM.spec.ts
Due: none

Add FeatureRequests types
  src/native/FeatureRequestsNativeModule.ts
  src/native/index.ts
  test/mocks/mockFeatureRequests.ts
Due: javascript

Add Replies types
  src/native/RepliesNativeModule.ts
  src/native/index.ts
  test/mocks/mockReplies.ts
Due: javascript

Add Surveys types
  src/modules/Surveys.ts
  src/native/SurveysNativeModule.ts
  src/native/index.ts
  src/utils/IBGEventEmitter.ts
  test/mocks/mockSurveys.ts
Due: javascript

Add Constants types
  src/native/InstabugNativeModule.ts
  src/native/NativeConstants.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript

[MOB-11945] Update React Native Dev Dependency to 0.66 (#925)
  package.json
  src/utils/IBGEventEmitter.ts
  test/mocks/mockParseErrorStackLib.ts
  test/setup.ts
  test/utils/InstabugUtils.spec.ts
  yarn.lock
Due: javascript

Fix Type Definitions
  src/modules/FeatureRequests.ts
  src/native/BugReportingNativeModule.ts
  src/native/FeatureRequestsNativeModule.ts
  src/native/InstabugNativeModule.ts
  test/mocks/mockInstabug.ts
  test/modules/FeatureRequests.spec.ts
Due: javascript

Remove Redundant `as const`
  src/modules/CrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript

Rename Mocks
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
Due: none

Fix Native APM mocks
  test/modules/APM.spec.ts
Due: none

Add type-safety to native modules
  src/native/index.ts
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
Due: javascript

[MOB-11974] Add Interfaces for Native Modules (#918)
  src/modules/CrashReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
  src/modules/Surveys.ts
  src/native.ts
  src/native/ApmNativeModule.ts
  src/native/BugReportingNativeModule.ts
  src/native/CrashReportingNativeModule.ts
  src/native/FeatureRequestsNativeModule.ts
  src/native/InstabugNativeModule.ts
  src/native/NativeConstants.ts
  src/native/RepliesNativeModule.ts
  src/native/SurveysNativeModule.ts
  src/native/index.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  src/utils/IBGEventEmitter.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/modules/APM.spec.ts
  test/modules/FeatureRequests.spec.ts
Due: javascript

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
