Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: snapshot-branch failure when grep fails
  scripts/snapshot-branch.sh
Due: none

ci: extract release dependencies into a variable
  .circleci/config.yml
Due: none

chore: remove deprecated enums
  src/models/InstabugConfig.ts
  src/modules/APM.ts
  src/modules/BugReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeBugReporting.ts
  src/native/NativeFeatureRequests.ts
  src/native/NativeInstabug.ts
  src/utils/ArgsRegistry.ts
Due: javascript

chore: remove reportJSException
  src/modules/CrashReporting.ts
Due: javascript

chore: remove deprecated strings
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android, ios

chore: remove deprecated Instabug apis
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: remove deprecated log level apis
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/native/NativeConstants.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, android, ios

chore: remove deprecated instabugUploadEnable Gradle property
  android/sourcemaps.gradle
Due: android

chore: remove deprecated callback parameters
  src/modules/Instabug.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

chore: remove deprecated features action type
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
Due: android, ios

chore(ios): bump sdk to 12.0.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

ci: automate snapshot generation (#1021)
  .circleci/config.yml
  scripts/notify-github.sh
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
Due: none

docs: resolve typos in changelog.md for 11.14.0
  CHANGELOG.md
Due: none

docs: resolve typos in changelog.md for 11.14.0 (#1030)
  CHANGELOG.md
Due: none

chore: remove deprecated enums
  ios/RNInstabug/ArgsRegistry.m
Due: ios

chore: remove deprecated repro, strings, options apis
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: remove deprecated Instabug apis
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

refactor(android): fix inspection issues
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/utils/InstabugUtil.java
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

docs: update changelog
  CHANGELOG.md
Due: none

Update AndroidManifest.xml
  android/src/main/AndroidManifest.xml
Due: android

chore(ios): bump sdk to 12.1.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: bump ios sdk 12.1.0 (#1031)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to 12.1.0
  android/native.gradle
Due: android

chore: bump android sdk v12.1.0 (#1032)
  CHANGELOG.md
  android/native.gradle
Due: android

chore: remove deprecated enums
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
