Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

style: fix prettier format issues
  CHANGELOG.md
Due: none

feat: support unhandled promise rejection crashes (#1014)
  CHANGELOG.md
  examples/default/metro.config.js
  examples/default/src/screens/CrashReportingScreen.tsx
  src/modules/Instabug.ts
  src/promise.d.ts
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockHermesInternal.ts
  test/mocks/mockPromiseRejectionTracking.ts
  test/setup.ts
  test/utils/UnhandledRejectionTracking.spec.ts
  tsconfig.test.json
Due: javascript

fix(ci): fix PR comments
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump ios sdk
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

fix(ci): fix PR comments
  .circleci/config.yml
  package.json
Due: none

fix(ci): fix the cocopods version
  examples/default/ios/Podfile.lock
Due: none

fix(ci): comment the filters to test the release
  .circleci/config.yml
Due: none

fix(ci): edit the sed command
  .circleci/config.yml
Due: none

chore: use ios 11.13.3 release as a snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

refactor(ios): use new disableAutomaticCapturingOfNetworkLogs API
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

fix(ci): revert the changes and ready to be merged
  .circleci/config.yml
  examples/default/ios/Podfile.lock
  package.json
Due: none

fix(ci): uncomment the filters
  .circleci/config.yml
Due: none

ci: automate nn releases (#1015)
  .circleci/config.yml
Due: none

chore(ios): bump sdk to 11.14.0 (#1020)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to 11.14.0 (#1019)
  CHANGELOG.md
  android/native.gradle
  test/modules/Instabug.spec.ts
Due: android

chore(android): add repro modes to args registry
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
Due: android

chore(android): implement native setReproStepsConfig
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

test(android): test native setReproStepsConfig
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

chore(ios): implement native setReproStepsConfig
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

test(ios): test native setReproStepsConfig
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
Due: ios

feat: add setReproStepsConfig API to Instabug
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript

test: add a proper mock for native constants
  test/mocks/mockInstabug.ts
Due: none

test: add tests for setReproStepsConfig
  test/modules/Instabug.spec.ts
Due: none

chore(ios): map crash mode enabled to no screenshot
  src/modules/Instabug.ts
Due: javascript

chore: add docs for set repro steps config
  src/modules/Instabug.ts
Due: javascript

chore(android): make native repro steps api non-nullable
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/native/NativeInstabug.ts
Due: javascript, android

chore: update changelog
  CHANGELOG.md
Due: none

chore: update readme
  README.md
Due: none

fix(android): run setReproConfigurations on UI thread
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: revert the use of snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

feat: add new repro steps api (#1024)
  CHANGELOG.md
  README.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: deprecate old string keys
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/Enums.ts
Due: javascript, android, ios

chore: deprecate old bug content string keys (#1026)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/Enums.ts
Due: javascript, android, ios

fix(ios): disable auto capturing of native network logs (#1018)
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

chore: update sdk version to v11.14.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: update sdk version to v11.14.0 (#1028)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: add auto device selection detection (#1009)
  examples/default/.detoxrc.js
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
