Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

chore: update changelog
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v13.0.3 (#1208)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.0.1
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v13.0.4
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v13.0.4 (#1210)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore(android): bump sdk to v13.0.3 (#1206)
  CHANGELOG.md
  android/native.gradle
Due: android

fix: use correct diff link for v13.0.0, v12.9.0 releases (#1198)
  CHANGELOG.md
Due: none

feat(ios): read env vars from .xcode.env in sourcemaps script (#1200)
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

chore: integrate ios Dream11 build
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore: apply Dream11 release-time changes
  android/build.gradle
  android/native.gradle
  android/sourcemaps.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/UploadSoFiles.ts
  cli/UploadSourcemaps.ts
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/sourcemaps.sh
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockSurveys.ts
Due: javascript, android, ios

chore: update example
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/jest.config.js
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/BugReportingScreen.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/RepliesScreen.tsx
  examples/default/src/screens/SessionReplayScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/SurveysScreen.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/tsconfig.json
  examples/default/yarn.lock
Due: none

chore: remove unused imports in native example package
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
Due: none

chore: remove ndk
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: none

chore: resolve issues with apm screen
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
Due: none

chore/update-podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump sdk to v13.0.4
  ios/native.rb
Due: ios

chore: change ios sdk to 13.0.5
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(ios): bump sdk to v13.0.5 (#1213)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: change ios sdk to 13.0.5
  examples/default/ios/Podfile.lock
Due: none

chore: update podfile
  examples/default/ios/Podfile.lock
Due: none

release: v13.0.5
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

release: v13.0.5 (#1214)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Update native.gradle
  android/native.gradle
Due: android

feat: add w3c header generator
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

ci:fix lint
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

ci:fix ios tests
  examples/default/ios/Podfile.lock
Due: none

feat:update header format
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

feat:update header format test case title
  test/utils/InstabugUtils.spec.ts
Due: none

extra logs for injazat 11495
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

fix
  examples/default/ios/Podfile.lock
Due: none

feat:Inject the W3C Header to Network Requests
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

ci:fix lint
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix: mapping non-fatal type
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
Due: javascript, android, ios

fix: Replace Thrown Errors with Logs
  src/modules/APM.ts
  src/modules/Instabug.ts
Due: javascript
