Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: lint
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

fix android test
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

fix: add changelog
  CHANGELOG.md
Due: none

fix: mocking file
  test/mocks/mockInstabug.ts
Due: none

fix: refactor redundant code
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.m
Due: android, ios

feat: support ignore flag secure on android.
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: support ignore flag secure on android.
  test/modules/Instabug.spec.ts
Due: none

feat: support ignore flag secure on android.
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

feat: support ignore flag secure on android.
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/modules/Instabug.ts
Due: javascript, android

feat: support ignore flag secure on android.
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: support ignore flag secure on android.
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

feat: support app variant
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/Podfile
Due: android

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: expo sourcemap support
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

chore: add ios native APIs
  .gitignore
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/native.rb
  src/modules/APM.ts
  src/native/NativeAPM.ts
Due: javascript, ios

fix: refactor functions
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: fix CI job
  examples/default/ios/Podfile.lock
Due: none

chore: revert old podfile.lock
  examples/default/ios/Podfile.lock
Due: none

feat: add new ios custom build
  examples/default/ios/Podfile.lock
Due: none

chore: update android snapshot
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/src/App.tsx
Due: android

feat: Include an API call example section in the pull request description
  .github/pull_request_template.md
  dangerfile.ts
Due: none

chore: add latest android snapshot
  android/native.gradle
Due: android

fix: type conversion
  ios/RNInstabug/RNInstabug.m
Due: ios

snapshot
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/components/Select.tsx
  examples/default/src/components/VerticalListTile.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/yarn.lock
  yarn.lock
Due: none

fix: ios test cases
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

chore: add readme file for UI customization
  FONTS_SETUP_GUIDE.md
Due: none

fix: lint
  FONTS_SETUP_GUIDE.md
Due: none

fix: rename some variables
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

snapshot
  examples/default/node_modules/native-base/src/hooks/useKeyboardDismissable.ts
  examples/default/package.json
  examples/default/src/components/Select.tsx
  examples/default/yarn.lock
Due: none

add screen render to sample app , add unit testing to android, ios and RN
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/android/build.gradle
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: android

fix format
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/navigation/HomeStack.tsx
Due: none

Update dangerfile.ts
  dangerfile.ts
Due: none

add screen render to sample app , add unit testing to android, ios and RN
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: android

chore: fix lint
  examples/default/src/screens/apm/ScreenRender.tsx
Due: none

update the sample app
  examples/default/src/screens/apm/ScreenRender.tsx
Due: none

chore: first commit
  examples/default/ios/Podfile.lock
Due: none

chore: fix Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
