Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix(ios): network log empty response body
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

chore: enhance expo router tracking support (#1272)
  CHANGELOG.md
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix(ios): network log empty response body
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix: added changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: publish snapshots to npm (#1274)
  .circleci/config.yml
  scripts/snapshot-branch.sh
  scripts/snapshot-comment.md
  scripts/snapshot-version.sh
Due: none

ci: run tests before enterprise releases (#1271)
  .circleci/config.yml
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/android/app/src/main/res/raw/instabug_config.json
  examples/default/android/build.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/Instabug.plist
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  scripts/customize-ios-endpoints.sh
  scripts/dream-11-delete-unused-features.sh
  scripts/replace.js
Due: ios

feat/support-capture-client-error-in-xhr-requests
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: Pr comments
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: Pr comments
  CHANGELOG.md
Due: none

fix: Pr comments
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: Pr comments
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

feat: export upload utils (#1252)
  .gitignore
  CHANGELOG.md
  cli/UploadSoFiles.ts
  cli/UploadSourcemaps.ts
  cli/commands/UploadSoFiles.ts
  cli/commands/UploadSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  rollup.config.js
  tsconfig.upload.json
  upload/package.json
Due: none

chore(example): remove flipper (#1259)
  android/src/main/AndroidManifest.xml
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/java/com/instabug/react/example/ReactNativeFlipper.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/release/java/com/instabugexample/ReactNativeFlipper.java
  examples/default/android/gradle.properties
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: android

fix(android): resolve an OOM in network logs (#1244)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: export upload utils (#1252)
  CHANGELOG.md
Due: none

fix(android): APM network logging(#1253)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

chore(android): bump android sdk to v13.3.0 (#1261)
  CHANGELOG.md
  android/native.gradle
Due: android

fix(android): pass network start time in microseconds (#1260)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: support feature flags with variants (#1230)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/src/screens/SettingsScreen.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/FeatureFlag.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

release: v13.3.0 (#1263)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

fix: change client error code to 9876
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix: change client error code to 9876
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: change client error code to 9876
  examples/default/package.json
Due: none

feat: add axios button to example app
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

chore: remove duplicate execution traces deprecation in changelog (#1265)
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v13.3.0 (#1262)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: remove duplicate app flows entries in changelog (#1264)
  CHANGELOG.md
Due: none

fix: change client error code to 9876
  examples/default/yarn.lock
Due: none

fix: changelog merge issues
  CHANGELOG.md
Due: none

feat: navigation tracking support with expo router (#1270)
  examples/default/src/App.tsx
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
