Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

release: v12.2.0 (#1058)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

fix: fix and enhance AGP namespace support (#1044)
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
Due: android

chore(android): bump sdk v12.2.0 (#1052)
  CHANGELOG.md
  android/native.gradle
Due: android

chore: extend default metro config (#1039)
  examples/default/metro.config.js
  examples/default/package.json
  examples/default/yarn.lock
Due: none

chore: update outdated jest config format (#1042)
  jest.config.js
Due: none

chore(ios): bump sdk v12.2.0 (#1053)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

feat(ios): add native-side init API for startup crashes (#1056)
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  ios/RNInstabug/Util/Instabug+CP.h
Due: ios

chore(ios): sync JavaScript fatal crashes through promises (#1054)
  CHANGELOG.md
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

fix(ios): enable screenshots for crashes & sessions (#1055)
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

chore: integrate android snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore: integrate android snapshot
  android/native.gradle
Due: android

fix: resolve nn ci issue
  .circleci/config.yml
Due: none

docs: update changelog.md
  CHANGELOG.md
Due: none

fix: resolve nn ci issue (#1062)
  .circleci/config.yml
Due: none

chore(android): integrate early crashes snapshot
  android/native.gradle
Due: android

chore(android): integrate packages conflict snapshot
  android/build.gradle
  android/native.gradle
Due: android

fix: disable namespace support for AGP 7.3.0
  android/build.gradle
Due: android

chore(ios): integrate crashes attachment snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(android): integrate crashes attachment logs snapshot
  android/native.gradle
Due: android

ci: disable dependencies for generate snapshot
  .circleci/config.yml
Due: none

chore: remove build files
  .gitignore
Due: none

fix(android): get application through react context
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

fix(android): get application through react context (#1069)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

ci: refactor generate_snapshot conditionally removing danger plugin
  .circleci/config.yml
Due: none

chore(android): integrate crash linking to V3 fix snapshot
  android/native.gradle
Due: android

chore(android): sync JS fatal crashes via promises
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  src/utils/InstabugUtils.ts
Due: javascript, android

chore(android): sync JS fatal crashes via promises (#1071)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  src/utils/InstabugUtils.ts
Due: javascript, android

chore(android): bump sdk to v12.4.0
  android/native.gradle
Due: android

feat(example): add scroll view and flat list to user steps
  examples/default/src/components/Screen.tsx
  examples/default/src/components/Section.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/FlatListScreen.tsx
  examples/default/src/screens/ScrollViewScreen.tsx
  examples/default/src/screens/UserStepsScreen.tsx
  examples/default/src/utils/createList.ts
Due: none

feat(example): add activity indicator
  examples/default/src/screens/BasicComponentsScreen.tsx
Due: none
