Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: linting
  .lh/CHANGELOG.md.json
  .lh/RNInstabug.podspec.json
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
Due: none

fix: add unreleased in changelog
  CHANGELOG.md
Due: none

fix: add change log
  CHANGELOG.md
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: update pod lock
  .lh/examples/default/ios/Podfile.lock.json
Due: none

run automask in main thread
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore(android): bump sdk to v14.3.0
  android/native.gradle
Due: android

fix: update pod lock
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

fix: linting
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

feat: stop capturing network body
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript

fix: add change log
  CHANGELOG.md
Due: none

fix: linting
  CHANGELOG.md
Due: none

fix: pod file
  examples/default/ios/Podfile.lock
Due: none

cocoa pods version
  examples/default/ios/Podfile.lock
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: crash on non fatal
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

fix: fetal crash
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

fix: reformate change log
  CHANGELOG.md
Due: none

chore: (Android) bump sdk to v14.3.0
  CHANGELOG.md
  android/native.gradle
Due: android

release: 14.3.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

fix: delete history files
  .lh/CHANGELOG.md.json
  .lh/RNInstabug.podspec.json
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
  .lh/examples/default/src/screens/apm/NetworkScreen.tsx.json
  .lh/src/modules/Instabug.ts.json
  .lh/src/native/NativeAPM.ts.json
Due: none

chore: merge
  CHANGELOG.md
  RNInstabug.podspec
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/native/NativeAPM.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: prepare snapshot with extra reprosteps logs
  README.md
  android/build.gradle
  android/native.gradle
  android/sourcemaps.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/Podfile
  examples/default/package.json
  examples/default/yarn.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/sourcemaps.sh
  package.json
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/native/NativeFeatureRequests.ts
  src/native/NativePackage.ts
  src/native/NativeSurveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockSurveys.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Surveys.spec.ts
  yarn.lock
Due: javascript, android, ios

chore(android): prepare snapshot with extra logs for repro steps
  README.md
  android/build.gradle
  android/native.gradle
  android/sourcemaps.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  examples/default/ios/Podfile
  examples/default/package.json
  examples/default/yarn.lock
  ios/sourcemaps.sh
  package.json
  scripts/dream-11-delete-unused-features.sh
  src/index.ts
  src/modules/FeatureRequests.ts
  src/modules/Surveys.ts
  src/native/NativeFeatureRequests.ts
  src/native/NativePackage.ts
  src/native/NativeSurveys.ts
  src/utils/Enums.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockSurveys.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Surveys.spec.ts
  upload/index.d.ts
  upload/index.js
  upload/uploadSoFiles.d.ts
  upload/uploadSourcemaps.d.ts
  yarn.lock
Due: javascript, android, ios

feat: support bug reporting user consents
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/BugReporting.ts
  src/native/NativeBugReporting.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
  test/mocks/mockBugReporting.ts
Due: javascript, android, ios

fix: ios tests
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

feat: xcode 16 support
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/ios/native/CrashReportingExampleModule.m
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.h
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  ios/RNInstabug/Util/IBGCrashReporting+CP.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/RNInstabug/Util/Instabug+CP.h
  ios/native.rb
Due: ios

fix: userConsentTypo
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  src/modules/BugReporting.ts
  src/native/NativeBugReporting.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android

fix: action type ios nullability
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/modules/BugReporting.ts
Due: javascript, android, ios

fix: ios nullability
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

feat: xcode 16 support
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
Due: none

feat: xcode 16 support
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

feat: xcode 16 support
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/InstabugTests/Util/IBGCrashReporting+CP.h
Due: none

feat: xcode 16 support
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

feat: xcode 16 support
  examples/default/ios/Podfile.lock
  scripts/customize-ios-endpoints.sh
Due: none

feat: xcode 16 support
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugBugReportingTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugFeatureRequestsTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/yarn.lock
Due: none

feat: xcode 16 support
  examples/default/ios/Podfile.lock
Due: none
