Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat(example): add google maps screen (#1148)
  examples/default/.env
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/res/values/strings.xml
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/GoogleMapsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/yarn.lock
Due: none

fix(example): fix fatal hangs and ANR crash buttons (#1154)
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

feat(example): survey with token actions (#1157)
  examples/default/src/components/VerticalListTile.tsx
  examples/default/src/screens/SurveysScreen.tsx
Due: none

feat(example): customize chat settings (#1156)
  examples/default/src/screens/RepliesScreen.tsx
Due: none

fix: pr comments
  examples/default/src/screens/SettingsScreen.tsx
Due: none

chore(android): deprecate execution traces APIs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: add more crash scenarios to example app (#1131)
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/native/CrashReportingExampleModule.h
  examples/default/ios/native/CrashReportingExampleModule.m
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/native/NativePackage.ts
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

chore: deprecate execution traces APIs
  src/models/Trace.ts
  src/modules/APM.ts
Due: javascript

chore(ios): deprecate execution traces APIs
  ios/RNInstabug/InstabugAPMBridge.h
Due: ios

docs: update changelog.md
  CHANGELOG.md
Due: none

feat: support app flows
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, android, ios

feat(example): add apm screen
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

test(ios): remove redundant app-flow stubbing
  examples/default/ios/InstabugTests/InstabugAPMTests.m
Due: none

chore(android): remove deprecation reason from annotations
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: add setNDKCrashesEnabled API (#1132)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  test/mocks/mockCrashReporting.ts
  test/modules/CrashReporting.spec.ts
Due: javascript, android

feat:add upload symbol files command (#1137)
  CHANGELOG.md
  cli/UploadSoFiles.ts
  cli/index.ts
Due: none

feat(example): add large image list example (#1145)
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/LargeImageListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat: add new NDK crash scenarios to example app (#1139)
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/cpp/CMakeLists.txt
  examples/default/android/app/src/main/cpp/crasher.c
  examples/default/android/app/src/main/cpp/crasher_2.c
  examples/default/android/app/src/main/cpp/crasher_2.h
  examples/default/android/app/src/main/cpp/crasher_3.c
  examples/default/android/app/src/main/cpp/crasher_3.h
  examples/default/android/app/src/main/cpp/crasher_4.cpp
  examples/default/android/app/src/main/cpp/crasher_4.h
  examples/default/android/app/src/main/cpp/native-lib.cpp
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeLibs/CppNativeLib.java
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/yarn.lock
Due: none

feat: add get session replay link API (#1142)
  CHANGELOG.md
Due: none

feat: add runtime code push version API (#1143)
  CHANGELOG.md
Due: none

chore(ios): add app flows snapshot
  examples/default/ios/Podfile
Due: none

chore(android): add app flows snapshot
  android/native.gradle
Due: android

feat(example): Add more sdk crashes buttons
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/src/components/PlatformListTie.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/native/NativeCrashReporting.ts
Due: javascript, android, ios

feat: integrate bugsnage
  android/src/main/AndroidManifest.xml
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/build.gradle
  examples/default/index.js
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/InstabugExample/Info.plist
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: android

fix: PR comments
  examples/default/src/components/InputField.tsx
  examples/default/src/screens/SettingsScreen.tsx
Due: none

feat(example): add back and forth example screen (#1144)
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BackAndForthScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat(example): add set user identification and attribute (#1153)
  examples/default/src/components/InputField.tsx
  examples/default/src/navigation/RootTab.tsx
  examples/default/src/screens/SettingsScreen.tsx
Due: none

fix: use correct string type in network diagnostics handler
  src/modules/Instabug.ts
Due: javascript

fix(android): oom error in network log
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

build(example): add backgroundTimer package
  examples/default/package.json
  examples/default/yarn.lock
Due: none

feat(example): Add delayed button
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
Due: none

docs(android): update setFlowAttribute param docs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android
