Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: try ci
  .circleci/config.yml
Due: none

fix: install appium globally
  .circleci/config.yml
Due: none

fix: try to specifiy drivers
  .circleci/config.yml
Due: none

fix: lint
  .circleci/config.yml
Due: none

fix:try ci
  .circleci/config.yml
Due: none

add: `setOnFeaturesUpdatedListener` android listener and refactor instabug init method
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  examples/default/src/screens/apm/NetworkScreen.tsx
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeNetworkLogger.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, android

fix: try ci
  .circleci/config.yml
  examples/hybrid/e2e/e2e-config.ts
  examples/hybrid/e2e/proxy-server.py
  examples/hybrid/e2e/setup.ts
Due: none

fix: try ci
  .circleci/config.yml
  examples/hybrid/jest.config.js
Due: none

fix: try ci
  .circleci/config.yml
  examples/hybrid/e2e/e2e-config.ts
Due: none

fix: try ios
  .circleci/config.yml
  examples/hybrid/e2e/e2e-config.ts
Due: none

fix: try ios
  .circleci/config.yml
Due: none

apply: PR comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModuleTest.java
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/NetworkLogger.ts
  src/native/NativeNetworkLogger.ts
  src/utils/InstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, android, ios

apply: PR comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugNetworkLoggerModule.java
Due: android

chore (android): release 14.0.2.1
  android/native.gradle
Due: android

chore(android): integrate with V.14.0.2.1
  android/native.gradle
Due: android

fix: try some test
  examples/hybrid/e2e/proxyTest.spec.ts
Due: none

fix: try ci
  examples/hybrid/e2e/proxyTest.spec.ts
Due: none

fix: tru ci
  .circleci/config.yml
Due: none

fix:try ci
  .circleci/config.yml
  examples/hybrid/e2e/proxyTest.spec.ts
Due: none

chore(android): integrate with V.14.0.2.1 (#1332)
  android/native.gradle
Due: android

fix: release
  .circleci/config.yml
Due: none
