Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

release/v13.1.1
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  package.json
Due: none

fix test cases
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix(ios): convert data typeexplicitly
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

fix: export number partial id
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: modify partial id generator function
  src/utils/InstabugUtils.ts
Due: javascript

fix: modify partial id generator test cases
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

fix(ios): fix explicit type conversion
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

feat(example): add network request generators buttons
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/ApmScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
Due: none

ci: fix lint
  examples/default/src/screens/ApmScreen.tsx
Due: none

fix(example): fix import typo
  examples/default/src/navigation/HomeStack.tsx
Due: none

ci(example): add missing import
  examples/default/package.json
  examples/default/yarn.lock
Due: none

fix test cases
  scripts/find-token.sh
Due: none

fix sourcemap issue
  android/sourcemaps.gradle
  ios/sourcemaps.sh
Due: android, ios

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix sourcemap issue
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

fix sourcemap issue
  CHANGELOG.md
Due: none

Update typo in CHANGELOG.md
  CHANGELOG.md
Due: none

fix: read env variable in sourcemap (#1232)
  CHANGELOG.md
  android/sourcemaps.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: android, ios

Release:v13.1.1 (#1231)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  package.json
Due: none

feat(android): map apm network logs
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

chore bump sdk to 13.0.3.1
  android/native.gradle
  package.json
Due: android

chore bump sdk to 13.0.3.1
  android/native.gradle
Due: android

chore bump ios sdk to 13.0.6
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore bump ios sdk to 13.0.6
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore bump ios sdk to 13.0.6
  ios/native.rb
Due: ios

fix: cont work after logging
  src/modules/Instabug.ts
Due: javascript

feat: control sending screenshot with each crash type
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/yarn.lock
  ios/RNInstabug/InstabugFeatureRequestsBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSurveysBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat: control sending screenshot with each crash type
  examples/default/src/App.tsx
Due: none

feat: control sending screenshot with each crash type
  examples/default/ios/Podfile.lock
Due: none

feat: control sending screenshot with each crash type
  test/modules/Instabug.spec.ts
Due: none

feat: control sending screenshot with each crash type
  src/models/ReproConfig.ts
Due: javascript

feat: control sending screenshot with each crash type
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/ReproConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript, android, ios

feat: control sending screenshot with each crash type
  examples/default/src/App.tsx
  src/modules/Instabug.ts
Due: javascript

feat: control sending screenshot with each crash type
  src/modules/Instabug.ts
Due: javascript

feat(android): add W3C native modules & tests
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
Due: android

feat: map w3c android native modules and test
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript

feat(example): add enable/disable APM buttons
  examples/default/src/screens/ApmScreen.tsx
Due: none

feat: register w3c feature change listener
  src/modules/Instabug.ts
Due: javascript
