Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: xcode 16 support
  examples/default/ios/Podfile.lock
Due: none

dream11
  android/src/main/java/com/instabug/reactlibrary/RNInstabugFeatureRequestsModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativePackage.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
Due: android

Set bug report types
  examples/default/src/components/InputField.tsx
  examples/default/src/components/ListTile.tsx
  examples/default/src/screens/BugReportingScreen.tsx
Due: none

chore: integrate android snapshot
  android/native.gradle
Due: android

fix: pod file
  examples/default/android/build.gradle
Due: none

fix: revert
  examples/default/android/build.gradle
Due: none

fix: update pod file.lock
  examples/default/ios/Podfile.lock
Due: none

snapshot '14.0.3.6738494-SNAPSHOT'
  android/native.gradle
Due: android

Release: v14.0.4
  android/build.gradle
  android/native.gradle
  package.json
Due: android

fix: podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: add change log
  CHANGELOG.md
Due: none

refactor: Replace APM API that uses reflection by a package private API
  android/native.gradle
  android/src/main/java/com/instabug/apm/networking/ApmNetworkLoggerHelper.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: add expo sourcemap support
  android/sourcemaps.gradle
  app.plugin.js
  expo.d.ts
  expo.js
  ios/sourcemaps.sh
  package.json
  plugin/index.ts
  plugin/withInstabug.ts
  plugin/withInstabugAndroid.ts
  plugin/withInstabugIOS.ts
  tsconfig.json
Due: android, ios

feat: add expo sourcemap support
  expo.d.ts
  expo.js
  plugin/src/index.ts
  plugin/src/withInstabug.ts
  plugin/src/withInstabugAndroid.ts
  plugin/src/withInstabugIOS.ts
  plugin/tsconfig.json
  rollup.config.js
  tsconfig.json
Due: none

feat: enable auto masking screenshots in RN
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
Due: javascript, android, ios

fix: add change log
  CHANGELOG.md
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

fix: add unreleased in changelog
  CHANGELOG.md
Due: none

fix: linting
  .lh/CHANGELOG.md.json
  .lh/RNInstabug.podspec.json
  .lh/examples/default/ios/Podfile.json
  .lh/examples/default/ios/Podfile.lock.json
Due: none

fix: linting
  .lh/examples/default/ios/Podfile.json
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: android

fix: update pod lock
  .lh/examples/default/ios/Podfile.lock.json
Due: none

run automask in main thread
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: linting
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

fix: update pod lock
  .lh/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java.json
Due: none

fix: add change log
  CHANGELOG.md
Due: none

fix: change log lint
  CHANGELOG.md
Due: none

fix: linting
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/InstabugReactBridge.m
Due: android, ios

fix: parameters order
  android/src/main/java/com/instabug/apm/networking/ApmNetworkLoggerHelper.java
Due: android

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: integrate iOS expo updates support custom build
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

feat[ios]: add setOverAirVersion
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
Due: ios

feat[ios]: test setOverAirVersion
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
Due: none

feat: add setOverAirVersion
  examples/default/src/App.tsx
  examples/default/src/screens/HomeScreen.tsx
  src/models/InstabugConfig.ts
  src/models/OverAirUpdate.ts
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
Due: javascript

feat: test setOverAirVersion
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: none

chore[ios]: revert old cocoapods version
  examples/default/ios/Podfile.lock
Due: none

feat: add expo sourcemap support
  expo.js
  ios/sourcemaps.sh
  plugin/src/withInstabugIOS.ts
  plugin/tsconfig.json
  rollup.config.js
Due: ios

feat: add expo sourcemap support
  examples/default/yarn.lock
Due: none

feat: add expo sourcemap support
  plugin/src/withInstabugAndroid.ts
  plugin/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none
