Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: expo plugin
  yarn.lock
Due: none

fix: expo plugin
  package.json
  yarn.lock
Due: none

feat: add accessibilityLabel to support Android Appium
  examples/default/src/components/InputField.tsx
  examples/default/src/components/ListTile.tsx
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/components/Select.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/UserConsentScreen.tsx
Due: none

chore: update AndroidManifest permissions with Service Media Projection
  examples/default/android/app/src/main/AndroidManifest.xml
Due: none

fix: expo plugin
  src/models/OverAirUpdate.ts
Due: javascript

fix: expo-plugin (#1438)
  .circleci/config.yml
  package.json
  src/models/OverAirUpdate.ts
  yarn.lock
Due: javascript

chore: update iOS pods
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: remove native iOS deprecated api
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore: bump ios SDK to v16.0.2
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: bump ios SDK to v16.0.2
  examples/default/ios/Podfile.lock
Due: none

chore: bump ios SDK to v16.0.2
  CHANGELOG.md
Due: none

chore: update android dependency
  android/native.gradle
Due: android

Release(dream11):v14.0.6
  CHANGELOG.md
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: ios

chore: run yarn format:fix
  examples/default/src/components/ListTile.tsx
  examples/default/src/components/Select.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/UserConsentScreen.tsx
Due: none

Release(dream11):v14.0.6
  examples/default/ios/Podfile.lock
Due: none

Release(dream11):v14.0.6
  examples/default/ios/Podfile
  scripts/dream-11-delete-unused-features.sh
Due: none

Release(dream11):v14.0.6
  CHANGELOG.md
Due: none

Release(dream11):v14.0.6
  examples/default/ios/Podfile
Due: none

release:v15.0.3
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: ios

Release(dream11):v14.0.6
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

Release(dream11):v14.0.6
  RNInstabug.podspec
  examples/default/ios/Podfile
Due: none

Release(dream11):v14.0.6 (#1439)
  CHANGELOG.md
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
  scripts/dream-11-delete-unused-features.sh
Due: ios

Release:v15.0.3
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

Release:v15.0.3
  CHANGELOG.md
Due: none

Release:v15.0.3
  examples/default/ios/Podfile.lock
Due: none

Release:v15.0.3 (#1440)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: ios

chore/ios-26
  .circleci/config.yml
Due: none

chore: add init command to CLI
  .eslintrc.js
  cli/README.md
  cli/commands/Init.ts
  cli/index.ts
  cli/init/init.ts
  cli/upload/index.ts
  examples/default/ios/Podfile.lock
  expo-plugin/index.js
  package.json
Due: none

chore: update CLI README.md
  cli/README.md
Due: none

ci: fix custom release package
  .circleci/config.yml
Due: none

fix: conflict with RN-health dependency
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
Due: ios

fix: escape dependency
  .circleci/config.yml
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
