Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

ci: publish sdk to new namespace
  .circleci/config.yml
Due: none

chore: revert non-related committed files
  APM-19535 SDK CP-RN App Flows.patch
  android/src/main/AndroidManifest.xml
  credentials_app_flows.patch
  examples/default/android/key.properties
  examples/default/ios/Podfile.lock
Due: android

chore: apply lint fix
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
Due: javascript

fix: remove useless comments
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

chore: create a replace script as a replacement for sed
  .eslintrc.js
  scripts/replace.js
Due: none

chore: rename willRedirectToAppStore to willRedirectToStore, chore: add the changes to CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

refactor: allow replace script to replace in multiple files
  scripts/replace.js
Due: none

ci: refactor nn and injazat releases to use a common job
  .circleci/config.yml
Due: none

chore: add the changes to CHANGELOG.md
  CHANGELOG.md
Due: none

update: test function name to follow the new naming conversions, update: function (willRedirectToStore)implementation to be able to support older versions
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: change api endpoint in so upload script in enterprise releases
  .circleci/config.yml
Due: none

feat: add custom app rating api (#1186)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore(android): bump android SDK to v13.0.0
  CHANGELOG.md
  android/native.gradle
Due: android

chore(android): bump android SDK to v13.0.0
  CHANGELOG.md
  ios/native.rb
Due: ios

chore(ios): bump ios SDK to v13.0.0
  CHANGELOG.md
  ios/native.rb
Due: ios

chore(ios): bump ios to v13.0.0
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump SDK to v13.0.0 (#1189)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump SDK to v13.0.0 (#1188)
  CHANGELOG.md
  android/native.gradle
Due: android

fix: podFile issue
  examples/default/ios/Podfile
Due: none

feat: support app flows APIs (#1138)
  .eslintrc.js
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  package.json
  src/models/Trace.ts
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
  yarn.lock
Due: javascript, android, ios

release: v13.0.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

release: v13.0.0 (#1190)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

add non fatal api
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/screens/CrashReportingScreen.tsx
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  ios/native.rb
  src/modules/CrashReporting.ts
  src/native/NativeConstants.ts
  src/native/NativeCrashReporting.ts
  src/utils/Enums.ts
  src/utils/InstabugUtils.ts
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

add non fatal api
  examples/default/ios/InstabugTests/Util/IBGCrashReporting+CP.h
  ios/RNInstabug/Util/IBGCrashReporting+CP.h
Due: ios

fix android_testing issue
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/UnhandledRejectionTracking.spec.ts
Due: javascript

fix android_testing issue
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

feat: add non fatal api
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.m
  src/utils/InstabugUtils.ts
Due: javascript, android, ios

release(d11):v13.0.1
  android/native.gradle
  package.json
Due: android

release(d11):v13.0.1
  examples/default/ios/Podfile.lock
Due: none

release(d11):v13.0.1
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  package.json
Due: none

chore: and custom android snapshot [13.0.0.5859885-SNAPSHOT]
  android/build.gradle
  android/native.gradle
Due: android

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
