Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: APM test cases
  CHANGELOG.md
Due: none

chore: revert Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: fix ci
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump sdk to v13.4.1
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: update changelog
  CHANGELOG.md
Due: none

Revert "feat: add w3c header (#1255)"
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/e2e/reportBug.e2e.ts
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/models/W3cExternalTraceAttributes.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript, android, ios

chore: update android plugin
  android/native.gradle
  examples/default/android/build.gradle
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/utils/InstabugUtils.ts
  src/utils/NativeFlags.ts
Due: javascript, android

Revert "feat: add w3c header (#1255)" (#1287)
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/e2e/reportBug.e2e.ts
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/models/W3cExternalTraceAttributes.ts
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript, android, ios

fix: gradle sourcemap
  android/sourcemaps.gradle
Due: android

fix: added changelog item
  CHANGELOG.md
Due: none

fix source map
  android/sourcemaps.gradle
Due: android

refactor: move flavor path to variable
  android/sourcemaps.gradle
Due: android

fix: launchType typo
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugSessionReplayBridge.m
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, ios

refactor: make flavors backward-compatible
  android/sourcemaps.gradle
Due: android

fix(android): resolve flavor path correctly in upload sourcemaps (#1225)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

fix: update class sessionEvaluationCompletion atomicity
  ios/RNInstabug/InstabugSessionReplayBridge.h
Due: ios

chore: enhance syncCallback formatting
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

chore: update evaluateSync formatting
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

fix(android): resolve correct app version with flavors
  android/sourcemaps.gradle
Due: android

fix(android): resolve correct app version with flavors (#1289)
  android/sourcemaps.gradle
Due: android

chore: add the feature flag logic
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/Instabug.ts
  src/native/NativeAPM.ts
  src/utils/AppStatesHandler.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
Due: javascript, android, ios

fix: fix test SetSyncCallback
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

chore: add different request types to APM -> NetworkScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

chore: initial commit
  examples/default/ios/Podfile.lock
Due: none

fix: update getNetworkLogsArray return value
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: ios

feat(ios): add session sync callback (#1282)
  RNInstabug.podspec
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/native/NativeConstants.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, ios

fix(ios): report fatal crashes with new api
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

fix(ios): report fatal crashes with the updated api (#1290)
  CHANGELOG.md
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

chore(ios): bump sdk to v13.4.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: update pr numbers
  CHANGELOG.md
Due: none

chore(android): bump sdk to v13.4.0
  CHANGELOG.md
  android/native.gradle
Due: android

release: v13.4.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: bump android sdk to 13.4.1
  CHANGELOG.md
  android/native.gradle
Due: android

fix(ios): update network logging signature with empty w3c data
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
Due: ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
