Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Update README.md
  README.md
Due: none

Remove `video` string key
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  src/utils/ArgsRegistry.ts
Due: javascript, android

Add more string keys and missing mappings
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/ArgsRegistry.ts
Due: javascript, android, ios

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[MOB-10648] Add Overridable String Keys (#840)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/utils/ArgsRegistry.ts
Due: javascript, android, ios

[MOB-11436] Deprecate `callPrivateApi` (#866)
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

Fix `init` usage in tests
  tests/modules/Instabug.spec.js
Due: none

Remove `start` from mocks
  tests/mocks/mockInstabug.js
Due: none

Export InstabugConfig type and move interface
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
Due: javascript

Bump Version to 11.6.0
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

[MOB-11468] Release v11.6.0 (#869)
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

[MOB-11435] Bump iOS SDK to `v11.6.0` (#864)
  CHANGELOG.md
  RNInstabug.podspec
Due: none

[MOB-11426] Bump Android SDK to `v11.7.0` (#863)
  CHANGELOG.md
  android/build.gradle
Due: android

[MOB-11439] Add `init` API (#867)
  CHANGELOG.md
  README.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/upload_sourcemap.sh
  example/ios/InstabugSample.xcodeproj/project.pbxproj
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  example/src/App.js
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/upload_sourcemap.sh
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  tests/mocks/mockInstabug.js
  tests/modules/Instabug.spec.js
  tests/utils/InstabugUtils.spec.js
Due: javascript, android, ios

Add `debugLogsLevel` to `InstabugConfig`
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/utils/Enums.ts
Due: javascript

Add `debugLogsLevel` to `init` on Android
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Add `debugLogsLevel` to init test
  tests/modules/Instabug.spec.js
Due: none

Add `debugLogsLevel` to `init` on iOS
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Deprecate legacy debug logs APIs and enums
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/utils/ArgsRegistry.ts
Due: javascript

Add `debugLogsLevel` in iOS `init` test
  example/ios/InstabugSampleTests/InstabugSampleTests.m
Due: none

Enhance doc comments
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/utils/ArgsRegistry.ts
Due: javascript

[MOB-11440] Add `debugLogsLevel` to `InstabugConfig` (#873)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  tests/modules/Instabug.spec.js
Due: javascript, android, ios

Add `commander` and `figlet` dev dependencies
  package.json
Due: none

Create TS CLI for Source Maps Upload
  cli/sourcemaps.ts
Due: none

Include `src` directory in lib config file
  tsconfig.json
Due: none

Add `build:cli` script
  .circleci/config.yml
  package.json
Due: none

Add `tsconfig.cli.json`
  tsconfig.cli.json
Due: none

Add `instabug` executable via `bin` field
  package.json
Due: none

Separate main program and `upload-sourcemaps`
  cli/UploadSourcemaps.ts
  cli/index.ts
Due: none

Add `bin/` to `.gitignore`
  .gitignore
Due: none

Sync `yarn.lock`
  yarn.lock
Due: none

Remove Dependabot
  .github/dependabot.yml
Due: none

Add `axios` and `form-data` dev dependencies
  package.json
  yarn.lock
Due: none

Add `uploadFile` function
  cli/UploadSourcemaps.ts
  tsconfig.cli.json
Due: none

[SEC-3364] Remove Dependabot (#883)
  .github/dependabot.yml
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
