Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

ci: generalize enterprise releases (#1275)
  .circleci/config.yml
Due: none

fix: PR comments
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

fix: merge issues
  CHANGELOG.md
Due: none

fix: add unknown type to launch types
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, ios

fix: assert evaluate sync returns correct value
  test/modules/SessionReplay.spec.ts
Due: none

fix: import type
  src/native/NativeSessionReplay.ts
Due: javascript

fix: cleanup
  src/modules/SessionReplay.ts
Due: javascript

chore: update js doc
  src/modules/SessionReplay.ts
Due: javascript

fix: typo
  src/modules/SessionReplay.ts
Due: javascript

fix: follow interface naming convention
  examples/default/src/App.tsx
  src/index.ts
  src/modules/SessionReplay.ts
Due: javascript

fix: update type
  src/modules/SessionReplay.ts
Due: javascript

fix(ios): network log empty response body (#1273)
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix: refactor syncCallback
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix: default syncing session to true
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix: convert network logs to readable array
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

chore: add discriptive comment
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
Due: android

fix: drop non-error objects when reporting errors (#1279)
  CHANGELOG.md
  src/modules/CrashReporting.ts
Due: javascript

feat: capture client error in the network interceptor (#1257)
  CHANGELOG.md
  examples/default/package.json
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

chore: use readable map for session metadata
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android

fix: js testcases
  examples/default/ios/Podfile.lock
Due: none

feat: add migrate APM into core in ios section
  examples/default/ios/Podfile.lock
Due: none

fix: Pr comments
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/native/NativeInstabug.ts
Due: javascript, android

fix: PR comment
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

fix: Pr comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

fix: added changelog item
  android/native.gradle
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: android, ios

fix: feature flag listener
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/FeatureFlags.ts
  test/modules/Instabug.spec.ts
Due: javascript

fix: feature flag listener
  test/modules/Instabug.spec.ts
Due: none

feat(example): add apm screen (#1141)
  CHANGELOG.md
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/screens/apm/APMScreen.tsx
Due: none

fix(android): resolve an OOM in network logs (#1244)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockInstabug.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

fix(android): APM network logging(#1253)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: export upload utils (#1252)
  CHANGELOG.md
Due: none

chore(example): remove flipper (#1259)
  examples/default/ios/Podfile.lock
Due: none

fix(android): pass network start time in microseconds (#1260)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: support feature flags with variants (#1230)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore(android): bump android sdk to v13.3.0 (#1261)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v13.3.0 (#1262)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.3.0 (#1263)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
