Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

[MOB-11894] Export Native Android SDK (#907)
  CHANGELOG.md
  android/build.gradle
Due: android

[MOB-11697] Bump iOS SDK to `v11.7.0` (#908)
  CHANGELOG.md
  RNInstabug.podspec
  example/ios/Podfile.lock
Due: none

Remove unnecessary events in methods with callbacks
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSurveysBridge.m
  src/modules/BugReporting.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/utils/InstabugConstants.ts
Due: javascript, android, ios

Bump Android SDK to `v11.8.0`
  CHANGELOG.md
  android/build.gradle
Due: android

[MOB-11698] Bump Android SDK to `v11.8.0` (#913)
  CHANGELOG.md
  android/build.gradle
Due: android

Remove Crash Reporting and report submit events
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/CrashReporting.ts
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
Due: javascript, android, ios

Create New Enums
  src/index.ts
  src/native.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript

Add New Enums to APIs
  src/models/InstabugConfig.ts
  src/modules/BugReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
Due: javascript

Update Example App with New Enums
  example/src/App.tsx
  example/src/screens/BugReportingScreen.tsx
  example/src/screens/SettingsScreen.tsx
Due: none

Remove unneeded Crash Reporting events
  src/modules/CrashReporting.ts
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

Fix Sourcemaps Scripts in Monorepo
  android/upload_sourcemap.sh
  ios/upload_sourcemap.sh
Due: android, ios

Sync Project File
  example/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

Update Changelog
  CHANGELOG.md
Due: none

[MOB-11925] Support Monorepos in Source Maps Scripts (#915)
  CHANGELOG.md
  android/upload_sourcemap.sh
  example/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/upload_sourcemap.sh
Due: android, ios

Change Enums Values Case to Camel
  example/src/App.tsx
  example/src/screens/BugReportingScreen.tsx
  example/src/screens/SettingsScreen.tsx
  src/modules/Instabug.ts
  src/utils/Enums.ts
Due: javascript

Fix Tests
  src/modules/Instabug.ts
  test/modules/BugReporting.spec.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

Mock `getConstants`
  test/mocks/mockInstabug.ts
Due: none

[MOB-11550] Introduce New Enums (#914)
  CHANGELOG.md
  example/src/App.tsx
  example/src/screens/BugReportingScreen.tsx
  example/src/screens/SettingsScreen.tsx
  src/index.ts
  src/models/InstabugConfig.ts
  src/modules/BugReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
  src/native.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/BugReporting.spec.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

Cleanup Changelog
  CHANGELOG.md
Due: none

Fix linting
  test/utils/InstabugUtils.spec.ts
Due: none

[MOB-11900] Remove Unneeded Crash Reporting Events (#916)
  src/modules/CrashReporting.ts
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

Fix `BugReporting.setDidSelectPromptOptionHandler`
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

[MOB-11942] Fix `setDidSelectPromptOptionHandler` (#920)
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

Fix `BugReporting.setDidSelectPromptOptionHandler` (#920)
  ios/RNInstabug/InstabugBugReportingBridge.m
Due: ios

Delegate Native SDKs
  CHANGELOG.md
  RNInstabug.podspec
  android/build.gradle
  android/native.gradle
  ios/native.rb
Due: android, ios

[MOB-11946] Delegate Native SDKs (#919)
  CHANGELOG.md
  RNInstabug.podspec
  android/build.gradle
  android/native.gradle
  ios/native.rb
Due: android, ios

Bump Android SDK to `v11.9.0`
  CHANGELOG.md
  android/native.gradle
Due: android

[MOB-11947] Bump Android SDK to `v11.9.0` (#926)
  CHANGELOG.md
  android/native.gradle
Due: android

Bump iOS SDK to `v11.9.0`
  CHANGELOG.md
  example/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-11948] Bump iOS SDK to `v11.9.0` (#927)
  CHANGELOG.md
  example/ios/Podfile.lock
  ios/native.rb
Due: ios

Release v11.9.0
  CHANGELOG.md
  android/build.gradle
  example/ios/Podfile.lock
  package.json
Due: android

[MOB-11949] Release v11.9.0 (#928)
  CHANGELOG.md
  android/build.gradle
  example/ios/Podfile.lock
  package.json
Due: android

[MOB-11590] Migrate Unit Tests to TypeScript (#894)
  .eslintrc.js
  .npmignore
  jest.config.js
  test/mocks/fakeNetworkRequest.ts
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockParseErrorStackLib.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/mocks/mockXhrNetworkInterceptor.ts
  test/models/Report.spec.ts
  test/models/Trace.spec.ts
  test/modules/APM.spec.ts
  test/modules/BugReporting.spec.ts
  test/modules/CrashReporting.spec.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/setup.ts
  test/utils/InstabugUtils.spec.ts
  test/utils/XhrNetworkInterceptor.spec.ts
  test/xhr2.d.ts
  tests/mocks/fakeNetworkRequest.js
  tsconfig.json
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
