Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Fix Publish Job Working Directory
  .circleci/config.yml
Due: none

Fix Publish Job Working Directory (#837)
  .circleci/config.yml
Due: none

Remove platform check for sdk debug logs API
  src/modules/Instabug.ts
  tests/modules/Instabug.spec.js
Due: javascript

Add setSdkDebugLogsLevel implementation on Android
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Add setSdkDebugLogsLevel native Android test
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

Deprecate setDebugEnabled API
  src/modules/Instabug.ts
  tests/modules/Instabug.spec.js
Due: javascript

Remove setDebugEnabled from Android bridge
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

Deprecate `APM.setLogLevel`
  src/modules/APM.ts
Due: javascript

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove Codecov
  .circleci/config.yml
  .npmignore
  codecov.yml
Due: none

[MOB-10968] Remove Codecov (#846)
  .circleci/config.yml
  .npmignore
  codecov.yml
Due: none

Re-export Survey as export type
  src/index.ts
Due: javascript

[INSD-8643] Fix `Survey` interface export (#851)
  CHANGELOG.md
  src/index.ts
Due: javascript

Check reportJSException error type internally
  src/modules/CrashReporting.ts
Due: javascript

Deprecate reportJSException and add reportError
  src/modules/CrashReporting.ts
Due: javascript

Use reportError in tests
  tests/modules/CrashReporting.spec.js
Due: none

Use `reportError` API in example app
  example/src/screens/HomeScreen.js
Due: none

[INSD-8643] Add `reportError` and deprecate `reportJSException` (#852)
  CHANGELOG.md
  example/src/screens/HomeScreen.js
  src/modules/CrashReporting.ts
  tests/modules/CrashReporting.spec.js
Due: javascript

Release 11.5.1
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

Release 11.5.1 (#853)
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

Add `init` API
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
Due: javascript, android, ios

Bump Android SDK to `v11.7.0`
  CHANGELOG.md
  android/build.gradle
Due: android

Add `init` API tests
  example/ios/InstabugSampleTests/InstabugSampleTests.m
  tests/mocks/mockInstabug.js
  tests/modules/Instabug.spec.js
Due: none

Deprecate `start` in favour of `init`
  src/modules/Instabug.ts
Due: javascript

Remove `start` from Android Bridge
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Remove `start` from iOS Bridge
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

[MOB-11426] Bump Android SDK to `v11.7.0` (#863)
  CHANGELOG.md
  android/build.gradle
Due: android

Bump iOS SDK to `v11.6.0`
  CHANGELOG.md
  RNInstabug.podspec
Due: none

Replace `start` with `init` in other places
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  tests/modules/Instabug.spec.js
  tests/utils/InstabugUtils.spec.js
Due: javascript

Use `init` instead of `start` in example app
  example/src/App.js
Due: none

[MOB-11435] Bump iOS SDK to `v11.6.0` (#864)
  CHANGELOG.md
  RNInstabug.podspec
Due: none

Deprecate `callPrivateApi`
  CHANGELOG.md
  src/modules/Instabug.ts
Due: javascript

Get token from `init` for source maps upload
  android/upload_sourcemap.sh
  ios/upload_sourcemap.sh
Due: android, ios

Sync `project.pbxproj`
  example/ios/InstabugSample.xcodeproj/project.pbxproj
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
