Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add file path check
  cli/UploadSoFiles.ts
Due: none

fix:lint issue
  CHANGELOG.md
Due: none

fix: CHANGELOG typo issue
  CHANGELOG.md
Due: none

feat: add file validations
  cli/UploadSoFiles.ts
Due: none

chore: format UploadSoFiles.ts
  cli/UploadSoFiles.ts
Due: none

chore: add changes in changeLog
  CHANGELOG.md
Due: none

feat: add setNDKCrashesEnabled API (#1132)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  test/mocks/mockCrashReporting.ts
  test/modules/CrashReporting.spec.ts
Due: javascript, android

feat:add upload symbol files command (#1137)
  CHANGELOG.md
  cli/UploadSoFiles.ts
  cli/index.ts
Due: none

add: crashes examples to simple app
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/cpp/CMakeLists.txt
  examples/default/android/app/src/main/cpp/crasher.c
  examples/default/android/app/src/main/cpp/crasher_2.c
  examples/default/android/app/src/main/cpp/crasher_2.h
  examples/default/android/app/src/main/cpp/crasher_3.c
  examples/default/android/app/src/main/cpp/crasher_3.h
  examples/default/android/app/src/main/cpp/crasher_4.cpp
  examples/default/android/app/src/main/cpp/crasher_4.h
  examples/default/android/app/src/main/cpp/native-lib.cpp
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/nativeLibs/CppNativeLib.java
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

feat: add http request simples
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/ApmScreen.tsx
  examples/default/src/screens/apm/NetworkLogScreen.tsx
  examples/default/yarn.lock
Due: none

feat: add http request simples
  examples/default/src/screens/apm/ApmScreen.tsx
Due: none

feat: add http request simples
  examples/default/src/screens/apm/NetworkLogScreen.tsx
Due: none

feat(example): Add more sdk crashes buttons
  examples/default/src/components/PlatformListTie.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

feat_add_private_view_simple_in_demo_app
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/complex-views/ComplexViewsScreen.tsx
  examples/default/src/screens/complex-views/PrivateViewScreen.tsx
Due: none

feat_add_private_view_simple_in_demo_app
  examples/default/src/screens/complex-views/PrivateViewScreen.tsx
Due: none

fix linting error
  examples/default/src/screens/HomeScreen.tsx
Due: none

fix: rebase issues
  examples/default/src/components/PlatformListTie.tsx
  examples/default/src/navigation/HomeStack.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: ios

feat(android): add native runtime setCodePushVersion
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

feat: Mapping-Session-Replay-links-api
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/SessionReplayScreen.tsx
  ios/RNInstabug/InstabugSessionReplayBridge.h
  ios/RNInstabug/InstabugSessionReplayBridge.m
  src/modules/SessionReplay.ts
  src/native/NativeSessionReplay.ts
  test/mocks/mockSessionReplay.ts
  test/modules/SessionReplay.spec.ts
Due: javascript, android, ios

feat: Mapping-Session-Replay-links-api
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSessionReplayModuleTest.java
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
  ios/RNInstabug/InstabugSessionReplayBridge.m
Due: android, ios

feat(ios): add native runtime setCodePushVersion
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore: deprecate execution traces APIs
  src/models/Trace.ts
  src/modules/APM.ts
Due: javascript

chore(ios): deprecate execution traces APIs
  ios/RNInstabug/InstabugAPMBridge.h
Due: ios

chore(android): deprecate execution traces APIs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

docs: update changelog.md
  CHANGELOG.md
Due: none

feat: support app flows
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, android, ios

feat: add runtime code push version API
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
Due: javascript

test: add tests for runtime code push version API
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: add eslint jsdoc plugin and update imports
  .eslintrc.js
  package.json
  src/models/Trace.ts
  yarn.lock
Due: javascript

feat(example): add back and forth example screen
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BackAndForthScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat(example): add large image list example
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/LargeImageListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

feat(example): enable NDK crash
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/yarn.lock
Due: none

feat(example): add google maps screen
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/res/values/strings.xml
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/GoogleMapsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/yarn.lock
Due: none

feat(example): add google maps screen (#1146)
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/res/values/strings.xml
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/Podfile
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/GoogleMapsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/yarn.lock
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
