Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

[MOB-12305] Fix Sourcemaps Upload Script with Android Product Flavors (#978)
  android/sourcemaps.gradle
Due: android

[MOB-12422] Upgrade Example App to React Native 0.71 (#982)
  examples/default/.detoxrc.js
  examples/default/.detoxrc.json
  examples/default/.watchmanconfig
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/AndroidManifest.xml
  examples/default/android/app/src/debug/java/com/instabug/react/example/ReactNativeFlipper.java
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/res/drawable/rn_edit_text_material.xml
  examples/default/android/app/src/main/res/values/styles.xml
  examples/default/android/app/src/release/java/com/instabugexample/ReactNativeFlipper.java
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.jar
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/gradlew
  examples/default/android/gradlew.bat
  examples/default/android/settings.gradle
  examples/default/e2e/config.json
  examples/default/e2e/environment.js
  examples/default/ios/.xcode.env
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/AppDelegate.h
  examples/default/ios/InstabugExample/AppDelegate.m
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/InstabugExample/LaunchScreen.storyboard
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
Due: none

Bump Android SDK to `v11.12.0`
  android/native.gradle
Due: android

Update changelog
  CHANGELOG.md
Due: none

[MOB-12434] Bump Android SDK to `v11.12.0` (#985)
  CHANGELOG.md
  android/native.gradle
Due: android

Bump iOS SDK to `v11.12.0`
  ios/native.rb
Due: ios

Sync `Podfile.lock`
  examples/default/ios/Podfile.lock
Due: none

[MOB-12433] Bump iOS SDK to `v11.12.0` (#986)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

Release `v11.12.0`
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Release `v11.12.0` (#987)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

[MOB-12425] Properly Disable Network Interception with Patched XHR (#984)
  CHANGELOG.md
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

[MOB-12247] Fix Sourcemaps Script with Old Gradle (#970)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

[INSD-9579] Fix Unhandled JavaScript Crashes on Android (#980)
  CHANGELOG.md
  src/utils/InstabugUtils.ts
Due: javascript

[MOB-12305] Fix Sourcemaps Upload Script with Android Product Flavors (#975)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

[MOB-12414] Disable Android Sourcemaps Upload with Env Var (#983)
  .circleci/config.yml
  CHANGELOG.md
  README.md
  android/sourcemaps.gradle
  examples/default/.detoxrc.json
Due: android

Skip recreating sourcemaps task if it exists
  android/sourcemaps.gradle
Due: android

Update Changelog
  CHANGELOG.md
Due: none

Fix typos
  android/sourcemaps.gradle
Due: android

Remove `danger-plugin-coverage`
  package.json
  yarn.lock
Due: none

[MOB-12473] Skip Recreating Sourcemaps Gradle Task If It Exists (#991)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

fix(jacoco-reports): replace enabled prop with required for html and xml reports
  android/jacoco.gradle
Due: android

fix(jacoco-reports): fix PR comments
  android/jacoco.gradle
Due: android

chore(jacoco-reporting): add changes to CHANGELOG
  CHANGELOG.md
Due: none

[MOB-12511] Replace JaCoCo’s `enabled` with `required` (#995)
  CHANGELOG.md
  android/jacoco.gradle
Due: android

Bump Android SDK
  android/native.gradle
Due: android

Bump iOS SDK
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-12549] Bump Android SDK to v11.13.0 (#996)
  CHANGELOG.md
  android/native.gradle
Due: android

[MOB-12550] Bump iOS SDK to v11.13.3 (#997)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

Change SDK version
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

[MOB-12553] Release v11.13.0 (#998)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android
