Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

revert deleting dervied data
  .circleci/config.yml
Due: none

fix: PR comments
  CHANGELOG.md
Due: none

fix: replace thrown errors with logs (#1220)
  CHANGELOG.md
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
Due: javascript

feat: exclude DEV server url from network logs
  src/modules/NetworkLogger.ts
Due: javascript

feat: exclude DEV server url from network logs
  CHANGELOG.md
Due: none

feat: customize js code with dream11 customization
  examples/hybrid/App.tsx
Due: none

feat: add manual interception for android app
  examples/hybrid/android/app/build.gradle
  examples/hybrid/android/app/src/main/java/com/instabug/hybridsampleapp/HybridApplication.java
  examples/hybrid/android/app/src/main/java/com/instabug/hybridsampleapp/MainActivity.java
  examples/hybrid/android/app/src/main/res/layout/activity_main.xml
  examples/hybrid/android/app/src/main/res/values/strings.xml
  examples/hybrid/android/settings.gradle
Due: none

feat: customizing ios app with dream11 customization
  examples/hybrid/ios/HybridSampleApp/AppDelegate.m
  examples/hybrid/ios/HybridSampleApp/Base.lproj/Main.storyboard
  examples/hybrid/ios/HybridSampleApp/MainViewController.h
  examples/hybrid/ios/HybridSampleApp/MainViewController.m
  examples/hybrid/ios/Podfile.lock
  examples/hybrid/package.json
  examples/hybrid/yarn.lock
Due: none

feat: exclude DEV server url from network logs
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/utils/InstabugConstants.ts
Due: javascript

fix: pod issue
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/ios/Podfile
  examples/hybrid/ios/Podfile.lock
Due: none

feat: exclude DEV server url from network logs
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/utils/InstabugConstants.ts
  src/utils/config.ts
Due: javascript

fix: use the native gradel version
  android/native.gradle
  examples/hybrid/android/app/build.gradle
Due: android

fix: remove setCodepush for ios
  examples/hybrid/ios/HybridSampleApp/AppDelegate.m
Due: none

fix: remove setCodePush for android
  examples/hybrid/android/app/src/main/java/com/instabug/hybridsampleapp/HybridApplication.java
Due: none

fix: fix android interception version
  android/native.gradle
  examples/hybrid/android/app/build.gradle
Due: android

refactor(example): upgrade to react native 0.75.4 (#1302)
  .circleci/config.yml
  android/build.gradle
  android/jacoco.gradle
  android/native.gradle
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/AndroidManifest.xml
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity.kt
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.kt
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/gradlew
  examples/default/android/gradlew.bat
  examples/default/android/settings.gradle
  examples/default/babel.config.js
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/AppDelegate.mm
  examples/default/ios/InstabugExample/Info.plist
  examples/default/ios/InstabugExample/PrivacyInfo.xcprivacy
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/patches/react-native+0.72.3.patch
  examples/default/patches/react-native-background-timer+2.4.1.patch
  examples/default/patches/react-native-vector-icons+10.2.0.patch
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/yarn.lock
Due: android

Adding WebViews to sample app
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/webViews/FullWebViewsScreen.tsx
  examples/default/src/screens/apm/webViews/PartialWebViewsScreen.tsx
  examples/default/src/screens/apm/webViews/WebViewsScreen.tsx
  examples/default/yarn.lock
Due: none

feat: upgrade to 14.0.0
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

feat: upgrade to 14.0.0
  examples/default/ios/Podfile.lock
Due: none

feat: upgrade to 14.0.0
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

Adding buttons to the sample app
  examples/default/src/screens/BugReportingScreen.tsx
Due: none

Release : v14.0.0
  CHANGELOG.md
  android/native.gradle
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: android, ios

Release : v14.0.0
  examples/default/ios/Podfile.lock
Due: none

Release : v14.0.0
  CHANGELOG.md
Due: none

Fixing Pods issue
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
Due: none

Release: v14.0.0 (#1312)
  CHANGELOG.md
  android/native.gradle
  examples/default/ios/Podfile.lock
  ios/native.rb
  package.json
Due: android, ios

Fixing CI
  examples/default/ios/Podfile.lock
Due: none

merge dev
  examples/default/ios/Podfile.lock
Due: none

merge dev
  src/utils/InstabugConstants.ts
  src/utils/config.ts
Due: javascript

fix: test case
  examples/default/ios/InstabugTests/InstabugSessionReplayTests.m
Due: none

feat(ios): enabling network logs auto masking
  RNInstabug.podspec
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
