Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: Replace Thrown Errors with Logs
  CHANGELOG.md
Due: none

fix: Replace Thrown Errors with Logs
  src/modules/APM.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
Due: javascript

feat:remove tracestate
  src/utils/XhrNetworkInterceptor.ts
  test/utils/XhrNetworkInterceptor.spec.ts
Due: javascript

fix: conflict issue
  examples/default/src/App.tsx
Due: none

fix: conflict issue
  src/modules/CrashReporting.ts
Due: javascript

ci: integrate with flow
  .babelrc
  .flowconfig
  package.json
  yarn.lock
Due: none

fix: conflict issue
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

Update native.gradle
  android/native.gradle
Due: android

feat: read INSTABUG_APP_TOKEN from env file in automatic sourcemap file upload
  CHANGELOG.md
  scripts/find-token.sh
Due: none

feat: read INSTABUG_APP_TOKEN from env file in automatic sourcemap file upload
  scripts/find-token.sh
Due: none

add switchTheUpdatingThread
  android/native.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  examples/default/src/screens/SurveysScreen.tsx
  src/modules/Surveys.ts
  src/native/NativeSurveys.ts
Due: javascript, android

add switchTheUpdatingThread
  test/mocks/mockSurveys.ts
Due: none

upgrade ios version
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

fix source map
  android/sourcemaps.gradle
Due: android

android only
  src/modules/Surveys.ts
Due: javascript

android only
  dist/modules/Surveys.js
Due: none

fix: gradle sourcemap
  android/sourcemaps.gradle
Due: android

feat: add supporting variants
  android/native.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/screens/SettingsScreen.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  src/models/IBGFeatureRequest.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix env value issue
  android/sourcemaps.gradle
  scripts/find-token.sh
Due: android

fix: env
  android/sourcemaps.gradle
  ios/sourcemaps.sh
Due: android, ios

feat: get feature flags from IOS
  RNInstabug.podspec
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/Util/IBGAPM+PrivateAPIs.h
  src/modules/APM.ts
  src/native/NativeAPM.ts
  src/utils/InstabugConstants.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: javascript, ios

ci: fix ios test
  examples/default/ios/Podfile.lock
Due: none

fix: modify function naming
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
Due: javascript, ios

fix: update APM test cases
  test/modules/APM.spec.ts
Due: none

fix: update native test cases naming
  examples/default/ios/InstabugTests/InstabugAPMTests.m
Due: none

chore(ios): bump ios sdk v13.1.0
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(ios): bump ios sdk v13.1.0
  CHANGELOG.md
Due: none

chore(android): bump ios sdk v13.1.1
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump ios sdk v13.1.0
  examples/default/ios/Podfile.lock
Due: none

chore(android): bump android sdk v13.1.1
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
Due: android

feat(ios): w3c logs mapping
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

chore(ios): bump sdk to v13.1.0 (#1227)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v13.1.1 (#1228)
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
Due: android

Update Podfile
  examples/default/ios/Podfile
Due: none

merge
  examples/default/ios/Podfile
  ios/native.rb
Due: ios

merge
  examples/default/ios/Podfile.lock
Due: none

merge
  CHANGELOG.md
Due: none

fix merge issue
  examples/default/ios/Podfile.lock
Due: none

feat: enhance non-fatals support (#1194)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/InstabugTests/Util/IBGCrashReporting+CP.h
  examples/default/src/screens/CrashReportingScreen.tsx
  ios/RNInstabug/ArgsRegistry.h
  ios/RNInstabug/ArgsRegistry.m
  ios/RNInstabug/InstabugBugReportingBridge.m
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
  ios/RNInstabug/RCTConvert+InstabugEnums.m
  ios/RNInstabug/Util/IBGCrashReporting+CP.h
  ios/native.rb
  src/models/NonFatalOptions.ts
  src/modules/CrashReporting.ts
  src/native/NativeConstants.ts
  src/native/NativeCrashReporting.ts
  src/utils/Enums.ts
  src/utils/InstabugUtils.ts
  src/utils/UnhandledRejectionTracking.ts
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios
