Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

chore: bump up react-native dependencies (#1007)
  .circleci/config.yml
  .gitignore
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/settings.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  package.json
  src/native/NativeCrashReporting.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  yarn.lock
Due: javascript

chore: add auto device selection detection (#1009)
  examples/default/.detoxrc.js
Due: none

refactor: extract shared crash reporting logic (#1010)
  .gitignore
  src/modules/CrashReporting.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

chore: bump up react-native dependencies (#1007)
  .circleci/config.yml
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/settings.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  package.json
  src/native/NativeCrashReporting.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  yarn.lock
Due: javascript

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor(android): reuse native init in react-native init API
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

refactor: pass invocationEvents to native init
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

test: remove redundant log mockStatic
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

chore: remove done Todo
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

test(android): add tests for native sdk init APIs
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

chore(android): upgrade mockito-inline to 3.12.1
  android/build.gradle
Due: android

feat(android): add native sdk initialization API
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
Due: android

chore(android): Remove commented test code
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

feat(android): overload init without the `logLevel` parameter
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
Due: android

chore(android): remove compileOptions for javaVersion
  android/build.gradle
Due: android

chore(android): rename log tag to `IBG`
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
Due: android

test(android): add tests for `init` overloaded without `LogLevel`
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

chore(android): combine multiple catch statements into one
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
Due: android

chore(android): update docs for native-side init method
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
Due: android

refactor(android): pass invocationEvent to `setInvocationEvents`
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

feat: report startup crashes on android (#1012)
  CHANGELOG.md
  android/build.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
Due: android

feat: implement unhandled promise rejection tracker
  src/promise.d.ts
  src/utils/InstabugUtils.ts
  src/utils/UnhandledRejectionTracking.ts
Due: javascript

feat: capture unhandled rejections on init
  examples/default/metro.config.js
  src/modules/Instabug.ts
Due: javascript

feat(ci): automate enterprise nn sdk changes
  .circleci/config.yml
Due: none

chore: add unhandled rejection to example
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

feat(ci): add the building & releasing jobs
  .circleci/config.yml
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): fix parameters names
  .circleci/config.yml
Due: none

test: test errorifyIfNotError
  test/utils/InstabugUtils.spec.ts
Due: none

fix: add src to test TS config
  tsconfig.test.json
Due: none

test: add unit tests for unhandled rejection
  src/utils/UnhandledRejectionTracking.ts
  test/mocks/mockHermesInternal.ts
  test/mocks/mockPromiseRejectionTracking.ts
  test/setup.ts
  test/utils/UnhandledRejectionTracking.spec.ts
Due: javascript

refactor: use anonymous class instead of lambda
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

fix: update PR link format in changelog
  CHANGELOG.md
Due: none

test(ci): test the ci pipeline in a private repo
  .circleci/config.yml
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): fix ci pipeline failure removing README.md file
  .circleci/config.yml
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): fix ci pipeline commands
  .circleci/config.yml
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): fix ci pipeline commands
  .circleci/config.yml
Due: none

fix(ci): fix branch name
  scripts/create-nn-release-branch.sh
Due: none

fix(ci): fix mising single quotes
  .circleci/config.yml
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
