Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

fix: Podfile.lock version
  examples/default/ios/Podfile.lock
Due: none

add: unit tests to InstabugUtils.spec.ts
  src/utils/InstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

fix: [RN][Android] setTrackUserSteps API not handled on the Android RN side
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
Due: javascript, android

fix: test modules
  test/modules/Instabug.spec.ts
Due: none

fix: rename test cases
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

add: unit tests to InstabugUtils.spec.ts, remove: debug console logs
  src/utils/AppStatesHandler.ts
  test/utils/AppStatesHandler.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

fix: trying working android proxy version
  .circleci/config.yml
  examples/hybrid/e2e/setup.ts
Due: none

fix: try ios
  examples/default/ios/Podfile
Due: none

fix: pod lock
  examples/hybrid/ios/Podfile.lock
Due: none

fix: try android
  .circleci/config.yml
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
Due: none

fix: try ios
  .circleci/config.yml
Due: none

fix: try pod install
  .circleci/config.yml
Due: none

fix: try android and pods
  .circleci/config.yml
  examples/hybrid/ios/Podfile
Due: none

fix: try pod file
  .circleci/config.yml
Due: none

fix: try pod install and android
  .circleci/config.yml
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/ios/Podfile.lock
  examples/hybrid/patches/react-native+0.72.3.patch
  examples/hybrid/yarn.lock
Due: none

fix: add post install
  examples/hybrid/package.json
Due: none

fix: add valid config yml
  .circleci/config.yml
Due: none

fix: config yml
  .circleci/config.yml
Due: none

fix: try pod
  .circleci/config.yml
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/ios/Podfile
Due: none

fix: try pods
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/patches/react-native+0.72.3.patch
Due: none

fix: try another patch
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/patches/react-native+0.72.3.patch
Due: none

feat: add implementation for frameTracking using choreographer & frameMetricsAggregator APIs
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_choreographer/FrameRateProvider.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_choreographer/ReactFrameRateCallback.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_choreographer/ReactUiThreadExecutor.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_choreographer/UiThreadExecutor.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_frame_metrics/ScreenTrace.java
Due: android

snapshot(d11): 14.2.1
  .circleci/config.yml
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
  examples/default/ios/Podfile.lock
  examples/default/yarn.lock
  package.json
  src/modules/SessionReplay.ts
Due: javascript, android

snapshot(d11): 14.2.1
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

snapshot(d11): 14.2.1
  android/build.gradle
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: android

snapshot(d11): 14.2.1
  scripts/dream-11-delete-unused-features.sh
Due: none

Revert "fix: try another patch"
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/patches/react-native+0.72.3.patch
Due: none

Revert "fix: try pods"
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/patches/react-native+0.72.3.patch
Due: none

Revert "fix: try pod install and android"
  examples/hybrid/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybrid/ios/Podfile.lock
  examples/hybrid/patches/react-native+0.72.3.patch
  examples/hybrid/yarn.lock
Due: none

chore(ios): integrate with ios custom build
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(android): integrate snapshot
  android/native.gradle
Due: android

snapshot: 14.2.0
  android/native.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

snapshot: 14.2.0
  examples/default/ios/Podfile.lock
Due: none

chore(ios): integrate discarding non fatal custom build
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

snaphot: 14.2.0.6612718-SNAPSHOT
  android/build.gradle
Due: android

snaphot: 14.2.0.6612718-SNAPSHOT
  android/native.gradle
Due: android

chore(ios): update snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

feat: add complex views to APM screen, attached frame tracking to app navigation
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/frame_tracker_frame_metrics/ScreenTrace.java
  examples/default/src/screens/apm/APMScreen.tsx
Due: android
