Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

Use `circleci/ruby` Image for Danger
  .circleci/config.yml
  Gemfile
  Gemfile.lock
Due: none

[MOB-12143] Use `circleci/ruby` Image for Danger (#944)
  .circleci/config.yml
  Gemfile
  Gemfile.lock
Due: none

Use Shallow Checkout in CI
  .circleci/config.yml
Due: none

[MOB-12052] Use Shallow Checkout in CI (#943)
  .circleci/config.yml
Due: none

Cache CI Pods
  .circleci/config.yml
Due: none

[MOB-12050] Cache CI Pods (#945)
  .circleci/config.yml
Due: none

Remove Redundant CI Steps
  .circleci/config.yml
Due: none

[MOB-12180] Remove Redundant CI Steps (#947)
  .circleci/config.yml
Due: none

Cache CI Node Modules
  .circleci/config.yml
Due: none

Use `node` Orb
  .circleci/config.yml
Due: none

Cache Gradle on CI
  .circleci/config.yml
  example/.detoxrc.json
Due: none

Add `onDismissHandler` API to `BugReporting`
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/modules/BugReporting.ts
  src/native/NativeConstants.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript, android, ios

Rename native method
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  example/ios/InstabugTests/InstabugBugReportingTests.m
  ios/RNInstabug/InstabugBugReportingBridge.h
  ios/RNInstabug/InstabugBugReportingBridge.m
  src/modules/BugReporting.ts
  src/native/NativeBugReporting.ts
  test/mocks/mockBugReporting.ts
  test/modules/BugReporting.spec.ts
Due: javascript, android, ios

Fix iOS Test
  example/ios/InstabugTests/InstabugBugReportingTests.m
Due: none

Fix Android Test
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
Due: android

Fix JS Test
  test/modules/BugReporting.spec.ts
Due: none

Add `IBGReportType` iOS enum mapping
  ios/RNInstabug/ArgsRegistry.m
Due: ios

Upgrade deprecated macOS resource class to gen2
  .circleci/config.yml
Due: none

[MOB-12053] Use `node` CI Orb (#946)
  .circleci/config.yml
Due: none

[MOB-12204] Upgrade macOS Resource Class to Gen2
  .circleci/config.yml
Due: none

Fix CLI Typos
  cli/UploadSourcemaps.ts
  cli/index.ts
Due: none

Update `example` path in CI
  .circleci/config.yml
Due: none

[MOB-12207] Fix CLI Typos (#952)
  cli/UploadSourcemaps.ts
  cli/index.ts
Due: none

Update git and npm ignore files
  .gitignore
  .npmignore
Due: none

Update `example` script
  package.json
Due: none

Add `codePushLabel` to `InstabugConfig` and `init`
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
Due: javascript

Add `codePushLabel` to `init` on Android
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Use Android snapshot
  android/native.gradle
  examples/default/android/build.gradle
Due: android

Add `setCodePushVersion` mapping on iOS
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
Due: ios

Use iOS Custom Build
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

Add `setCodePushVersion` test on iOS
  examples/default/ios/InstabugTests/InstabugSampleTests.m
Due: none

Add `codePushLabel` property to `init` test
  test/modules/Instabug.spec.ts
Due: none

Increase `init` test coverage
  test/modules/Instabug.spec.ts
Due: none

Update `init` after rebase
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove Unused GitHub Apps
  .github/auto-assign-issues.yml
  .github/lock.yml
Due: none
