Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: add crash reporting screens and enhance navigation
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/components/Select.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/crash-reporting/CrashReportingStateScreen.tsx
  examples/default/src/screens/crash-reporting/FatalCrashesScreen.tsx
  examples/default/src/screens/crash-reporting/NDKCrashesStateScreen.tsx
  examples/default/src/screens/crash-reporting/NonFatalCrashesScreen.tsx
Due: none

feat: add User Consent screen and update navigation
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/UserConsentScreen.tsx
Due: none

feat: add bug reporting state management screen
  examples/default/ios/Podfile.lock
  examples/default/src/components/ListTile.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingStateScreen.tsx
Due: none

feat: enhance bug reporting functionality
  examples/default/src/components/ListTile.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingStateScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingTypesScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/ExtendedBugReportStateScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationEventsScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationOptionsScreen.tsx
  examples/default/src/screens/bug-reporting/SessionProfilerScreen.tsx
Due: none

fix: update crash reporting method for non-fatal native crashes
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
Due: none

fix: yarn format
  examples/default/src/components/Select.tsx
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/ExtendedBugReportStateScreen.tsx
Due: none

chore: update podfile
  examples/default/ios/Podfile.lock
Due: none

fix: generate podfile.lock with 1.14
  examples/default/ios/Podfile.lock
Due: none

chore: add change log
  CHANGELOG.md
Due: none

fix: SDK initialized async (#1427)
  CHANGELOG.md
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  src/modules/Instabug.ts
  src/native/NativeNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, ios

feat: support ignore flag secure on android. (#1412)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

Release: v15.0.2
  CHANGELOG.md
Due: none

chore: podfile update
  examples/default/ios/Podfile.lock
Due: none

Remove Links override
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugExample/Instabug.plist
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore: remove properties override from iOS
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
Due: none

Release: v15.0.2
  examples/default/ios/Podfile.lock
Due: none

Release: v15.0.2
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/AndroidManifest.xml
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity.kt
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity2.kt
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/res/layout/activity_main.xml
  examples/default/android/build.gradle
  examples/default/src/App.tsx
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/screens/HomeScreen.tsx
Due: android

Release: v15.0.2
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

Release: v15.0.2
  examples/default/android/app/src/main/java/com/instabug/react/example/MainActivity2.kt
Due: none

chore: add ios native APIs
  .gitignore
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/native.rb
  src/modules/APM.ts
  src/native/NativeAPM.ts
Due: javascript, ios

chore: pull changes from remove_deprecate_apis branch using rebase
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  examples/default/src/App.tsx
Due: android

update the sample app
  examples/default/src/screens/apm/ScreenRender.tsx
Due: none

add screen render to sample app , add unit testing to android, ios and RN
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
Due: android

fix format
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile.lock
  examples/default/src/navigation/HomeStack.tsx
Due: none

chore: first commit
  examples/default/ios/Podfile.lock
Due: none

chore: fix lint
  examples/default/src/screens/apm/ScreenRender.tsx
Due: none

chore: fix Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore: refactor example app, add new screen for custom traces, update native dependencies
  android/native.gradle
  examples/default/ios/Podfile
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/CustomUITraceScreen.tsx
  examples/default/src/screens/apm/ExecutionTraceScreen.tsx
  examples/default/src/screens/apm/ScreenRender.tsx
  examples/default/src/screens/user-steps/ComplexViewsScreen.tsx
  ios/native.rb
Due: android, ios

fix format
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
Due: none

chore: push Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

fix lint
  examples/default/src/App.tsx
Due: none

chore: update the iOS pods
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/native.rb
Due: ios

fix: lint errors
  examples/default/src/screens/bug-reporting/BugReportingScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingStateScreen.tsx
  examples/default/src/screens/bug-reporting/BugReportingTypesScreen.tsx
  examples/default/src/screens/bug-reporting/DisclaimerTextScreen.tsx
  examples/default/src/screens/bug-reporting/ExtendedBugReportStateScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationEventsScreen.tsx
  examples/default/src/screens/bug-reporting/InvocationOptionsScreen.tsx
  examples/default/src/screens/bug-reporting/RepliesStateScreen.tsx
  examples/default/src/screens/bug-reporting/SessionProfilerScreen.tsx
  examples/default/src/screens/bug-reporting/ViewHierarchyScreen.tsx
  examples/default/src/screens/crash-reporting/CrashReportingStateScreen.tsx
  examples/default/src/screens/crash-reporting/FatalCrashesScreen.tsx
  examples/default/src/screens/crash-reporting/NDKCrashesStateScreen.tsx
  examples/default/src/screens/crash-reporting/NonFatalCrashesScreen.tsx
Due: none

chore: update android dependency
  android/native.gradle
Due: android

Release: v15.0.2 (#1428)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/native/NativeNetworkLogger.ts
  test/modules/Instabug.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

release: 15.0.2
  examples/default/ios/Podfile.lock
  package.json
Due: none

release: 15.0.2
  CHANGELOG.md
Due: none
