Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Remove `test` dir from tsconfig `include`
  tsconfig.json
Due: none

Add `tsconfig.test.json`
  jest.config.js
  tsconfig.test.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[MOB-12026] Fix TS Compile Error (#931)
  CHANGELOG.md
  jest.config.js
  tsconfig.json
  tsconfig.test.json
Due: none

Re-export `NetworkData` type
  src/index.ts
  src/modules/NetworkLogger.ts
Due: javascript

[MOB-12027] Re-export `NetworkData` Type (#932)
  CHANGELOG.md
  src/index.ts
  src/modules/NetworkLogger.ts
Due: javascript

Apply new changelog guidelines
  CHANGELOG.md
Due: none

Bump version to `11.9.1`
  android/build.gradle
  example/ios/Podfile.lock
  package.json
Due: android

[MOB-12036] Release v11.9.1 (#935)
  CHANGELOG.md
  android/build.gradle
  example/ios/Podfile.lock
  package.json
Due: android

[MOB-11974] Add Interfaces for Native Modules (#918)
  src/modules/CrashReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
  src/modules/Surveys.ts
  src/native.ts
  src/native/ApmNativeModule.ts
  src/native/BugReportingNativeModule.ts
  src/native/CrashReportingNativeModule.ts
  src/native/FeatureRequestsNativeModule.ts
  src/native/InstabugNativeModule.ts
  src/native/NativeConstants.ts
  src/native/RepliesNativeModule.ts
  src/native/SurveysNativeModule.ts
  src/native/index.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  src/utils/IBGEventEmitter.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/modules/APM.spec.ts
  test/modules/FeatureRequests.spec.ts
Due: javascript

[MOB-11945] Update React Native Dev Dependency to 0.66 (#925)
  package.json
  src/utils/IBGEventEmitter.ts
  test/mocks/mockParseErrorStackLib.ts
  test/setup.ts
  test/utils/InstabugUtils.spec.ts
  yarn.lock
Due: javascript

Remove commented code
  src/native/NativePackage.ts
Due: javascript

Fix imports in mocks
  test/mocks/mockAPM.ts
  test/mocks/mockBugReporting.ts
  test/mocks/mockCrashReporting.ts
  test/mocks/mockFeatureRequests.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockNativeModules.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
Due: none

Restructure Native Directory
  src/models/Report.ts
  src/models/Trace.ts
  src/modules/APM.ts
  src/modules/BugReporting.ts
  src/modules/CrashReporting.ts
  src/modules/FeatureRequests.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeAPM.ts
  src/native/NativeBugReporting.ts
  src/native/NativeCrashReporting.ts
  src/native/NativeFeatureRequests.ts
  src/native/NativeInstabug.ts
  src/native/NativePackage.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  src/native/index.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
  src/utils/InstabugUtils.ts
  test/models/Report.spec.ts
  test/models/Trace.spec.ts
  test/modules/APM.spec.ts
  test/modules/BugReporting.spec.ts
  test/modules/CrashReporting.spec.ts
  test/modules/FeatureRequests.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript

Migrate Bug Reporting to `NativeEventEmitter`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/EventEmitterModule.java
  src/modules/BugReporting.ts
  src/utils/InstabugConstants.ts
  test/modules/BugReporting.spec.ts
Due: javascript, android

Migrate Instabug module to `NativeEventEmitter`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/modules/Instabug.ts
  src/utils/InstabugConstants.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

Remove event emitter from network logger
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/NetworkLogger.ts
  src/utils/InstabugConstants.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript, ios

Migrate Replies to `NativeEventEmitter`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  src/modules/Replies.ts
  src/utils/IBGEventEmitter.ts
  src/utils/InstabugConstants.ts
  test/modules/Replies.spec.ts
  test/setup.ts
Due: javascript, android

Fix Android tests
  android/src/main/java/com/instabug/reactlibrary/utils/EventEmitterModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
Due: android

Move emitters to native directory
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeBugReporting.ts
  src/native/NativeInstabug.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  test/modules/BugReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
Due: javascript

Remove `InstabugUtil.sendEvent`
  android/src/main/java/com/instabug/reactlibrary/utils/InstabugUtil.java
Due: android

Migrate Surveys to `NativeEventEmitter`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  src/modules/Surveys.ts
  src/utils/InstabugConstants.ts
  test/modules/Surveys.spec.ts
Due: javascript, android

Export `NetworkDataObfuscationHandler` type
  src/index.ts
Due: javascript

[MOB-9962] Migrate to `NativeEventEmitter` (#924)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugBugReportingModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/EventEmitterModule.java
  android/src/main/java/com/instabug/reactlibrary/utils/InstabugUtil.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugBugReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  ios/RNInstabug/InstabugReactBridge.m
  src/index.ts
  src/modules/BugReporting.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeBugReporting.ts
  src/native/NativeInstabug.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  src/utils/IBGEventEmitter.ts
  src/utils/InstabugConstants.ts
  test/modules/BugReporting.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/NetworkLogger.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/setup.ts
Due: javascript, android, ios

Remove dead code
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

[MOB-12043] Remove Android Module Dead Code (#884)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

Replace CLI `dir` flag with `file`
  cli/UploadSourcemaps.ts
Due: none

[MOB-11997] Replace CLI `dir` flag with `file` (#937)
  cli/UploadSourcemaps.ts
Due: none

Disable Android Upload Scripts in Tests
  .circleci/config.yml
  android/build.gradle
  example/.detoxrc.json
Due: android

Disable Android Upload Scripts on CI
  .circleci/config.yml
  android/build.gradle
  example/.detoxrc.json
Due: android

Disable iOS Upload Scripts on CI
  .circleci/config.yml
Due: none

Run probot-stale only on issues
  .github/stale.yml
Due: none

[MOB-12070] Disable Sorucemaps Scripts on CI (#940)
  .circleci/config.yml
  android/build.gradle
  example/.detoxrc.json
Due: android

Run probot-stale only on issues (#941)
  .github/stale.yml
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
