Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

chore(ios): bump sdk to v12.5.0 (#1085)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.5.1 (#1088)
  CHANGELOG.md
  android/native.gradle
Due: android

fix(android): resolve `JsonException` handling error (#1089)
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
Due: android

chore: integrate `reportCurrentViewChange`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
Due: javascript, android

fix: remove delay impacting current view
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

docs: update changelog.md
  CHANGELOG.md
Due: none

test: skip failing tests
  test/modules/Instabug.spec.ts
Due: none

fix(android): remove current view update delay (#1080)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

chore(android): integrate packages conflict snapshot
  android/build.gradle
  android/native.gradle
Due: android

fix: disable namespace support for AGP 7.3.0
  android/build.gradle
Due: android

chore(android): integrate early crashes snapshot
  android/native.gradle
Due: android

chore(ios): integrate crashes attachment snapshot
  RNInstabug.podspec
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(ios): integrate code push snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(android): integrate revert ANR in report screen change snapshot
  android/native.gradle
Due: android

feat: support code push
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

chore(ios): integrate crash fix snapshot
  examples/default/ios/Podfile
Due: none

feat(ios): support code push
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
Due: ios

chore(ios): add logs for CodePush
  ios/RNInstabug/InstabugReactBridge.m
  package.json
Due: ios

chore(ios): integrate code push fix
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

refactor(ios): remove re-initialization guard
  ios/RNInstabug/RNInstabug.m
Due: ios

chore(android): integrate `reportCurrentViewChange` API snapshot
  android/native.gradle
Due: android

chore(ios): update podfile lock
  examples/default/ios/Podfile.lock
Due: none

chore(android): Integrate ANR_CP_reportScreenChange snapshot
  .circleci/config.yml
  android/native.gradle
Due: android

chore: update Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

feat(android): support code push
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

chore(android): integrate ANR snapshot
  android/native.gradle
Due: android

Revert "chore(android): integrate current view discrepancy fix snapshot"
  android/native.gradle
Due: android

chore(android): integrate crashes attachment logs snapshot
  android/native.gradle
Due: android

chore(android): integrate crash linking to V3 fix snapshot
  android/native.gradle
Due: android

chore(android): integrate current view discrepancy fix snapshot
  android/native.gradle
Due: android

chore(android): integrate code push snapshot
  android/native.gradle
Due: android

chore: bump instabug-reactnative to v12.5.0
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

docs: update changelog.md
  CHANGELOG.md
  examples/default/ios/Podfile.lock
Due: none

release: v12.5.0 (#1091)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

docs: update changelog headers for date and compare link fixes (#1063)
  CHANGELOG.md
Due: none

feat(example): add user steps demos (#1047)
  examples/default/babel.config.js
  examples/default/index.js
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/Screen.tsx
  examples/default/src/components/Section.tsx
  examples/default/src/images/logo.png
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/FlatListScreen.tsx
  examples/default/src/screens/user-steps/GesturesScreen.tsx
  examples/default/src/screens/user-steps/ScrollViewScreen.tsx
  examples/default/src/screens/user-steps/SectionListScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
  examples/default/src/utils/createList.ts
  examples/default/src/utils/useDelayedRefresh.ts
  examples/default/yarn.lock
Due: none

chore: fix react native boost install via patch (#1087)
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/patches/react-native+0.72.3.patch
  examples/default/yarn.lock
Due: none
