Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix hybrid mode code push version init (#1108)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
Due: android

ci: migrate macos machines to m1 (#1114)
  .circleci/config.yml
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump sdk to v12.7.0 (#1125)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

feat(example): add nested complex views (#1111)
  .gitignore
  examples/default/src/components/InputField.tsx
  examples/default/src/components/NestedView.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
  examples/default/src/screens/user-steps/ComplexViewsScreen.tsx
  examples/default/src/screens/user-steps/UserStepsScreen.tsx
Due: none

release: v12.7.0 (#1127)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

feat: support switching to native network interception (#1120)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/RNInstabugTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/RNInstabug.h
  ios/RNInstabug/RNInstabug.m
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/Enums.ts
  test/mocks/mockNetworkLogger.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore: adjust changelog entry for supporting user steps
  CHANGELOG.md
Due: none

feat: support identify user by id (#1115)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

feat(example): Add more sdk crashes buttons
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/src/components/PlatformListTie.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
  src/native/NativeCrashReporting.ts
Due: javascript, android, ios

fix dev merge issue
  examples/default/src/screens/user-steps/BasicComponentsScreen.tsx
Due: none

feat_add_setNDKCrashesEnabled
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  src/modules/CrashReporting.ts
  src/native/NativeCrashReporting.ts
  test/mocks/mockCrashReporting.ts
  test/modules/CrashReporting.spec.ts
Due: javascript, android

fix android_testing issue
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
Due: android

feat_add_crash_buttons
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/Podfile.lock
  examples/default/ios/native/CrashReportingExampleModule.h
  examples/default/ios/native/CrashReportingExampleModule.m
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/native/NativePackage.ts
  examples/default/src/screens/CrashReportingScreen.tsx
  src/native/NativeCrashReporting.ts
Due: javascript, android

feat_add_crash_buttons
  android/src/main/java/com/instabug/reactlibrary/RNInstabugCrashReportingModule.java
  ios/RNInstabug/InstabugCrashReportingBridge.h
  ios/RNInstabug/InstabugCrashReportingBridge.m
Due: android, ios

feat_add_crash_buttons
  examples/default/ios/InstabugTests/InstabugCrashReportingTests.m
  examples/default/ios/Podfile.lock
Due: none

rename_test_cases
  android/src/test/java/com/instabug/reactlibrary/RNInstabugCrashReportingModuleTest.java
Due: android

chore(android): bump sdk to v12.7.1
  android/native.gradle
Due: android

chore: update changelog
  CHANGELOG.md
Due: none

chore(android): bump sdk to v12.7.1 (#1134)
  CHANGELOG.md
  android/native.gradle
Due: android

release: v12.7.1
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

fix_pr_comments
  src/modules/CrashReporting.ts
Due: javascript

feat/add-ndk-demo-crash-buttons
  src/modules/CrashReporting.ts
Due: javascript

release: v12.7.1 (#1135)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

feat:add-upload-so-files-command
  cli/UploadSoFiles.ts
  cli/index.ts
Due: none

feat: add network diagnostics callback
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/util/GlobalMocks.java
  android/src/test/java/com/instabug/reactlibrary/util/MockReflected.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/Instabug+CP.h
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

fix: PlatformListTile typo name
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

chore: add ChangeLog changes
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add more crash scenarios to example app (#1131)
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleCrashReportingModule.java
  examples/default/android/app/src/main/java/com/instabug/react/example/RNInstabugExampleReactnativePackage.java
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/native/CrashReportingExampleModule.h
  examples/default/ios/native/CrashReportingExampleModule.m
  examples/default/src/components/PlatformListTile.tsx
  examples/default/src/native/NativeCrashReporting.ts
  examples/default/src/native/NativePackage.ts
  examples/default/src/screens/CrashReportingScreen.tsx
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
