Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

feat: support app flows
  .eslintrc.js
  CHANGELOG.md
  android/native.gradle
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/Podfile
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  package.json
  src/models/Trace.ts
  src/modules/APM.ts
  src/native/NativeAPM.ts
  test/mocks/mockAPM.ts
  test/modules/APM.spec.ts
  yarn.lock
Due: javascript, android, ios

feat(example): add apm screen
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

docs: update changelog.md
  CHANGELOG.md
Due: none

feat(example): Add delayed button
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
Due: none

build(example): add backgroundTimer package
  examples/default/package.json
  examples/default/yarn.lock
Due: none

style(example): format files
  examples/default/src/components/InputField.tsx
Due: none

feat(example): add apm screen
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

merge network screen
  examples/default/package.json
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/apm/NetworkLogScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/yarn.lock
Due: none

merge network screen
  examples/default/src/screens/apm/NetworkLogScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

chore(ios): add app flows defect fix snapshot
  .circleci/config.yml
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

fix: Unexpected token (??) on old version
  src/modules/Instabug.ts
Due: javascript

fix: Unexpected token (??) on old version
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: lint issue
  CHANGELOG.md
Due: none

snapshot(android): add more logs for push notification INSD-10951
  android/build.gradle
  android/native.gradle
Due: android

chore(android): bump sdk to v12.9.0
  CHANGELOG.md
  android/native.gradle
Due: android

chore(android): bump sdk to v12.9.0
  CHANGELOG.md
Due: none

chore(ios): bump sdk to v12.9.0
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: 12.9.0
  CHANGELOG.md
  android/build.gradle
  package.json
Due: android

fix: cocopods version
  examples/default/ios/Podfile.lock
Due: none

chore(ios): bump sdk to v12.9.0 (#1169)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.9.0 (#1168)
  CHANGELOG.md
  android/native.gradle
Due: android

ciL add injazat ci
  .circleci/config.yml
Due: none

fix:lint
  .circleci/config.yml
Due: none

release/injazat
  android/native.gradle
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: android, ios

change snapshot
  android/native.gradle
Due: android

change snapshot
  package.json
Due: none

change snapshot
  examples/default/ios/Podfile.lock
Due: none
