Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

[MOB-12212] Remove Unused GitHub Apps (#953)
  .github/auto-assign-issues.yml
  .github/lock.yml
Due: none

Add `NetworkLogger.setFilter`
  CHANGELOG.md
  src/modules/NetworkLogger.ts
  test/modules/NetworkLogger.spec.ts
Due: javascript

Fix Codepush CLI Version Logs
  cli/UploadSourcemaps.ts
Due: none

[MOB-12215] Fix Codepush CLI Version Logs (#955)
  cli/UploadSourcemaps.ts
Due: none

Add Warnings and Logs
  android/sourcemaps.gradle
Due: android

Add More Windows Compatibility
  android/sourcemaps.gradle
Due: android

Change Resolving Order
  android/sourcemaps.gradle
Due: android

Add file existence check
  android/sourcemaps.gradle
Due: android

Use Generated Source Map on Android
  .circleci/config.yml
  CHANGELOG.md
  android/build.gradle
  android/sourcemaps.gradle
  android/upload_sourcemap.sh
  scripts/find-token.sh
Due: android

Fix typos
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

Fix `init` params order
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/InstabugConfig.ts
Due: javascript, android, ios

[MOB-12202] Create `examples` directory (#951)
  examples/default/ios/Podfile.lock
Due: none

Remove undeeded files/config
  examples/CodePush/.buckconfig
  examples/CodePush/.eslintrc.js
  examples/CodePush/.gitignore
  examples/CodePush/.ruby-version
  examples/CodePush/.watchmanconfig
  examples/CodePush/Gemfile
  examples/CodePush/__tests__/App-test.tsx
  examples/CodePush/_node-version
  examples/CodePush/android/app/_BUCK
  examples/CodePush/android/app/build_defs.bzl
  examples/CodePush/ios/CodePush.xcodeproj/project.pbxproj
  examples/CodePush/ios/CodePushTests/CodePushTests.m
  examples/CodePush/ios/CodePushTests/Info.plist
  examples/CodePush/ios/Podfile
  examples/CodePush/ios/Podfile.lock
  examples/CodePush/package.json
  examples/CodePush/src/App.tsx
  examples/CodePush/yarn.lock
Due: none

Fix formatting issues
  examples/CodePush/.watchmanconfig
  examples/CodePush/__tests__/App-test.tsx
  examples/CodePush/app.json
  examples/CodePush/index.js
  examples/CodePush/ios/CodePush/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/CodePush/ios/CodePush/Images.xcassets/Contents.json
Due: none

[MOB-11998] Use CLI in Sourcemaps Gradle Task (#938)
  .circleci/config.yml
  CHANGELOG.md
  android/build.gradle
  android/sourcemaps.gradle
  android/upload_sourcemap.sh
  scripts/find-token.sh
Due: android

Use RN Internal Sourcemap Script
  .circleci/config.yml
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
  ios/upload_sourcemap.sh
  react-native.config.js
Due: ios

Change Resolving Order
  ios/sourcemaps.sh
Due: ios

Remove Force Run on Debug Builds
  CHANGELOG.md
  ios/sourcemaps.sh
Due: ios

Localize Variables
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

Add Log Levels
  ios/sourcemaps.sh
Due: ios

Create Functions
  ios/sourcemaps.sh
Due: ios

Sync Project File
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

Create `resolve_var` Function
  ios/sourcemaps.sh
Due: ios

[MOB-11999] Use RN Internal Sourcemap Script (#942)
  .circleci/config.yml
  CHANGELOG.md
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
  ios/upload_sourcemap.sh
  react-native.config.js
Due: ios

Use Android snapshot
  android/build.gradle
  android/native.gradle
Due: android

Bump `advanced-checkout` orb to v1.1.0
  .circleci/config.yml
Due: none

Fix formatting issue
  .circleci/config.yml
Due: none

[MOB-12219] Bump `advanced-checkout` orb to `v1.1.0` (#956)
  .circleci/config.yml
Due: none

Use iOS Custom Build
  RNInstabug.podspec
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

Migrate Danger to TypeScript
  .circleci/config.yml
  Dangerfile
  dangerfile.ts
  package.json
  yarn.lock
Due: none

Update the source directory in Danger
  dangerfile.ts
Due: none

Improve the checks for `src` and PR description
  dangerfile.ts
Due: none

[MOB-11085] Migrate Danger to TypeScript (#957)
  .circleci/config.yml
  Dangerfile
  dangerfile.ts
  package.json
  yarn.lock
Due: none

Fix Android tests and use Promises
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
Due: android

Fix `invokeDeprecatedCallback` mock
  test/mocks/mockInstabugUtils.ts
Due: none

Change Callbacks to Promises in Replies
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  src/modules/Replies.ts
  src/native/NativeReplies.ts
Due: javascript, android, ios

Change Callbacks to Promises in APM
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  src/modules/APM.ts
  src/native/NativeAPM.ts
Due: javascript, android, ios

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
