Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

chore: fix formatting of package.json
  ndk/package.json
Due: none

chore: add iOS new APIs
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/modules/NetworkLogger.ts
Due: javascript, ios

chore: apply PR comments
  examples/default/android/app/build.gradle
  examples/default/android/app/src/main/res/xml/network_security_config.xml
  examples/default/src/App.tsx
  src/modules/Instabug.ts
Due: javascript

chore: apply PR comments
  src/modules/Instabug.ts
Due: javascript

chore: initial commit
  examples/default/ios/Podfile.lock
Due: none

chore: refactor Instabug.ts
  src/modules/Instabug.ts
Due: javascript

fix android app
  .gitignore
  examples/default/ios/Podfile.lock
  examples/hybridexampleapp/.eslintrc.js
  examples/hybridexampleapp/App.tsx
  examples/hybridexampleapp/android/app/build.gradle
  examples/hybridexampleapp/android/app/src/main/AndroidManifest.xml
  examples/hybridexampleapp/android/app/src/main/assets/index.android.bundle
  examples/hybridexampleapp/android/build.gradle
  examples/hybridexampleapp/android/settings.gradle
  examples/hybridexampleapp/app.json
  examples/hybridexampleapp/package.json
  examples/hybridexampleapp/yarn.lock
Due: none

feat: add ios app
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/HybridApplication.java
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/MainActivity.java
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/ReactNativeAppActivity.java
  examples/hybridexampleapp/android/gradle/libs.versions.toml
  examples/hybridexampleapp/ios/.xcode.env
  examples/hybridexampleapp/ios/HybridSampleApp.xcodeproj/project.pbxproj
  examples/hybridexampleapp/ios/HybridSampleApp.xcodeproj/xcshareddata/xcschemes/HybridSampleApp.xcscheme
  examples/hybridexampleapp/ios/HybridSampleApp.xcworkspace/contents.xcworkspacedata
  examples/hybridexampleapp/ios/HybridSampleApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/hybridexampleapp/ios/HybridSampleApp/AppDelegate.h
  examples/hybridexampleapp/ios/HybridSampleApp/AppDelegate.m
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/AccentColor.colorset/Contents.json
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/Contents.json
  examples/hybridexampleapp/ios/HybridSampleApp/Base.lproj/LaunchScreen.storyboard
  examples/hybridexampleapp/ios/HybridSampleApp/Base.lproj/Main.storyboard
  examples/hybridexampleapp/ios/HybridSampleApp/Info.plist
  examples/hybridexampleapp/ios/HybridSampleApp/MainViewController.h
  examples/hybridexampleapp/ios/HybridSampleApp/MainViewController.m
  examples/hybridexampleapp/ios/HybridSampleApp/SceneDelegate.h
  examples/hybridexampleapp/ios/HybridSampleApp/SceneDelegate.m
  examples/hybridexampleapp/ios/HybridSampleApp/main.m
  examples/hybridexampleapp/ios/HybridSampleAppTests/HybridSampleAppTests.m
  examples/hybridexampleapp/ios/HybridSampleAppUITests/HybridSampleAppUITests.m
  examples/hybridexampleapp/ios/HybridSampleAppUITests/HybridSampleAppUITestsLaunchTests.m
  examples/hybridexampleapp/ios/Podfile
  examples/hybridexampleapp/ios/Podfile.lock
Due: none

fix: linting errors
  examples/hybridexampleapp/.prettierrc.js
  examples/hybridexampleapp/README.md
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/ReactNativeAppActivity.java
  examples/hybridexampleapp/babel.config.js
  examples/hybridexampleapp/package.json
  examples/hybridexampleapp/tsconfig.json
  examples/hybridexampleapp/yarn.lock
Due: none

feat: configure react native app
  examples/hybridexampleapp/.bundle/config
  examples/hybridexampleapp/.eslintrc.js
  examples/hybridexampleapp/.prettierrc.js
  examples/hybridexampleapp/.watchmanconfig
  examples/hybridexampleapp/.yarn/releases/yarn-stable-temp.cjs
  examples/hybridexampleapp/App.tsx
  examples/hybridexampleapp/README.md
  examples/hybridexampleapp/__tests__/App.test.tsx
  examples/hybridexampleapp/app.json
  examples/hybridexampleapp/babel.config.js
  examples/hybridexampleapp/index.js
  examples/hybridexampleapp/jest.config.js
  examples/hybridexampleapp/metro.config.js
  examples/hybridexampleapp/package.json
  examples/hybridexampleapp/react-native.config.js
  examples/hybridexampleapp/tsconfig.json
  examples/hybridexampleapp/yarn.lock
  package.json
Due: none

Revert "feat(example): add features and buttons implementation (#1280)"
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/utils/showNotification.ts
Due: none

revert: pod changes
  examples/default/ios/Podfile.lock
Due: none

fix: prettier errors
  examples/hybridexampleapp/App.tsx
  examples/hybridexampleapp/__tests__/App.test.tsx
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/ReactNativeAppActivity.java
  examples/hybridexampleapp/index.js
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/AccentColor.colorset/Contents.json
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/hybridexampleapp/ios/HybridSampleApp/Assets.xcassets/Contents.json
  examples/hybridexampleapp/metro.config.js
Due: none

fix: delete unnecessary files
  examples/hybridexampleapp/android/app/build.gradle
  examples/hybridexampleapp/android/app/src/main/BuildConfig.java
  examples/hybridexampleapp/android/app/src/main/build.gradle
Due: none

Revert "Revert "feat(example): add features and buttons implementation (#1280)""
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/utils/showNotification.ts
Due: none

fix: use RNInstabug instead of native SDK
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/HybridApplication.java
Due: none

fix: use only ActivityMainBinding instead of the whole library
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/MainActivity.java
Due: none

fix: use the local keystore
  .gitignore
  examples/default/ios/Podfile.lock
  examples/hybridexampleapp/android/app/build.gradle
  examples/hybridexampleapp/android/app/debug.keystore
  examples/hybridexampleapp/android/app/src/main/BuildConfig.java
  examples/hybridexampleapp/yarn.lock
Due: none

fix: use RNInstabug instead of native sdk
  examples/default/ios/Podfile.lock
  examples/hybridexampleapp/ios/HybridSampleApp/AppDelegate.m
Due: none

fix: remove .gitignore files
  examples/default/ios/Podfile.lock
  examples/hybridexampleapp/.yarn/releases/yarn-stable-temp.cjs
  examples/hybridexampleapp/android/app/src/main/assets/index.android.bundle
Due: none

fix: ios app
  examples/hybridexampleapp/app.json
  examples/hybridexampleapp/ios/HybridSampleApp/MainViewController.m
  examples/hybridexampleapp/package.json
Due: none

fix: revert ios cocoapods version
  examples/default/ios/Podfile.lock
  examples/hybridexampleapp/ios/Podfile.lock
Due: none

chore: fix native iOS automatic capturing
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/screens/apm/NetworkScreen.tsx
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/Instabug.ts
  src/native/NativeNetworkLogger.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

fix: android app name
  examples/hybridexampleapp/android/app/src/main/AndroidManifest.xml
  examples/hybridexampleapp/android/app/src/main/java/com/instabug/hybridsampleapp/ReactNativeAppActivity.java
  examples/hybridexampleapp/android/gradle.properties
  examples/hybridexampleapp/ios/HybridSampleApp/Info.plist
  examples/hybridexampleapp/ios/HybridSampleApp/MainViewController.m
Due: none

fix: adnroid crash
  examples/hybrid/babel.config.js
  examples/hybrid/ios/HybridSampleApp/MainViewController.m
  examples/hybrid/package.json
  examples/hybrid/react-native.config.js
  examples/hybrid/yarn.lock
Due: none

chore: update native iOS snapshot and add the new network logging APIs.
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  ios/RNInstabug/InstabugNetworkLoggerBridge.h
  ios/RNInstabug/InstabugNetworkLoggerBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  ios/native.rb
  src/modules/Instabug.ts
  src/native/NativeNetworkLogger.ts
  src/utils/InstabugUtils.ts
Due: javascript, ios

feat(example): add features and buttons implementation (#1280)
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/CrashReportingScreen.tsx
  examples/default/src/screens/FeatureRequestsScreen.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/LegacyModeScreen.tsx
  examples/default/src/screens/SettingsScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/HttpScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/utils/showNotification.ts
Due: none

fix(android): add unknown launch type
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSessionReplayModule.java
Due: android
