Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

Fix JS tests and use Promises
  test/mocks/mockInstabug.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
Due: none

Fix `invokeDeprecatedCallback`
  src/utils/InstabugUtils.ts
Due: javascript

Test `invokeDeprecatedCallback`
  test/mocks/mockDevMode.ts
  test/utils/InstabugUtils.spec.ts
Due: none

Remove unneeded mocking
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
Due: none

Change Callbacks to Promises in Instabug
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript, android, ios

Change Callbacks to Promises in Surveys
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  src/modules/Surveys.ts
  src/native/NativeSurveys.ts
Due: javascript, android, ios

Fix iOS tests and use Promises
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Unify empty values
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  ios/RNInstabug/InstabugReactBridge.m
  src/native/NativeInstabug.ts
  src/native/NativeSurveys.ts
Due: javascript, android, ios

Integrate coverage plugin with Danger
  .circleci/config.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: none

[MOB-10486] Change APIs with Callbacks to Promises (#948)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugRepliesModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugSurveysModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugAPMModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugRepliesModuleTest.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugSurveysModuleTest.java
  examples/default/ios/InstabugTests/InstabugAPMTests.m
  examples/default/ios/InstabugTests/InstabugRepliesTests.m
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/ios/InstabugTests/InstabugSurveysTests.m
  ios/RNInstabug/InstabugAPMBridge.h
  ios/RNInstabug/InstabugAPMBridge.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/InstabugRepliesBridge.h
  ios/RNInstabug/InstabugRepliesBridge.m
  ios/RNInstabug/InstabugSurveysBridge.h
  ios/RNInstabug/InstabugSurveysBridge.m
  src/modules/APM.ts
  src/modules/Instabug.ts
  src/modules/Replies.ts
  src/modules/Surveys.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/native/NativeReplies.ts
  src/native/NativeSurveys.ts
  src/utils/InstabugUtils.ts
  test/mocks/mockDevMode.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/mocks/mockReplies.ts
  test/mocks/mockSurveys.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

test
  package.json
  yarn.lock
Due: none

Fix `yarn install`
  .circleci/config.yml
Due: none

Add coverage thresholds
  dangerfile.ts
Due: none

[MOB-11085] Integrate Danger Coverage Plugin (#958)
  .circleci/config.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: none

Update package.json
  package.json
Due: none

Skip sourcemaps upload in debug mode
  ios/sourcemaps.sh
Due: ios

Replace exit 1 with exit 0
  ios/sourcemaps.sh
Due: ios

Sync `project.pbxproj`
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
Due: none

[MOB-12243] Fix iOS Sourcemaps Script in Debug (#961)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

Run the CLI script with `node` instead of `npx`
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

Bump Android SDK to `v11.11.0`
  android/native.gradle
Due: android

Update changelog
  CHANGELOG.md
Due: none

[MOB-12244] Run the CLI script with `node` instead of `npx` (#962)
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  ios/sourcemaps.sh
Due: ios

[MOB-12233] Bump Android SDK to `v11.11.0` (#963)
  CHANGELOG.md
  android/native.gradle
Due: android

Bump iOS SDK to `v11.10.1`
  ios/native.rb
Due: ios

Sync `Podfile.lock`
  examples/default/ios/Podfile.lock
Due: none

[MOB-12241] Bump iOS SDK to `v11.10.1` (#964)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

Bump version to `11.10.0`
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

[MOB-12237] Release `v11.10.0` (#965)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

Fix changelog typos
  CHANGELOG.md
Due: none

[MOB-12245] Fix Changelog Typos (#967)
  CHANGELOG.md
Due: none

[MOB-11085] Migrate Danger to TypeScript (#957)
  .circleci/config.yml
  Dangerfile
  dangerfile.ts
  package.json
  yarn.lock
Due: none

[MOB-11997] Replace CLI `dir` flag with `file` (#937)
  cli/UploadSourcemaps.ts
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
