Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: '70...100'

  status:
    project:
      default:
        target: 55%
    patch:
      javascript:
        target: 90%
        flags:
          - javascript
      android:
        target: 35%
        flags:
          - android
      ios:
        target: 50%
        flags:
          - ios

flags:
  javascript:
    carryforward: true
    paths:
      - src
  android:
    carryforward: true
    paths:
      - android
  ios:
    carryforward: true
    paths:
      - ios

[MOB-12553] Release v11.13.0 (#998)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

[MOB-12473] Skip Recreating Sourcemaps Gradle Task If It Exists (#991)
  CHANGELOG.md
  android/sourcemaps.gradle
Due: android

[MOB-12550] Bump iOS SDK to v11.13.3 (#997)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

[MOB-12511] Replace JaCoCo’s `enabled` with `required` (#995)
  CHANGELOG.md
  android/jacoco.gradle
Due: android

Unify discard alert strings
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript, android, ios

Update Changelog
  CHANGELOG.md
Due: none

Fix Android tests
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
Due: android

[MOB-12609] Unify Discard Alert Buttons Strings (#1001)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.m
  src/native/NativeConstants.ts
  src/utils/ArgsRegistry.ts
  src/utils/Enums.ts
Due: javascript, android, ios

Add `reproStepsListItemNumberingTitle` string
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  ios/RNInstabug/ArgsRegistry.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
Due: javascript, android, ios

Test unifying repro steps list item numbering title
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: none

Change key type to `string`
  src/native/NativeConstants.ts
Due: javascript

Revert "Change key type to `string`"
  src/native/NativeConstants.ts
Due: javascript

[MOB-12640] Unify Repro Steps List Item Title String (#1002)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/ArgsRegistry.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  ios/RNInstabug/ArgsRegistry.m
  src/modules/Instabug.ts
  src/native/NativeConstants.ts
  src/utils/Enums.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore(versionSupport): add namespace in build.gradle to support upcoming 0.73 version
  android/build.gradle
  android/src/main/AndroidManifest.xml
Due: android

chore(versionSupport): fix PR comments
  CHANGELOG.md
  android/build.gradle
Due: android

chore(versionSupport): fix PR comments
  android/build.gradle
Due: android

chore(versionSupport): modify the comment for clarification
  android/build.gradle
Due: android

[MOB-12515] Support React Native 0.73 (#1004)
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
Due: android

chore(Danger): Remove danger ruby package
  Gemfile
  Gemfile.lock
Due: none

🔧 chore(detox): Add auto simulator detection
  examples/default/.detoxrc.js
Due: none

🔧 chore(detox): Add auto emulator avd detection
  examples/default/.detoxrc.js
Due: none

🪮 style(detox): Format `.detoxrc.js` via Prettier
  examples/default/.detoxrc.js
Due: none

[MOB-12702] Remove danger ruby package (#1008)
  Gemfile
  Gemfile.lock
Due: none

⚙️ build(ci): upgrade Node.js to v18.17.0
  .circleci/config.yml
Due: none

♻️ refactor(detox): Prioritize latest iOS simulator
  examples/default/.detoxrc.js
Due: none

♻️ refactor(utils): extract duplicate crash reporting code
  src/modules/CrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript

🔧 chore(utils): Resolve lint issues
  src/modules/CrashReporting.ts
Due: javascript

✅ test(utils): test sendCrashReport (Android/iOS)
  test/mocks/mockInstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: none

✅ test: refactor tests validating sendCrashReport
  test/modules/CrashReporting.spec.ts
Due: none

🔧 chore(gitignore): exclude local history
  .gitignore
Due: none

chore: exclude local history from .gitignore
  .gitignore
Due: none

refactor: extract duplicate crash reporting code
  src/modules/CrashReporting.ts
  src/utils/InstabugUtils.ts
Due: javascript

test: refactor tests validating sendCrashReport
  test/modules/CrashReporting.spec.ts
Due: none

test: add sendCrashReport tests in utils
  test/mocks/mockInstabugUtils.ts
  test/utils/InstabugUtils.spec.ts
Due: none

chore: Resolve utils lint issues
  src/modules/CrashReporting.ts
Due: javascript

chore: bump up react-native dependencies (#1007)
  .circleci/config.yml
  .gitignore
  examples/default/android/build.gradle
  examples/default/android/gradle.properties
  examples/default/android/gradle/wrapper/gradle-wrapper.properties
  examples/default/android/settings.gradle
  examples/default/ios/InstabugExample.xcodeproj/project.pbxproj
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/yarn.lock
  package.json
  src/native/NativeCrashReporting.ts
  test/modules/APM.spec.ts
  test/modules/Instabug.spec.ts
  test/modules/Replies.spec.ts
  test/modules/Surveys.spec.ts
  yarn.lock
Due: javascript

chore: add auto device selection detection (#1009)
  examples/default/.detoxrc.js
Due: none

test: refactor errorMock to use `TypeError`
  test/modules/CrashReporting.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: none
