Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

chore(android): integrate current view discrepancy fix snapshot
  android/native.gradle
Due: android

chore(ios): integrate crash fix snapshot
  examples/default/ios/Podfile
Due: none

chore(android): integrate crash linking to V3 fix snapshot
  android/native.gradle
Due: android

chore(android): integrate code push snapshot
  android/native.gradle
Due: android

feat(android): support code push
  android/src/main/java/com/instabug/reactlibrary/RNInstabug.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugTest.java
Due: android

chore(ios): integrate code push snapshot
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(android): Integrate ANR_CP_reportScreenChange snapshot
  .circleci/config.yml
  android/native.gradle
Due: android

chore: update Podfile.lock
  examples/default/ios/Podfile.lock
Due: none

chore(ios): update podfile lock
  examples/default/ios/Podfile.lock
Due: none

fix: remove delay impacting current view
  src/modules/Instabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

docs: update changelog.md
  CHANGELOG.md
Due: none

chore(android): integrate `reportCurrentViewChange` API snapshot
  android/native.gradle
Due: android

chore: integrate `reportCurrentViewChange`
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
Due: javascript, android

chore(android): integrate localization snapshot fix
  android/native.gradle
Due: android

refactor(ios): remove re-initialization guard
  ios/RNInstabug/RNInstabug.m
Due: ios

feat: support code push
  src/models/InstabugConfig.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript

chore(ios): integrate code push fix
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: none

chore(ios): add logs for CodePush
  ios/RNInstabug/InstabugReactBridge.m
  package.json
Due: ios

chore(android): integrate permission fix snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore(android): update snapshot
  android/native.gradle
Due: android

chore(android): integrate fix snapshot
  android/build.gradle
  android/native.gradle
Due: android

chore: remove snapshot generation dependencies
  .circleci/config.yml
Due: none

chore(andorid): integrate fix snapshot
  android/native.gradle
Due: android

docs: update changelog headers for date and compare link fixes (#1063)
  CHANGELOG.md
Due: none

chore: fix react native boost install via patch
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/patches/react-native+0.72.3.patch
  examples/default/yarn.lock
Due: none

chore: fix react native boost install via patch (#1087)
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/patches/react-native+0.72.3.patch
  examples/default/yarn.lock
Due: none

chore(ios): bump sdk to v12.5.0
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(ios): bump ios sdk 12.5.0 (#1085)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.5.1
  android/native.gradle
Due: android

chore(ios): bump sdk to v12.5.0 (#1085)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

chore(android): bump sdk to v12.5.1 (#1088)
  CHANGELOG.md
  android/native.gradle
Due: android

fix(android): resolve json exception handling error
  android/src/main/java/com/instabug/reactlibrary/utils/ReportUtil.java
Due: android

chore_add_dream-11-delete-unused-features
  scripts/dream-11-delete-unused-features
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
