Repository Instabug/Instabug-React-Native: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, android, ios

fix: Pr comments
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/native/NativeInstabug.ts
Due: javascript, android

fix: Pr comments
  src/utils/XhrNetworkInterceptor.ts
Due: javascript

chore: remove flipper
  android/src/main/AndroidManifest.xml
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/java/com/instabug/react/example/ReactNativeFlipper.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/release/java/com/instabugexample/ReactNativeFlipper.java
  examples/default/android/gradle.properties
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: android

fix: Pr comments
  test/utils/XhrNetworkInterceptor.spec.ts
Due: none

feat: export upload utils (#1252)
  .gitignore
  CHANGELOG.md
  cli/UploadSoFiles.ts
  cli/UploadSourcemaps.ts
  cli/commands/UploadSoFiles.ts
  cli/commands/UploadSourcemaps.ts
  cli/index.ts
  cli/upload/index.ts
  cli/upload/uploadSoFiles.ts
  cli/upload/uploadSourcemaps.ts
  rollup.config.js
  tsconfig.upload.json
  upload/package.json
Due: none

fix: Pr comments
  CHANGELOG.md
Due: none

chore(example): remove flipper (#1259)
  android/src/main/AndroidManifest.xml
  examples/default/android/app/build.gradle
  examples/default/android/app/src/debug/java/com/instabug/react/example/ReactNativeFlipper.java
  examples/default/android/app/src/main/java/com/instabug/react/example/MainApplication.java
  examples/default/android/app/src/release/java/com/instabugexample/ReactNativeFlipper.java
  examples/default/android/gradle.properties
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
Due: android

fix: network timestamp in android side
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix: PR comment
  android/src/main/java/com/instabug/reactlibrary/Constants.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android

fix: PR comments
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

fix(android): pass network start time in microseconds (#1260)
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat: support feature flags with variants (#1230)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  android/src/test/java/com/instabug/reactlibrary/RNInstabugReactnativeModuleTest.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  examples/default/src/screens/SettingsScreen.tsx
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  src/models/FeatureFlag.ts
  src/modules/Instabug.ts
  src/native/NativeInstabug.ts
  test/mocks/mockInstabug.ts
  test/modules/Instabug.spec.ts
Due: javascript, android, ios

chore(android): bump android sdk to v13.3.0
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v13.3.0
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.3.0
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore(android): bump android sdk to v13.3.0 (#1261)
  CHANGELOG.md
  android/native.gradle
Due: android

chore(ios): bump sdk to v13.3.0 (#1262)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  ios/native.rb
Due: ios

release: v13.3.0 (#1263)
  CHANGELOG.md
  android/build.gradle
  examples/default/ios/Podfile.lock
  package.json
Due: android

chore: remove duplicate app flows entries in changelog
  CHANGELOG.md
Due: none

chore: remove duplicate app flows entries in changelog (#1264)
  CHANGELOG.md
Due: none

chore: remove duplicate execution traces deprecation in changelog
  CHANGELOG.md
Due: none

chore: remove duplicate execution traces deprecation in changelog (#1265)
  CHANGELOG.md
Due: none

fix(android): APM network logging(#1253)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
Due: android

feat(example): add apm screen (#1141)
  CHANGELOG.md
  examples/default/ios/Podfile.lock
  examples/default/package.json
  examples/default/src/App.tsx
  examples/default/src/components/ClipboardTextInput.tsx
  examples/default/src/components/CustomButton.tsx
  examples/default/src/components/CustomImage.tsx
  examples/default/src/components/CustomText.tsx
  examples/default/src/components/InputField.tsx
  examples/default/src/components/PasteFromClipboardButton.tsx
  examples/default/src/navigation/HomeStack.tsx
  examples/default/src/screens/HomeScreen.tsx
  examples/default/src/screens/apm/APMScreen.tsx
  examples/default/src/screens/apm/FlowsScreen.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/src/screens/apm/TracesScreen.tsx
  examples/default/yarn.lock
Due: none

fix(android): resolve an OOM in network logs (#1244)
  CHANGELOG.md
  android/src/main/java/com/instabug/reactlibrary/RNInstabugAPMModule.java
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/ios/InstabugTests/InstabugSampleTests.m
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/RNInstabug/Util/IBGNetworkLogger+CP.h
  src/modules/NetworkLogger.ts
  src/native/NativeAPM.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugConstants.ts
  src/utils/InstabugUtils.ts
  src/utils/XhrNetworkInterceptor.ts
  test/mocks/mockAPM.ts
  test/mocks/mockInstabug.ts
  test/mocks/mockInstabugUtils.ts
  test/modules/NetworkLogger.spec.ts
  test/utils/InstabugUtils.spec.ts
Due: javascript, android, ios

feat: Network Spans first commit
  android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java
  examples/default/android/app/build.gradle
  examples/default/android/build.gradle
  examples/default/ios/Podfile
  examples/default/ios/Podfile.lock
  examples/default/src/App.tsx
  examples/default/src/screens/apm/NetworkScreen.tsx
  examples/default/test.json
  ios/RNInstabug/InstabugReactBridge.h
  ios/RNInstabug/InstabugReactBridge.m
  ios/native.rb
  package-lock.json
  src/models/NetworkSnapshot.ts
  src/modules/Instabug.ts
  src/modules/NetworkLogger.ts
  src/native/NativeInstabug.ts
  src/utils/InstabugUtils.ts
Due: javascript, android, ios

feat: add axios button to example app
  examples/default/src/screens/apm/NetworkScreen.tsx
Due: none

Path conditions:
  javascript: any of: src
  android: any of: android
  ios: any of: ios
